@model RAMMS.Web.UI.Models.FormV1Model;
@using RAMMS.Business.ServiceProvider;
@{
    ViewBag.TabTitle = "INSTRUCTED WORKS";
    ViewData["Title"] = "INSTRUCTED WORKS";
    Layout = "~/Views/Shared/_PortalLayout.cshtml";
}
<link href="~/js/jquery.timeentry/jquery.timeentry.css" rel="stylesheet">
<script src="~/js/jquery.timeentry/jquery.plugin.js"></script>
<script src="~/js/jquery.timeentry/jquery.timeentry.js"></script>
<script src="~/js/FormV1.js"></script>


@using (Html.BeginForm())
{

    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-12">

                <div class="d-flex justify-content-center pt-3 pb-3">
                    <div class="form-group mb-0" style="width:400px; float:left">
                        <span style="width:100px;float:left;"> <label for="Form_C1_C2_No_" style="padding: .5rem .5rem 0 !important;">Reference No</label></span>
                        <span style="width:300px; float:left">
                            @Html.TextBoxFor(m => m.FormV1.RefId, new { @disabled = true, @class = "form-control  validate {required, Reference No}", style = "width:300px;" })
                        </span>

                    </div>
                </div>
            </div>
            <div class="modal-body mh-182 pt-0 pb-0">
                <div class="col-lg-12">
                    <div class="w-100 bg-white pt-3" style="border-top:1px solid #dee2e6;">
                        <div id="accordion" class="col-lg-12">
                            <div class="accordion custom-accordion mb-3" id="custom-accordion-zero">
                                <div class="card mb-0">
                                    <div class="card-header" id="headingZero">
                                        <h5 class="m-0">
                                            <a class="custom-accordion-title py-1" data-toggle="collapse" href="#AccordPage0" aria-expanded="true" aria-controls="collapseZero">
                                                <span class="float-left">
                                                    <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="#007bff" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-plus-circle after-collapsed d-none"><circle cx="12" cy="12" r="10"></circle><line x1="12" y1="8" x2="12" y2="16"></line><line x1="8" y1="12" x2="16" y2="12"></line></svg>
                                                    <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-minus-circle before-collapsed d-none"><circle cx="12" cy="12" r="10"></circle><line x1="8" y1="12" x2="16" y2="12"></line></svg>
                                                </span>
                                                <span class="float-left" style="padding: 4px 8px;">
                                                    Form V1
                                                </span>
                                            </a>
                                        </h5>
                                    </div>
                                    <div id="AccordPage0" class="collapse show avowmodal-form formgrp-section" aria-labelledby="headingZero" data-parent="#custom-accordion-zero">
                                        <div class="card-body">
                                            <div class="row">
                                                <div class="form-group col-lg-10 col-md-12">
                                                    <div class="row">
                                                        <div class="col-lg-5">
                                                            <div class="row">
                                                                <div class="col-6 form-group pr-lg-0">
                                                                    <label for="RMU">RMU</label>
                                                                    @Html.DropDownListFor(Adtl => Adtl.FormV1.Rmu, (IEnumerable
<SelectListItem>)ViewData["RMU"], "Select RMU", new { @Id = "ddlrmu", @class = "form-control validate {required, RMU}" })

                                                                </div>
                                                                <div class="form-group col-lg-6 mb-0">
                                                                    <label for="RMU_Name">RMU Name</label>
                                                                    @Html.TextBoxFor(m => m.FormV1.RmuName, new { @Id = "ddlrmuDesc", @readonly = "readonly", @class = "form-control" })
                                                                </div>
                                                            </div>

                                                        </div>
                                                        <div class="col-lg-5">
                                                            <div class="row">
                                                                <div class="col-6 form-group px-0">
                                                                    <label for="RMU">Section Code</label>
                                                                    @Html.DropDownListFor(Ahdr => Ahdr.FormV1.SecCode, (IEnumerable<SelectListItem>)ViewData["SectionCodeList"], "Select Code", new { @Id = "ddlSecCode", @class = "form-control validate {required, Section Code}" })

                                                                </div>
                                                                <div class="form-group col-lg-6 mb-0">
                                                                    <label for="RMU_Name">Section Name</label>
                                                                    @Html.TextBoxFor(m => m.SecDescription, new { @Id = "formV1SecDesc", @readonly = "readonly", @class = "form-control " })
                                                                </div>
                                                            </div>

                                                        </div>
                                                        <div class="col-2 form-group px-0">
                                                            <label for="RMU"> Division Code</label>
                                                            @Html.TextBoxFor(m => m.DivisionName, new { @Id = "formV1DivisionDesc", @readonly = "readonly", @class = "form-control " })
                                                        </div>
                                                        <div class="col-lg-5">

                                                            <div class="row">

                                                                <div class="form-group col-lg-6">
                                                                    <label for="Name_of_Crew_Supervisor">Crew</label>
                                                                    @Html.DropDownListFor(Ahdr => Ahdr.FormV1.Crew, (IEnumerable
<SelectListItem>)ViewData["Supervisor"], "Select Users", new { @Id = "ddlCrew", @class = "form-control  validate {required, Name of Crew Supervisor}" })

                                                                </div>
                                                                <div class="form-group col-lg-6">
                                                                    <label for="Name_of_Crew_Supervisor">Crew Name</label>
                                                                    @Html.TextBoxFor(Dhdr => Dhdr.FormV1.Crewname, "", new { @id = "ddlCrewName", @class = "form-control" })
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <div class="col-lg-5">
                                                            <div class="row">
                                                                <div class="col-lg-6 form-group px-0">
                                                                    <label for="Ref_No_">Activity Code</label>
                                                                    @Html.DropDownListFor(Adtl => Adtl.FormV1.ActCode, (IEnumerable
<SelectListItem>)ViewData["ActCode"], "Select Activity", new { @Id = "ddlActCode", @class = "form-control validate {required, Activity}" })

                                                                </div>
                                                                <div class="col-lg-6 form-group">
                                                                    <label for="Ref_No_">Activity Name</label>
                                                                    @Html.TextBoxFor(Dhdr => Dhdr.FormV1.ActName, "", new { @class = "form-control" })
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <div class="col-2 form-group px-0">
                                                            <label for="Division_Code">Date </label>
                                                            @Html.EditorFor(m => m.FormV1.Dt, new { type = "date", htmlAttributes = new { @class = "form-control" } })
                                                        </div>
                                                        <div class="col-lg-5">
                                                            <div class="row">
                                                                <div class="col-6 form-group divsource">
                                                                    <label for="">Source</label>
                                                                    @Html.DropDownListFor(Adtl => Adtl.FormV1.Source, (new List<SelectListItem> { new SelectListItem { Text = "Form S1", Value = "S1" }, new SelectListItem { Text = "New", Value = "V1" } }), "Select Source", new { @Id = "ddlSource", @class = "form-control" })
                                                                </div>
                                                                <div class="form-group col-lg-6 mb-0 divRefno">
                                                                    <label for="">Reference No</label>
                                                                    @Html.DropDownListFor(Adtl => Adtl.FormV1.S1HPkRefNo, (new List<SelectListItem> { }), "Select Reference No", new { @Id = "ddlRefNo", @class = "form-control" })
                                                                </div>
                                                            </div>

                                                        </div>
                                                    </div>

                                                </div>
                                                <div class="form-group col-lg-2 col-md-12 pt-xl-4 px-md-4 px-sm-4">
                                                    <button id="btnFindDetails" type="button" onclick="Save('','')" class="btn btn-sm btn-themebtn col-md-12 col-xl-12 col-lg-2 mr-lg-1 float-right">Find Details</button>
                                                </div>
                                            </div>

                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div id="divFormV1Content">
                                @{
                                    Html.RenderPartial("_AddFormV1Content.cshtml", Model);
                                }
                                
                            </div>

                        </div>

                    </div>
                </div>
            </div>

        </div>
        <div class="col-md-12 float-right text-right custom-footer">
            <button type="button" class="btn btn-sm btn-outline-theme" onclick="GoBack()">Cancel</button>
            <button id="saveFormV1Btn" type="button" class="btn btn-sm btn-themebtn" onclick="Save('','')">Save</button>
            <button id="SubmitFormV1Btn" type="button" class="btn btn-sm btn-themebtn">Submit</button>
        </div>
    </div>



}

<style>

    .custom-tbl div.dataTables_scrollHead table thead tr th:nth-child(4), .custom-tbl div.dataTables_scrollBody table tbody tr td:nth-child(4), .custom-tbl div.dataTables_scrollHead table thead tr th:nth-child(2), .custom-tbl div.dataTables_scrollBody table tbody tr td:nth-child(2), .custom-tbl div.dataTables_scrollHead table thead tr th:nth-child(3), .custom-tbl div.dataTables_scrollBody table tbody tr td:nth-child(3), .custom-tbl div.dataTables_scrollHead table thead tr th:nth-child(4), .custom-tbl div.dataTables_scrollBody table tbody tr td:nth-child(4), .custom-tbl div.dataTables_scrollHead table thead tr th:nth-child(5), .custom-tbl div.dataTables_scrollBody table tbody tr td:nth-child(5) {
        width: auto !important;
        min-width: auto !important;
    }
</style>

<script>

    var onloadFlag = true;
    $(document).ready(function () {
         process.Init("FormV1", "@Model.FormV1.Status", @Model.FormV1.PkRefNo);
    });


        $('#ddlrmu').val("@Model.FormV1.Rmu");
        $('#ddlrmu').trigger('chosen:updated');

        $('#dllSecCode').val("@Model.FormV1.SecCode");
        $('#dllSecCode').trigger('chosen:updated');

        $('#ddlActCode').val("@Model.FormV1.ActCode");
        $('#ddlActCode').trigger('chosen:updated');

        $('#ddlCrew').val("@Model.FormV1.Crew");
        $('#ddlCrew').trigger('chosen:updated');

        $('#ddlAcknowledgedby').val("@Model.FormV1.UseridAck");
        $('#ddlAcknowledgedby').trigger('chosen:updated');

        $('#ddlAgreedby').val("@Model.FormV1.UseridAgr");
        $('#ddlAgreedby').trigger('chosen:updated');

        $('#ddlScheduledby').val("@Model.FormV1.UseridSch");
        $('#ddlScheduledby').trigger('chosen:updated');

</script>
