@using RAMMS.Business.ServiceProvider
@inject RAMMS.Business.ServiceProvider.Interfaces.ISecurity security;

@{
    ViewBag.TabTitle = "ERT - Form V1 - Road Asset Management and Maintenance System";
    Layout = "~/Views/Shared/_PortalLayout.cshtml";
    var isModifyPerm = security.IsPCModify(ModuleNameList.Management_and_Maintanence) ? "" : "hidden";
    var isDeletePerm = security.IsPCDelete(ModuleNameList.Management_and_Maintanence) ? "" : "hidden";
}

@model RAMMS.Web.UI.Models.FormV1Model;
<script type="text/javascript">
    $(document).ready(function () {
        $("#formV1DetSrchRMU").chosen();
        $('#formV1DetSrchSectionCode').chosen();
        $("#formV1AdvSearch").hide();

        $("#formV1DetSrchRMU").on("change", function () {
            var req = {};
            req.Section = '';
            req.RoadCode = '';
            req.RMU = $("#formV1DetSrchRMU option:selected").text().split("-")[1];

            $.ajax({
                url: '/MAM/RMUSecRoad',
                dataType: 'JSON',
                data: req,
                type: 'Post',
                success: function (data) {
                    if (data != null) {
                        $("#formV1DetSrchSectionCode").empty();
                        $("#formV1DetSrchSectionCode").append($("<option></option>").val("").html("Select Section Code"));
                        $.each(data.section, function (index, v) {
                            $("#formV1DetSrchSectionCode").append($("<option></option>").val(v.value).html(v.text));
                        });
                        $('#formV1DetSrchSectionCode').trigger("chosen:updated")

                    }
                },
                error: function (data) {

                    console.error(data);
                }
            });
        });
         $("#formV1DetSrchRMU").trigger("change");
    });

    function clearHeaderSearch() {
        $("#FormV1SmartSearch").val('');
        $("#formV1DetSrchRMU").val("").trigger("chosen:updated");
        $('#formV1DetSrchSectionCode').val("").trigger("chosen:updated");
        $("#formV1DetSrchCrew").val("").trigger("chosen:updated");
        $("#formV1DetSrchActivityCode").val("").trigger("chosen:updated");
        $("#FormV1SrchByFromDate").val('');
        $("#FormV1SrchByToDate").val('');

        var req = {};
        var _rmu = $("#formV1DetSrchRMU");
        var _road = $("#formV1DetSrchSectionCode");
        req.RMU = this.value;
        req.Section = '';
        req.RoadCode = '';

        $.ajax({
            url: '/ERT/RMUSecRoad',
            dataType: 'JSON',
            data: req,
            type: 'Post',
            success: function (data) {
                if (req.RMU == "") {
                    $("#formV1DetSrchRMU").empty();
                    $("#formV1DetSrchRMU").append($("<option></option>").val("").html("Select RMU"));
                    $.each(data.rmu, function (index, v) {
                        $("#formV1DetSrchRMU").append($("<option></option>").val(v.value).html(v.text));
                    });
                }
                if (req.Section == "") {
                    $("#formV1DetSrchSectionCode").empty();
                    $("#formV1DetSrchSectionCode").append($("<option></option>").val("").html("Select Section Code"));
                    $.each(data.section, function (index, v) {
                        $("#formV1DetSrchSectionCode").append($("<option></option>").val(v.value).html(v.text));
                    });

                    $('#formV1DetSrchSectionCode').trigger("chosen:updated");
                }
            },
            error: function (data) {

                console.error(data);
            }
        });
        $("#formV1SearchBtn").click();
    }

    function detailSearch() {
        $("#formV1AdvSearch").slideToggle(500);
    }

    function FormV1GridRefresh() {
        oTable = $('#FormV1GridView').DataTable();
        oTable.columns(0).search($("#FormV1SmartSearch").val().trim());
        oTable.columns(1).search($("#formV1DetSrchRMU").val().trim());
        oTable.columns(2).search($("#formV1DetSrchSectionCode").val().trim());
        otable.columns(3).search($("#formV1DetSrchCrew").val().trim());
        otable.columns(4).search($("#formV1DetSrchActivityCode").val().trim());
        oTable.columns(5).search($("#FormV1SrchByFromDate").val().trim());
        oTable.columns(6).search($("#FormV1SrchByToDate").val().trim());
        oTable.data = filterData;
        oTable.draw();
    }

 

    function DeleteHeaderRecord(id) {
        var headerId = id;
        app.Confirm("Are you sure you want to delete the record?, If Yes click OK.", function (e) {
            if (e) {
                InitAjaxLoading();
                $.ajax({
                    url: '/MAM/HeaderListFormV1Delete',
                    data: { headerId },
                    type: 'POST',
                    success: function (data) {
                        if (data > 0) {
                            app.ShowSuccessMessage('Successfully Deleted', false);
                            FormV1GridRefresh();
                        }
                        else {
                            app.ShowErrorMessage("Error in Deleted. Kindly retry later.", false);
                        }
                        HideAjaxLoading();
                    }
                });
            }
        });
    }

    function EditHeaderRecord(id){
        var headerId = id;
        localStorage.setItem("headeridvalue", headerId);

        window.location = "@Url.Action("HeaderListEdit", "ERT")" +
                "?headerId=" + headerId;
    }

</script>

@using (Html.BeginForm())
{
    //BreadCrumbs
    <div class="row">
        <div class="body-header w-100">
            <div class="col-lg-12">
                <div class="w-100 d-flex justify-content-md-between py-2 align-items-center">
                    <span class="mb-0 font-weight-bold font-20">FIELD VERIFICATION (Form V1)</span>
                    <nav aria-label="breadcrumb">
                        <ol class="breadcrumb breadcrumb-alt mb-0 bg-transparent">
                            <li class="breadcrumb-item">Home</li>
                            <li class="breadcrumb-item">MAM</li>
                            <li class="breadcrumb-item" aria-current="page">
                                Form V1
                            </li>
                        </ol>
                    </nav>
                </div>
            </div>
        </div>
    </div>

    <!-- Search Section -->
    <div class="search-section">
        <form action="" method="POST">
            <div class="row justify-content-center mb-1">
                <div class="col-sm-12 col-md-8 col-lg-6 col-xl-6 search-content">
                    <div class="input-group">
                        @Html.TextBoxFor(m => m.SearchObj.SmartInputValue, new { @Id = "FormV1SmartSearch", placeholder = "Search...", @class = "form-control" })
                        <div class="input-group-append">
                            <div class="btn-group">
                                <button id="formV1SearchBtn" type="button" class="bg-theme-color js-tooltip-enabled px-2 border-0" style="line-height: 18px;"><span class="search-icon"></span></button>
                                <button id="formV1SearchExpBtn" type="button" onclick="detailSearch()" class="bg-theme-color js-tooltip-enabled px-3 border-0"><span class="filter-icon"></span></button>
                                <button id="formBSearchClearBtn" type="button" onclick="clearHeaderSearch()" class="bg-theme-color js-tooltip-enabled px-3 border-0 rounded-right">Clear</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </form>
        @*Detail Search Screen*@
        <div id="detailSearch">
            <div class="row" id="formV1AdvSearch" style="display:block">
                <form id="formV1DetailsearchForm" name="formV1DetailsearchForm">
                    <div class="col-lg-8 offset-lg-2">
                        <div class="bg-white rounded float-left pt-3 pb-1 px-lg-4 px-md-3 advance-search-group w-100">
                            <div class="row">
                                <div class="form-group col-lg-2">
                                    @Html.Label("RMU ", "RMU ")
                                    @Html.DropDownListFor(Ahdr => Ahdr.SearchObj.RMU, (IEnumerable
                                <SelectListItem>)ViewData["RMU"], "Select RMU", new { @Id = "formV1DetSrchRMU", @class = "form-control" })
                                </div>
                                <div class="form-group col-lg-2">
                                    @Html.Label("RMU Name", "RMU Name")
                                    <input type="text" class="form-control" id="txtRmuName" disabled />
                                </div>
                                <div class="form-group col-lg-4">
                                    @Html.Label("Section Code ", "Section Code")
                                    @Html.DropDownListFor(Ahdr => Ahdr.SearchObj.Section, (IEnumerable
                                <SelectListItem>)ViewData["SectionCode"], "Select Section Code", new { @Id = "formV1DetSrchSectionCode", @class = "form-control widget-content-area" })
                                </div>
                                <div class="form-group col-lg-2">
                                    @Html.Label("Section Name", "Section Name")
                                    <input type="text" class="form-control" id="txtSectionName" disabled />
                                </div>
                                <div class="form-group col-lg-4">
                                    @Html.Label("Crew ", "Crew")
                                    @Html.DropDownListFor(Ahdr => Ahdr.SearchObj.Section, (IEnumerable
                                <CSelectListItem>)ViewData["User"], "Select Crew", new { @Id = "formV1DetSrchCrew", @class = "form-control widget-content-area" })
                                </div>
                                <div class="form-group col-lg-2">
                                    @Html.Label("Crew Name", "Crew Name")
                                    <input type="text" class="form-control" id="txtCrewName" disabled />
                                </div>
                            </div>
                            <div class="row" style="display:none">
                                <div class="form-group col-lg-2">
                                    @Html.Label("Activity Code", "Activity Code")
                                    @Html.DropDownListFor(Ahdr => Ahdr.SearchObj.ActivityCode, (IEnumerable
                                <SelectListItem>)ViewData["Activity"], "WeekNo", new { @Id = "formV1DetSrchActivityCode", @class = "form-control" })
                                </div>
                                <div class="form-group col-lg-2">
                                    @Html.Label("Activity Name", "Activity Name")
                                    <input type="text" class="form-control" id="txtCrewName" disabled />
                                </div>
                                <div class="form-group col-lg-2">
                                    <label for="Start Date">Start Date(DD-MM-YYY)</label>
                                    <input class="form-control" type="date" id="FormV1SrchByFromDate">
                                </div>
                                <div class="form-group col-lg-2">
                                    <label for="End Date">End Date(DD-MM-YYY)</label>
                                    <input class="form-control" type="date" id="FormV1SrchByToDate">
                                </div>
                                <div class="form-group col-lg-2"></div>
                                <div class="form-group col-lg-2"></div>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>

    <!-- Main Container -->
    <main id="main-container" class="row">
        <div class="col-lg-12">
            <div class="w-100 float-left position-relative">

                <div class="grid-btns">
                    <button type="button" class="btn btn-sm btn-themebtn" @isModifyPerm onclick="javascript:AddFormV1(0,0);"><span class="add-icon"></span> Add Form V1</button>
                </div>

                @*Form V1 Grid*@
                <div id="headerListGrid" class="w-100 dt-tbl-section">
                    @{
                        Html.RenderPartial("_HeaderListGrid.cshtml");
                    }
                </div>

            </div>
        </div>
    </main>
    <script type="text/javascript">
        function onFocusOut() {
            //debugger;

            var frmdate = $("#FormV1SrchByToDate").val();
            if (frmdate != "") {
                d = new Date(frmdate);
                var frmYear = d.getFullYear();
                if (frmYear < 2019 || frmYear > 2099) {
                    app.ShowErrorMessage('Year should between 2019 to 2099')
                    //$("#dtFromDate").val('');
                    $("#FormV1SrchByFromDate").focus();
                    $('#formV1SearchBtn').attr("disabled", true);
                }
                else {
                    $('#formV1SearchBtn').attr("disabled", false);
                }
            }
        }
    </script>
}


<script>
    function AddFormV1(pid, view) {
        window.location = "/MAM/AddFormV1" + "?id=" + pid + "&view=" + view;
    }
</script>