@using RAMMS.Business.ServiceProvider
@inject RAMMS.Business.ServiceProvider.Interfaces.ISecurity security;

@{
    ViewBag.TabTitle = "ERT - Form V2 - Road Asset Management and Maintenance System";
    Layout = "~/Views/Shared/_PortalLayout.cshtml";
    var isModifyPerm = security.IsPCModify(ModuleNameList.Routine_Maintanance_Work) ? "" : "hidden";
    var isDeletePerm = security.IsPCDelete(ModuleNameList.Routine_Maintanance_Work) ? "" : "hidden";
}

@model RAMMS.Web.UI.Models.FormV2Model;
<script type="text/javascript">
    $(document).ready(function () {
        $("#formV2DetSrchRMU").chosen();
        $('#formV2DetSrchSectionCode').chosen();
        $("#formV2AdvSearch").hide();

        $("#formV2DetSrchRMU").on("change", function () {
            var val = $(this).find(":selected").text();
            val = val.split("-").length > 0 ? val.split("-")[1] : val;
            $("#txtRmuName").val(val);
            var req = {};
            req.Section = '';
            req.RoadCode = '';
            req.RMU = $("#formV2DetSrchRMU option:selected").text().split("-")[1];
            //RM_div_RMU_Sec_Master
            $.ajax({
                url: '/MAM/RMUSecRoad',
                dataType: 'JSON',
                data: req,
                type: 'Post',
                success: function (data) {
                    if (data != null) {
                        $("#formV2DetSrchSectionCode").empty();
                        $("#formV2DetSrchSectionCode").append($("<option></option>").val("").html("Select Section Code"));
                        $.each(data.section, function (index, v) {
                            $("#formV2DetSrchSectionCode").append($("<option></option>").val(v.value).html(v.text));
                        });
                        $("#formV2DetSrchSectionCode").trigger("change");
                        $('#formV2DetSrchSectionCode').trigger("chosen:updated");

                    } else {

                    }
                },
                error: function (data) {

                    console.error(data);
                }
            });
        });


        $("#formV2DetSrchCrew").on("change", function () {
            var val = $("#formV2DetSrchCrew option:selected").text();
            var Name = val.split("-")[1];
            var ctrl = $(this);
            if (val != "99999999" && val != "") {
                $("#txtCrewName").val(Name);
            }
            else if (val == "99999999") {
                $("#txtCrewName").prop("disabled", false);
                $("#txtCrewName").val('');
            }
            else {
                $("#txtCrewName").prop("disabled", true);
                $("#txtCrewName").val('');
            }
            return false;
        });

        $("#formV2DetSrchSectionCode").on("change", function () {
            var ddldata = $(this).val();
            if (ddldata != "") {
               $("#txtSectionName").val(ddldata);
            }
            else {
                $("#txtSectionName").val("");
            }
            return false;
        });

        $("#formV2DetSrchActivityCode").on("change", function () {
        var val = $(this).find(":selected").text();
        val = val.split("-").length > 0 ? val.split("-")[1] : val;
        $("#formV2DetSrchActivityName").val(val);
        });

    });

    function clearHeaderSearch() {
        $("#FormV2SmartSearch").val('');
        $("#formV2DetSrchRMU").val("").trigger("chosen:updated");
        $('#formV2DetSrchSectionCode').val("").trigger("chosen:updated");
        $("#formV2DetSrchCrew").val("").trigger("chosen:updated");
        $("#formV2DetSrchActivityCode").val("").trigger("chosen:updated");
        $("#txtStartDtFrom").val('');
        $("#txtEndDtTo").val('');

        var req = {};
        var _rmu = $("#formV2DetSrchRMU");
        var _road = $("#formV2DetSrchSectionCode");
        req.RMU = this.value;
        req.Section = '';
        req.RoadCode = '';

        $.ajax({
            url: '/ERT/RMUSecRoad',
            dataType: 'JSON',
            data: req,
            type: 'Post',
            success: function (data) {
                if (req.RMU == "") {
                    $("#formV2DetSrchRMU").empty();
                    $("#formV2DetSrchRMU").append($("<option></option>").val("").html("Select RMU"));
                    $.each(data.rmu, function (index, v) {
                        $("#formV2DetSrchRMU").append($("<option></option>").val(v.value).html(v.text));
                    });
                }
                if (req.Section == "") {
                    $("#formV2DetSrchSectionCode").empty();
                    $("#formV2DetSrchSectionCode").append($("<option></option>").val("").html("Select Section Code"));
                    $.each(data.section, function (index, v) {
                        $("#formV2DetSrchSectionCode").append($("<option></option>").val(v.value).html(v.text));
                    });

                    $('#formV2DetSrchSectionCode').trigger("chosen:updated");
                }
            },
            error: function (data) {

                console.error(data);
            }
        });
        $("#formV2SearchBtn").click();
    }

    function detailSearch() {
        $("#formV2AdvSearch").slideToggle(500);
    }

    function FormV2GridRefresh() {

        oTable = $('#FormV2GridView').DataTable();
        oTable.columns(0).search($("#FormV2SmartSearch").val().trim());

        var rmuCode = $("#formV2DetSrchRMU").val();
        if (rmuCode != "") {
            oTable.columns(1).search(rmuCode);
        } else {
                oTable.columns(1).search("");
        }

        var secCode = $("#formV2DetSrchSectionCode").val();
        if (secCode != "") {
            oTable.columns(2).search(secCode);
        } else {
                oTable.columns(2).search("");
        }

        var crewCode = $("#formV2DetSrchCrew").val().trim();

        if (crewCode != "" ){
            oTable.columns(3).search(crewCode);
        }
        else {
            oTable.columns(3).search("");
        }

        var actCode = $("#formV2DetSrchActivityCode").val().trim();

        if (actCode != "" ){
            oTable.columns(4).search(actCode);
        }
        else {
            oTable.columns(4).search("");
        }

        oTable.columns(5).search($("#txtStartDtFrom").val().trim());
        oTable.columns(6).search($("#txtEndDtTo").val().trim());

        oTable.data = filterData;
        oTable.draw();
    }


    function EditFormV2(pid,view) {
        window.location = "@Url.Action("EditFormV2", "MAM")" +
            "?id=" + pid + "&view=" + view;
    }

    function DeleteHeaderRecord(id) {
        var headerId = id;
        app.Confirm("Are you sure you want to delete the record?, If Yes click OK.", function (e) {
            if (e) {
                InitAjaxLoading();
                $.ajax({
                    url: '/MAM/HeaderListFormV2Delete',
                    data: { headerId },
                    type: 'POST',
                    success: function (data) {
                        if (data > 0) {
                            app.ShowSuccessMessage('Successfully Deleted', false);
                            FormV2GridRefresh();
                        }
                        else if(data == -2) {
                            app.ShowErrorMessage("Form V2 cannot be deleted, first delete Form V3", false);
                        }
                        else {
                            app.ShowErrorMessage("Error in Deleted. Kindly retry later.", false);
                        }
                        HideAjaxLoading();
                    }
                });
            }
        });
    }

    function EditHeaderRecord(id){
        var headerId = id;
        localStorage.setItem("headeridvalue", headerId);

        window.location = "@Url.Action("HeaderListEdit", "ERT")" +
                "?headerId=" + headerId;
    }
</script>

@using (Html.BeginForm())
    @*{*@
    //BreadCrumbs
    <div class="row">
        <div class="body-header w-100">
            <div class="col-lg-12">
                <div class="w-100 d-flex justify-content-md-between py-2 align-items-center">
                    <span class="mb-0 font-weight-bold font-20">FIELD VERIFICATION (Form V2)</span>
                    <nav aria-label="breadcrumb">
                        <ol class="breadcrumb breadcrumb-alt mb-0 bg-transparent">
                            <li class="breadcrumb-item">Home</li>
                            <li class="breadcrumb-item">MAM</li>
                            <li class="breadcrumb-item" aria-current="page">
                                Form v2
                            </li>
                        </ol>
                    </nav>
                </div>
            </div>
        </div>
    </div>

    <!-- Search Section -->
    <div class="search-section">
        <form action="" method="POST">
            <div class="row justify-content-center mb-1">
                <div class="col-sm-12 col-md-8 col-lg-6 col-xl-6 search-content">
                    <div class="input-group">
                        @Html.TextBoxFor(m => m.SearchObj.SmartInputValue, new { @Id = "FormV2SmartSearch", placeholder = "Search...", @class = "form-control" })
                        <div class="input-group-append">
                            <div class="btn-group">
                                <button id="formV2SearchBtn" type="button" class="bg-theme-color js-tooltip-enabled px-2 border-0" style="line-height: 18px;"><span class="search-icon"></span></button>
                                <button id="formV2SearchExpBtn" type="button" onclick="detailSearch()" class="bg-theme-color js-tooltip-enabled px-3 border-0"><span class="filter-icon"></span></button>
                                <button id="formV2SearchClearBtn" type="button" onclick="clearHeaderSearch()" class="bg-theme-color js-tooltip-enabled px-3 border-0 rounded-right">Clear</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </form>
        @*Detail Search Screen*@
        <div id="detailSearch">
            <div class="row" id="formV2AdvSearch" style="display:block">
                <form id="formV2DetailsearchForm" name="formV2DetailsearchForm">
                    <div class="col-lg-8 offset-lg-2">
                        <div class="bg-white rounded float-left pt-3 pb-1 px-lg-4 px-md-3 advance-search-group w-100">
                            <div class="row">
                                <div class="form-group col-lg-2">
                                    @Html.Label("RMU ", "RMU ")
                                    @Html.DropDownListFor(Ahdr => Ahdr.SearchObj.RMU, (IEnumerable
                                <SelectListItem>)ViewData["RMU"], "Select RMU", new { @Id = "formV2DetSrchRMU", @class = "form-control" })
                                </div>
                                <div class="form-group col-lg-2">
                                    @Html.Label("RMU Name", "RMU Name")
                                    <input type="text" class="form-control" id="txtRmuName" disabled />
                                </div>
                                <div class="form-group col-lg-4">
                                    @Html.Label("Section Code ", "Section Code")
                                    @Html.DropDownListFor(Ahdr => Ahdr.SearchObj.Section, (IEnumerable
                                <SelectListItem>)ViewData["SectionCode"], "Select Section Code", new { @Id = "formV2DetSrchSectionCode", @class = "form-control widget-content-area" })
                                </div>
                                <div class="form-group col-lg-4">
                                    @Html.Label("Section Name", "Section Name")
                                    <input type="text" class="form-control" id="txtSectionName" disabled />
                                </div>
                                <div class="form-group col-lg-4">
                                    @Html.Label("Crew ", "Crew")
                                    @Html.DropDownListFor(Ahdr => Ahdr.SearchObj.Section, (IEnumerable
                                <CSelectListItem>)ViewData["User"], "Select Crew", new { @Id = "formV2DetSrchCrew", @class = "form-control widget-content-area" })
                                </div>
                                <div class="form-group col-lg-4">
                                    @Html.Label("Crew Name", "Crew Name")
                                    <input type="text" class="form-control" id="txtCrewName" disabled />
                                </div>
                                <div class="form-group col-lg-4">
                                    @Html.Label("Activity Code", "Activity Code")
                                    @Html.DropDownListFor(Ahdr => Ahdr.SearchObj.ActivityCode, (IEnumerable<SelectListItem>)ViewData["Activity"], "Select Activity Code", new { @Id = "formV2DetSrchActivityCode", @class = "form-control validate {required, Activity Code}" })
                                </div>
                                <div class="form-group col-lg-4">
                                    @Html.Label("Activity Name ", "Activity Name")
                                    <input type="text" class="form-control" id="formV2DetSrchActivityName" disabled />
                                </div>
                                <div class="form-group">
                                    <label for="C_Date">Start Date (DD-MM-YYYY)</label>
                                    <input class="form-control" type="date" id="txtStartDtFrom">
                                </div>
                                <div class="form-group">
                                    <label for="C_Date">End Date (DD-MM-YYYY)</label>
                                    <input class="form-control" type="date" id="txtEndDtTo">
                                </div>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>

    <!-- Main Container -->
    <main id="main-container" class="row">
        <div class="col-lg-12">
            <div class="w-100 float-left position-relative">

                <div class="grid-btns">
                    <button type="button" class="btn btn-sm btn-themebtn" @isModifyPerm onclick="javascript:EditFormV2(0,0);"><span class="add-icon"></span> Add Form V2</button>
                </div>

                @*Form V2 Grid*@
                <div id="headerListGrid" class="w-100 dt-tbl-section">
                    @{
                    Html.RenderPartial("_HeaderListGrid.cshtml");
                }
            </div>

        </div>
    </div>
</main>