@using RAMMS.Business.ServiceProvider
@inject RAMMS.Business.ServiceProvider.Interfaces.ISecurity security;
@{
    ViewBag.TabTitle = "INSTRUCTED WORKS";
    ViewData["Title"] = "INSTRUCTED WORKS";
    Layout = "~/Views/Shared/_PortalLayout.cshtml";

    var vd = Model.SaveFormQa1Model.Dt;
    string _WeekDate = vd.HasValue ? vd.Value.ToString("yyyy-MM-dd") : "";

    vd = Model.SaveFormQa1Model.DtWit;
    string _DtWit = vd.HasValue ? vd.Value.ToString("yyyy-MM-dd") : "";

    vd = Model.SaveFormQa1Model.DtAudit;
    string _DtAudit = vd.HasValue ? vd.Value.ToString("yyyy-MM-dd") : "";

    var _Auser = Model.SaveFormQa1Model.UseridAudit;
    var _Wuser = Model.SaveFormQa1Model.UseridWit;
    var _Assguser = Model.SaveFormQa1Model.UseridAssgn;
    var _Exeuser = Model.SaveFormQa1Model.UseridExec;
    var _Chckuser = Model.SaveFormQa1Model.UseridChked;

    bool isSubmit = (security.IsJKRSHQ || security.IsDivisonalEngg || security.IsJKRSSuperiorOfficer || security.isOperRAMSExecutive || security.IsExecutive || security.IsHeadMaintenance || security.IsRegionManager);
    bool IsApproved = (security.IsJKRSHQ || security.IsDivisonalEngg || security.IsJKRSSuperiorOfficer);


}

@model RAMMS.Web.UI.Models.FormQa1Model;

<script type="text/javascript" src="~/js/FormQa1.js" asp-append-version="true"></script>

<script type="text/javascript">
    $(document).ready(function () {
        process.Init("FormQA1", "@Model.SaveFormQa1Model.Status", @Model.SaveFormQa1Model.PkRefNo);
        $("#formQa1AuditedBy").val('@_Auser').trigger("chosen:updated");
        $("#formQa1WitnessedBy").val('@_Wuser').trigger("chosen:updated");
        $("#formQa1AssignedBy").val('@_Assguser').trigger("chosen:updated");
        $("#formQa1ExecutedBy").val('@_Exeuser').trigger("chosen:updated");
        $("#formQa1CheckedBy").val('@_Chckuser').trigger("chosen:updated");
    });
</script>


<style>
.form-group .form-control.border-error,
.border-error {
    border-color: red !important;
    
}


</style>

<div class="container-fluid" id="divFormQA1">
    <div class="row">
        <div class="col-lg-12">
            <div class="d-flex justify-content-center pt-3 pb-3">
                <div class="form-group mb-0" style="width:400px; float:left">
                    @Html.Label("Reference No.", "Reference No.", new { style = "float:left; padding: .5rem .5rem 0 !important;" })
                    @Html.TextBoxFor(m => m.SaveFormQa1Model.RefId , new { @Id = "formQa1ReferenceNo", @disabled = true, @class = "form-control  validate {required, Reference No}", style = "width:300px;" })

                </div>
            </div>
        </div>
        <div class="modal-body mh-182 pt-0 pb-0">
            <div class="col-lg-12">
                <div class="w-100 bg-white pt-3" style="border-top:1px solid #dee2e6;">
                    <div id="accordion" class="col-lg-12">
                        <div class="accordion custom-accordion mb-3" id="custom-accordion-zero">
                            <div class="card mb-0">
                                <div class="card-header" id="headingZero">
                                    <h5 class="m-0">
                                        <a class="custom-accordion-title py-1" data-toggle="collapse" href="#AccordPage0" aria-expanded="true" aria-controls="collapseZero">
                                            <span class="float-left">
                                                <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="#007bff" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-plus-circle after-collapsed d-none"><circle cx="12" cy="12" r="10"></circle><line x1="12" y1="8" x2="12" y2="16"></line><line x1="8" y1="12" x2="16" y2="12"></line></svg>
                                                <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-minus-circle before-collapsed d-none"><circle cx="12" cy="12" r="10"></circle><line x1="8" y1="12" x2="16" y2="12"></line></svg>
                                            </span>
                                            <span class="float-left" style="padding: 4px 8px;">
                                                Form QA1 (Quality Assurance)
                                            </span>
                                        </a>
                                    </h5>
                                </div>
                                <div id="AccordPage0" class="collapse show avowmodal-form formgrp-section show" aria-labelledby="headingZero" data-parent="#custom-accordion-zero">
                                    <div class="card-body">
                                        <div class="row">
                                            <div id="FormQa1Headers" class="form-group col-lg-12 col-md-12">
                                                <div class="row">
                                                    <div class="col-lg-4">
                                                        <div class="row">
                                                            <div class="col-lg-6">
                                                                @Html.Label("RMU", "RMU")
                                                                @Html.DropDownListFor(Adtl => Adtl.SaveFormQa1Model.Rmu, (IEnumerable
                                                                <SelectListItem>)ViewData["RMU"], "Select RMU", new { @Id = "formQa1rmu", @class = "form-control validate {required, RMU}" })
                                                            </div>
                                                            <div class="form-group col-lg-6 mb-0 pl-0">
                                                                @Html.Label("RMU", "RMU")
                                                                @Html.TextBoxFor(m => m.SaveFormQa1Model.RmuName , new { @Id = "formQa1rmuDesc", @readonly = "readonly", @class = "form-control validate {required, RMU Name}" })
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="col-lg-4">
                                                        <div class="row">
                                                            <div class="col-6 form-group px-0">
                                                                @Html.Label("Section Code ", "Section Code")
                                                                @Html.DropDownListFor(Ahdr => Ahdr.SaveFormQa1Model.SecCode, (IEnumerable
                                                                <SelectListItem>)ViewData["SectionCode"], "Select Section Code", new { @Id = "formQa1SectionCode", @class = "form-control widget-content-area validate {required, Section Code}" })
                                                            </div>
                                                            <div class="form-group col-lg-6 mb-0">
                                                                @Html.Label("Section Name", "Section Name")
                                                                @Html.TextBoxFor(m => m.SaveFormQa1Model.SecCode , new { @Id = "formQa1SectionName", @readonly = "readonly", @class = "form-control  validate {required, Section Name}" })
                                                            </div>
                                                        </div>

                                                    </div>
                                                    <div class="col-lg-4">
                                                        <div class="row">
                                                            <div class="col-6 form-group px-0">
                                                                @Html.Label("Road Code", "Road Code")
                                                                @Html.DropDownListFor(m => m.SaveFormQa1Model.RoadCode ,(IEnumerable<SelectListItem>)ViewData["RD_Code"],  "Select Road Code", new { @id = "formQa1RoadCode", @class = "form-control validate {required, Road Code}" })
                                                            </div>
                                                            <div class="form-group col-lg-6 mb-0">
                                                                @Html.Label("Road Name", "Road Name")
                                                                @Html.TextBoxFor(m => m.SaveFormQa1Model.RoadName , new { @Id = "formQa12RoadName", @readonly = "readonly", @class = "form-control  validate {required, Road Name}" })
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="col-lg-4">
                                                        <div class="row">
                                                            <div class="col-lg-6 form-group">
                                                                @Html.Label("Activity Code", "Activity Code")
                                                                @Html.DropDownListFor(m => m.SaveFormQa1Model.ActCode ,(IEnumerable<SelectListItem>)ViewData["Activity"], "Select Activity Code", new { @Id = "formQa1ActivityCode", @class = "form-control validate {required, Activity Code}" })
                                                            </div>
                                                            <div class="col-lg-6 form-group pl-0">
                                                                @Html.Label("Activity Name ", "Activity Name")
                                                                @Html.TextBoxFor(m => m.SaveFormQa1Model.ActName, new { @id="formQa1ActivityName", @readonly = "readonly", @class = "form-control validate {required, Activity Name}" })
                                                            </div>
                                                        </div>
                                                    </div>

                                                    <div class="col-lg-6">
                                                        <div class="row">
                                                            <div class="form-group col-lg-4 px-0">
                                                                @Html.Label("Crew Supervisor", "Crew Supervisor")
                                                                @Html.DropDownListFor(Ahdr => Ahdr.SaveFormQa1Model.Crew, (IEnumerable
                                                                <CSelectListItem>)ViewData["User"], "Select Crew", new { @Id = "formQa1Crew", @class = "form-control widget-content-area validate {required, Crew}" })
                                                            </div>
                                                            <div class="form-group col-lg-6">
                                                                @Html.Label("Crew Name", "Crew Name")
                                                                @Html.TextBoxFor(m => m.SaveFormQa1Model.Crewname, new { @id="formQa1CrewName", @readonly = "readonly", @class = "form-control  validate {required, Crew Name}" })
                                                            </div>

                                                        </div>
                                                    </div>
                                                    <div class="col-lg-4">
                                                        <div class="row">
                                                            <div class="form-group col-lg-6 mb-0">
                                                                @Html.Label("Date (DD-MM-YYYY)", "Date (DD-MM-YYYY)")
                                                                <input type="date" min="2019-01-01" max="2099-12-31" class="datepicker form-control disableinput validate {required, Date}" id="FormQa1Date" value="@_WeekDate" name="FormQa1Date">
                                                            </div>
                                                            <div class="col-lg-6 form-group">
                                                                @Html.Label("Week No", "Week No")
                                                                @Html.DropDownListFor(Ahdr => Ahdr.SaveFormQa1Model.WeekNo, (IEnumerable
                                                                <SelectListItem>)ViewData["WeekNo"], "Select Week", new { @Id = "formQa1WeekNo", @class = "form-control  validate {required, Week No}" })
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="col-lg-3">
                                                        <div class="row">
                                                            <div class="col-lg-6 form-group">
                                                                @Html.Label("Day of the Week", "Day of the Week")
                                                                @Html.DropDownListFor(Ahdr => Ahdr.SaveFormQa1Model.Day, (IEnumerable
                                                                <SelectListItem>)ViewData["Day"], "Select Day", new { @Id = "formQa1Day", @class = "form-control  validate {required, Day}" })
                                                            </div>
                                                            <div class="col-lg-6 form-group">
                                                                @Html.Label("Year (YYYY)", "Year (YYYY)")
                                                                @Html.DropDownListFor(Ahdr => Ahdr.SaveFormQa1Model.Year, (IEnumerable
                                                                <SelectListItem>)ViewData["Year"], "Select Year", new { @Id = "formQa1Year", @class = "form-control validate {required, Year}" })
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="form-group col-lg-2">
                                                        <button id="btnFindDetails" type="button" class="btn btn-sm btn-themebtn col-md-12 col-xl-12 col-lg-2 mt-4 mr-lg-1 float-right">Find Details</button>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="accordion custom-accordion mb-3" id="custom-accordion-one">
                            <div class="card mb-0">
                                <div class="card-header" id="headingOne">
                                    <h5 class="m-0">
                                        <a class="custom-accordion-title py-1 collapsed" data-toggle="collapse" href="#AccordPage1" aria-expanded="false" aria-controls="collapseOne">
                                            <span class="float-left">
                                                <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="#007bff" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-plus-circle after-collapsed d-none"><circle cx="12" cy="12" r="10"></circle><line x1="12" y1="8" x2="12" y2="16"></line><line x1="8" y1="12" x2="16" y2="12"></line></svg>
                                                <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-minus-circle before-collapsed d-none"><circle cx="12" cy="12" r="10"></circle><line x1="8" y1="12" x2="16" y2="12"></line></svg>
                                            </span>
                                            <span class="float-left" style="padding: 4px 8px;">Labour</span>
                                        </a>
                                    </h5>
                                </div>
                                <div id="AccordPage1" class="collapse avowmodal-form formgrp-section" aria-labelledby="headingOne" data-parent="#custom-accordion-one">
                                    <div class="card-body">
                                        @{
                                            Html.RenderPartial("_Labour.cshtml", Model.SaveFormQa1Model.Lab);
                                        }
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="accordion custom-accordion mb-3" id="custom-accordion-zero2">
                            <div class="card mb-0">
                                <div class="card-header" id="headingZero1">
                                    <h5 class="m-0">
                                        <a class="custom-accordion-title py-1 collapsed" data-toggle="collapse" href="#AccordPage02" aria-expanded="false" aria-controls="collapseZero">
                                            <span class="float-left">
                                                <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="#007bff" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-plus-circle after-collapsed d-none"><circle cx="12" cy="12" r="10"></circle><line x1="12" y1="8" x2="12" y2="16"></line><line x1="8" y1="12" x2="16" y2="12"></line></svg>
                                                <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-minus-circle before-collapsed d-none"><circle cx="12" cy="12" r="10"></circle><line x1="8" y1="12" x2="16" y2="12"></line></svg>
                                            </span>
                                            <span class="float-left" style="padding: 4px 8px;">Equipment & Vehicles</span>
                                        </a>
                                    </h5>
                                </div>

                                <div id="AccordPage02" class="collapse avowmodal-form formgrp-section" aria-labelledby="headingZero1" data-parent="#custom-accordion-zero2">
                                    <div class="card-body">

                                        <div id="content">
                                            <div class="w-100 position-relative in-tbl-btns custom-tbl">
                                                @{
                                                    Html.RenderPartial("_EquipListGrid.cshtml");
                                                }
                                            </div>
                                        </div>

                                        <div id="FormQa1EquipModal" class="modal fade" role="dialog">
                                            <div class="modal-dialog modal-lg">

                                                <!-- Modal content-->
                                                <div class="modal-content">
                                                    <div class="modal-header">
                                                        <h4 class="modal-title w-100" id="FormQa1EquipModalid">
                                                            Add Equipment & Vehicles
                                                        </h4>
                                                        <button type="button" class="close w-25 float-left text-right" onclick="GoBackEquip()" data-dismiss="#FormQa1EquipModal">&times;</button>

                                                    </div>
                                                    <div id="div-equip-container">
                                                    </div>
                                                </div>

                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="accordion custom-accordion mb-3" id="custom-accordion-zero3">
                            <div class="card mb-0">
                                <div class="card-header" id="headingZero">
                                    <h5 class="m-0">
                                        <a class="custom-accordion-title py-1 collapsed" data-toggle="collapse" href="#AccordPage03" aria-expanded="true" aria-controls="collapseZero">
                                            <span class="float-left">
                                                <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="#007bff" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-plus-circle after-collapsed d-none"><circle cx="12" cy="12" r="10"></circle><line x1="12" y1="8" x2="12" y2="16"></line><line x1="8" y1="12" x2="16" y2="12"></line></svg>
                                                <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-minus-circle before-collapsed d-none"><circle cx="12" cy="12" r="10"></circle><line x1="8" y1="12" x2="16" y2="12"></line></svg>
                                            </span>
                                            <span class="float-left" style="padding: 4px 8px;"> Material</span>
                                        </a>
                                    </h5>

                                </div>
                                <div id="AccordPage03" class="collapse avowmodal-form formgrp-section" aria-labelledby="headingZero" data-parent="#custom-accordion-zero">
                                    <div class="card-body">
                                        <div id="content">
                                            <div class="w-100 position-relative in-tbl-btns custom-tbl">
                                                @{
                                                    Html.RenderPartial("_MaterialListGrid.cshtml", Model.SaveFormQa1Model.Mat);
                                                }
                                            </div>
                                        </div>
                                        <div id="FormQa1MaterialModal" class="modal fade" role="dialog">
                                            <div class="modal-dialog modal-lg">

                                                <!-- Modal content-->
                                                <div class="modal-content">
                                                    <div class="modal-header">

                                                        <h4 class="modal-title w-100 float-left" id="FormQa1MaterialModalid">Add Material</h4>
                                                        <button type="button" class="close float-left w-25 text-right" onclick="GoBackMat()" aria-label="Close"><span aria-hidden="true"> &times;</span></button>
                                                    </div>
                                                    <div id="div-mat-container">
                                                    </div>
                                                </div>

                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="accordion custom-accordion mb-3" id="custom-accordion-two">
                            <div class="card mb-0">
                                <div class="card-header" id="headingTwo">
                                    <h5 class="m-0">
                                        <a class="custom-accordion-title py-1 collapsed" data-toggle="collapse" href="#AccordPage2" aria-expanded="false" aria-controls="collapseTwo">
                                            <span class="float-left">
                                                <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="#007bff" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-plus-circle after-collapsed d-none"><circle cx="12" cy="12" r="10"></circle><line x1="12" y1="8" x2="12" y2="16"></line><line x1="8" y1="12" x2="16" y2="12"></line></svg>
                                                <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-minus-circle before-collapsed d-none"><circle cx="12" cy="12" r="10"></circle><line x1="8" y1="12" x2="16" y2="12"></line></svg>
                                            </span>
                                            <span class="float-left" style="padding: 4px 8px;">
                                                Work Execution
                                            </span>
                                        </a>
                                    </h5>
                                </div>
                                <div id="AccordPage2" class="collapse avowmodal-form formgrp-section" aria-labelledby="headingTwo" data-parent="#custom-accordion-two">
                                    @{
                                        Html.RenderPartial("_WorkExecution.cshtml", Model.SaveFormQa1Model.We);
                                    }
                                </div>
                            </div>
                        </div>


                        <div class="accordion custom-accordion mb-3" id="custom-accordion-six">
                            <div class="card mb-0">
                                <div class="card-header" id="headingsix">
                                    <h5 class="m-0">
                                        <a class="custom-accordion-title py-1 collapsed" data-toggle="collapse" href="#AccordPage6" aria-expanded="false" aria-controls="collapsesix">
                                            <span class="float-left">
                                                <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="#007bff" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-plus-circle after-collapsed d-none"><circle cx="12" cy="12" r="10"></circle><line x1="12" y1="8" x2="12" y2="16"></line><line x1="8" y1="12" x2="16" y2="12"></line></svg>
                                                <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-minus-circle before-collapsed d-none"><circle cx="12" cy="12" r="10"></circle><line x1="8" y1="12" x2="16" y2="12"></line></svg>
                                            </span>
                                            <span class="float-left" style="padding: 4px 8px;">
                                                Specific Site Condition
                                            </span>
                                        </a>
                                    </h5>
                                </div>
                                <div id="AccordPage6" class="collapse avowmodal-form formgrp-section" aria-labelledby="headingsix" data-parent="#custom-accordion-six">
                                    @{
                                        Html.RenderPartial("_SpecificCondition.cshtml", Model.SaveFormQa1Model.Ssc);
                                    }
                                </div>
                            </div>
                        </div>


                        <div class="accordion custom-accordion mb-3" id="custom-accordion-seven">
                            <div class="card mb-0">
                                <div class="card-header" id="heading7">
                                    <h5 class="m-0">
                                        <a class="custom-accordion-title py-1 collapsed" data-toggle="collapse" href="#AccordPage7" aria-expanded="false" aria-controls="collapseseven">
                                            <span class="float-left">
                                                <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="#007bff" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-plus-circle after-collapsed d-none"><circle cx="12" cy="12" r="10"></circle><line x1="12" y1="8" x2="12" y2="16"></line><line x1="8" y1="12" x2="16" y2="12"></line></svg>
                                                <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-minus-circle before-collapsed d-none"><circle cx="12" cy="12" r="10"></circle><line x1="8" y1="12" x2="16" y2="12"></line></svg>
                                            </span>
                                            <span class="float-left" style="padding: 4px 8px;">
                                                Work Completion Quality
                                            </span>
                                        </a>
                                    </h5>
                                </div>
                                <div id="AccordPage7" class="collapse avowmodal-form formgrp-section" aria-labelledby="heading7" data-parent="#custom-accordion-seven">
                                    @{
                                        Html.RenderPartial("_WorkCompletionQuality.cshtml", Model.SaveFormQa1Model.Wcq);
                                    }

                                </div>
                            </div>
                        </div>

                        <div class="accordion custom-accordion mb-3" id="custom-accordion-onetwo">
                            <div class="card mb-0">
                                <div class="card-header" id="headingonetwo">
                                    <h5 class="m-0">
                                        <a class="custom-accordion-title py-1 collapsed" data-toggle="collapse" href="#AccordPage12" aria-expanded="false" aria-controls="collapseonewo">
                                            <span class="float-left">
                                                <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="#007bff" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-plus-circle after-collapsed d-none"><circle cx="12" cy="12" r="10"></circle><line x1="12" y1="8" x2="12" y2="16"></line><line x1="8" y1="12" x2="16" y2="12"></line></svg>
                                                <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-minus-circle before-collapsed d-none"><circle cx="12" cy="12" r="10"></circle><line x1="8" y1="12" x2="16" y2="12"></line></svg>
                                            </span>
                                            <span class="float-left" style="padding: 4px 8px;">
                                                Testing
                                            </span>
                                        </a>
                                    </h5>
                                </div>
                                <div id="AccordPage12" class="collapse avowmodal-form formgrp-section" aria-labelledby="headingonetwo" data-parent="#custom-accordion-onetwo">
                                    @{
                                        Html.RenderPartial("_Testing.cshtml", Model.SaveFormQa1Model.Tes);
                                    }
                                </div>
                            </div>
                        </div>
                        <div class="accordion custom-accordion mb-3" id="custom-accordion-onesix">
                            <div class="card mb-0">
                                <div class="card-header" id="headingonesix">
                                    <h5 class="m-0">
                                        <a class="custom-accordion-title py-1 collapsed" data-toggle="collapse" href="#AccordPage16" aria-expanded="false" aria-controls="collapseonesix">
                                            <span class="float-left">
                                                <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="#007bff" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-plus-circle after-collapsed d-none"><circle cx="12" cy="12" r="10"></circle><line x1="12" y1="8" x2="12" y2="16"></line><line x1="8" y1="12" x2="16" y2="12"></line></svg>
                                                <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-minus-circle before-collapsed d-none"><circle cx="12" cy="12" r="10"></circle><line x1="8" y1="12" x2="16" y2="12"></line></svg>
                                            </span>
                                            <span class="float-left" style="padding: 4px 8px;">
                                                General Comments
                                            </span>
                                        </a>
                                    </h5>
                                </div>
                                <div id="AccordPage16" class="collapse avowmodal-form formgrp-section" aria-labelledby="headingonesix" data-parent="#custom-accordion-onesix">
                                    @{
                                        Html.RenderPartial("_GeneralComments.cshtml", Model.SaveFormQa1Model.Gc);
                                    }
                                </div>
                            </div>
                        </div>
                        <div class="accordion custom-accordion mb-3" id="custom-accordion-eight">
                            <div class="card mb-0">
                                <div class="card-header" id="headingeight">
                                    <h5 class="m-0">
                                        <a class="custom-accordion-title py-1 collapsed" data-toggle="collapse" href="#AccordPage8" aria-expanded="false" aria-controls="collapseeight">
                                            <span class="float-left">
                                                <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="#007bff" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-plus-circle after-collapsed d-none"><circle cx="12" cy="12" r="10"></circle><line x1="12" y1="8" x2="12" y2="16"></line><line x1="8" y1="12" x2="16" y2="12"></line></svg>
                                                <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-minus-circle before-collapsed d-none"><circle cx="12" cy="12" r="10"></circle><line x1="8" y1="12" x2="16" y2="12"></line></svg>
                                            </span>
                                            <span class="float-left" style="padding: 4px 8px;">
                                                Remarks
                                            </span>
                                        </a>
                                    </h5>
                                </div>
                                <div id="AccordPage8" class="collapse avowmodal-form formgrp-section" aria-labelledby="headingeight" data-parent="#custom-accordion-eight">
                                    <div class="card-body px-4">
                                        <div class="row">
                                            <div class="col-12">
                                                @Html.TextAreaFor(m => m.SaveFormQa1Model.Remarks , new { @id="formQa1Remarks" , @class="form-control svalidate {required, Remarks}" })
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="accordion custom-accordion mb-3" id="custom-accordion-nine">
                            <div class="card mb-0">
                                <div class="card-header" id="headingnine">
                                    <h5 class="m-0">
                                        <a class="custom-accordion-title py-1 collapsed" data-toggle="collapse" href="#AccordPage9" aria-expanded="false" aria-controls="collapsenine">
                                            <span class="float-left">
                                                <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="#007bff" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-plus-circle after-collapsed d-none"><circle cx="12" cy="12" r="10"></circle><line x1="12" y1="8" x2="12" y2="16"></line><line x1="8" y1="12" x2="16" y2="12"></line></svg>
                                                <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-minus-circle before-collapsed d-none"><circle cx="12" cy="12" r="10"></circle><line x1="8" y1="12" x2="16" y2="12"></line></svg>
                                            </span>
                                            <span class="float-left" style="padding: 4px 8px;">
                                                @Html.Label("Audited By", "Audited By")
                                            </span>
                                        </a>
                                    </h5>
                                </div>
                                <div id="AccordPage9" class="collapse avowmodal-form formgrp-section" aria-labelledby="headingsix" data-parent="#custom-accordion-nine">
                                    <div class="card-body px-4">
                                        <div class="row">
                                            <div class="form-group col-lg-5 float-left">
                                                @Html.Label("Name", "Name")
                                                <div class="row">
                                                    <div class="col-6">
                                                        @Html.DropDownList((IEnumerable<CSelectListItem>)ViewData["User"], "formQa1AuditedBy", "Select Users", new { Id = "formQa1AuditedBy", @class = "form-control svalidate {required, Audited by} "})
                                                    </div>
                                                    <div class="col-6">
                                                        @Html.TextBoxFor(w => w.SaveFormQa1Model.UsernameAudit, new { @id = "formQa1AuditedName", @class = "form-control svalidate  {required, Audited by Name}", @disabled = true })
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="form-group col-lg-2 float-left  pl-0">
                                                @Html.Label("Designation", "Designation")
                                                @Html.TextBoxFor(w => w.SaveFormQa1Model.DesignationAudit, new { @id = "formQa1AuditedDesig", @class = "form-control svalidate  {required, Audited by Designation}", @disabled = true })
                                            </div>
                                            <div class="form-group col-lg-2 float-left pl-0">
                                                @Html.Label("Office", "Office")
                                                @Html.TextBoxFor(w => w.SaveFormQa1Model.OfficeAudit, new { @id = "formQa1AuditOffice", @class = "form-control svalidate  {required, Audited by Office }", @disabled = true })
                                            </div>
                                            <div class="form-group col-lg-2 float-left px-0">
                                                @Html.Label("(DD-MM-YYYY)", "(DD-MM-YYYY)")
                                                <input type="date" class="datepicker form-control svalidate {required, Audited by date}" id="formQa1AuditDate" value="@_DtAudit" />
                                            </div>
                                            <div class="form-group col-lg-1 float-left">
                                                @Html.Label("Signature", "Signature")
                                                @{
                                                    var _AuditedSign = Model.SaveFormQa1Model.SignAudit == null || Model.SaveFormQa1Model.SignAudit == false ? false : true;
                                                }
                                                <div class="clear-b mt-2">
                                                    <input class="{required, Audited By Signature}" checked="@_AuditedSign" id="formQa1AuditSign" type="checkbox" value="true">
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="accordion custom-accordion mb-3" id="custom-accordion-ten">
                            <div class="card mb-0">
                                <div class="card-header" id="headingten">
                                    <h5 class="m-0">
                                        <a class="custom-accordion-title py-1 collapsed" data-toggle="collapse" href="#AccordPage10" aria-expanded="false" aria-controls="collapseten">
                                            <span class="float-left">
                                                <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="#007bff" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-plus-circle after-collapsed d-none"><circle cx="12" cy="12" r="10"></circle><line x1="12" y1="8" x2="12" y2="16"></line><line x1="8" y1="12" x2="16" y2="12"></line></svg>
                                                <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-minus-circle before-collapsed d-none"><circle cx="12" cy="12" r="10"></circle><line x1="8" y1="12" x2="16" y2="12"></line></svg>
                                            </span>
                                            <span class="float-left" style="padding: 4px 8px;">
                                                Witnessed By (if any)

                                            </span>
                                        </a>
                                    </h5>
                                </div>
                                <div id="AccordPage10" class="collapse avowmodal-form formgrp-section" aria-labelledby="headingten" data-parent="#custom-accordion-ten">
                                    <div class="card-body px-4">
                                        <div class="row">
                                            <div class="form-group col-lg-5 float-left">
                                                @Html.Label("Name", "Name")
                                                <div class="row">
                                                    <div class="col-6">
                                                        @Html.DropDownList((IEnumerable<CSelectListItem>)ViewData["User"], "formQa1WitnessedBy", "Select Users", new { Id = "formQa1WitnessedBy", @class = "form-control svalidate {required, Witnessed by} "})
                                                    </div>
                                                    <div class="col-6">
                                                        @Html.TextBoxFor(w => w.SaveFormQa1Model.UsernameWit, new { @id = "formQa1WitnessedName", @class = "form-control svalidate  {required, Witnessed by Name}", @disabled = true })
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="form-group col-lg-2 float-left  pl-0">
                                                @Html.Label("Designation", "Designation")
                                                @Html.TextBoxFor(w => w.SaveFormQa1Model.DesignationWit, new { @id = "formQa1WitnessedDesig", @class = "form-control svalidate  {required, Witnessed by Designation}", @disabled = true })
                                            </div>
                                            <div class="form-group col-lg-2 float-left pl-0">
                                                @Html.Label("Office", "Office")
                                                @Html.TextBoxFor(w => w.SaveFormQa1Model.OfficeWit, new { @id = "formW2WitnessedOffice", @class = "form-control svalidate  {required, Witnessed by Office }", @disabled = true })
                                            </div>
                                            <div class="form-group col-lg-2 float-left px-0">
                                                @Html.Label("(DD-MM-YYYY)", "(DD-MM-YYYY)")
                                                <input type="date" class="datepicker form-control svalidate {required, Witnessed by date}" id="formQa1WitnessedDate" value="@_DtWit" />
                                            </div>
                                            <div class="form-group col-lg-1 float-left">
                                                @Html.Label("Signature", "Signature")
                                                @{
                                                    var _WitSign = Model.SaveFormQa1Model.SignWit == null || Model.SaveFormQa1Model.SignWit == false ? false : true;
                                                }
                                                <div class="clear-b mt-2">
                                                    <input class="{required, Recorded By Signature}" checked="@_WitSign" id="formQa1SignWit" type="checkbox" value="true">
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row mt-5" id="divUserDetails">
                            <div class="col-lg-12">
                                @{
                                    Html.RenderPartial("_GeneralListGrid.cshtml");
                                }
                                <div id="FormAddGeneral" class="modal fade" role="dialog">
                                    <div class="modal-dialog modal-lg">

                                        <!-- Modal content-->
                                        <div class="modal-content">
                                            <div class="modal-header">

                                                <h4 class="modal-title w-100 float-left" id="FormQa1GenModalid">
                                                    Add Attention
                                                </h4> <button type="button" class="close float-left w-25 text-right" onclick="GoBackGen()" data-dismiss="#FormAddGeneral">&times;</button>

                                            </div>
                                            <div id="div-gen-container">
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            @{
                                Html.RenderPartial("_UserDetails.cshtml", Model);
                            }

                        </div>

                        @{
                            Html.RenderPartial("~/Views/Shared/_ProcessHistory.cshtml", new RAMMS.DTO.RequestBO.ProcessDTO
                            {
                                Form = "FormQA1",
                                RefId = Model.SaveFormQa1Model.PkRefNo,
                                Stage = Model.SaveFormQa1Model.Status
                            });
                        }
                    </div>
                </div>
            </div>
        </div>

        
        <input type="hidden" id="hdnUserId" value="@security.UserID" />
        @Html.HiddenFor(m => m.SaveFormQa1Model.PkRefNo , new { @id="formQa1PkRefNo"})
        @Html.HiddenFor(m => m.viewm, new { @id = "hdnView"})
        @Html.HiddenFor(m => m.MaxNo, new { @id = "hdnMaxNo"})
        @Html.Hidden("hdnWeekNo")
        @Html.Hidden("hdnMonthNo")
        @{
            var groupname = security.Group.IndexOf(",") >= 0 ? security.Group.Split(',')[0] : security.Group;
        }
        <div class="col-md-12 float-right text-right custom-footer">
            <button type="button" class="btn btn-sm btn-outline-theme" onclick="GoBack()">Cancel</button>
            <button id="saveFormQa1Btn" type="button" class="btn btn-sm btn-themebtn">Save</button>
            @if (string.IsNullOrEmpty(Model.SaveFormQa1Model.Status) || Model.SaveFormQa1Model.Status == RAMMS.Common.StatusList.FormQA1Saved)
            {
                <button id="SubmitFormQa1Btn" type="button" class="btn btn-sm btn-themebtn">Submit</button>
            }
            @if (IsApproved && (Model.SaveFormQa1Model.Status == RAMMS.Common.StatusList.FormQA1Submitted || Model.SaveFormQa1Model.Status == RAMMS.Common.StatusList.FormQA1Rejected))
            {
                <button type="button" class="btn btn-sm btn-themebtn enblmode" onclick="process.ShowApprove('@groupname','Executed By');"> Approved / Executed </button>
            }
            else if (IsApproved && (Model.SaveFormQa1Model.Status == RAMMS.Common.StatusList.FormQA1Verified || Model.SaveFormQa1Model.Status == RAMMS.Common.StatusList.FormQA1Rejected))
            {
                <button type="button" class="btn btn-sm btn-themebtn enblmode" onclick="process.ShowApprove('@groupname', 'Checked By');"> Approved / Checked </button>
            }
        </div>
    </div>

</div>
<style>
    .custom-tbl div.dataTables_scrollHead table thead tr th:nth-child(4), .custom-tbl div.dataTables_scrollBody table tbody tr td:nth-child(4) {
        width: auto;
        min-width: auto;
    }
</style>