@model RAMMS.Web.UI.Models.FormQa1Model

@{

}

<div class="main-container" id="container">
    <div class="col-lg-12">
        <div class="row mb-2">
            <div class="col-2"></div>
            <div class="col-2"><b>Nos. On Site</b></div>
            <div class="col-2"><b>Nos. On Leave</b></div>
            <div class="col-2 px-0 text-center"><b>As per Performance Std</b></div>
            <div class="col-4"><b>Remarks</b></div>
        </div>
        @{
            var i = 1;
            foreach (var labour in Model.SaveFormQa1Model.Labour)
            {
                
                <div class="row">
                    <div class="form-group col-lg-2 float-left">
                       <b>@i. @labour.Labour</b>
                    </div>
                    <div class="form-group col-lg-2 float-left">
                        <input type="text" value="@labour.LabourOnSite" id="formQa1LabNosOnSite_@i" class="form-control  svalidate {required, Nos on Site}" />
                    </div>
                    <div class="form-group col-lg-2 float-left">

                        <input type="text" value="@labour.LabourOnLeave" id="formQa1LabNosOnLeave_@i" class="form-control  svalidate {required, Nos on Leave}" />
                    </div>

                    <div class="form-group col-lg-2 float-left">
                    @Html.DropDownListFor(Adtl => Adtl.SaveFormQa1Model.Rmu, (IEnumerable
                     <SelectListItem>)ViewData["YESNO"], "Select", new { @Id = "formQa1LabPerfStnd_@i", @class = "form-control validate {required,  Performance Standard}" })

                    </div>
                    <div class="form-group col-lg-4 float-left">
                        <input type="text" value="@labour.LabourRemark" id="formQa1LabRemark_@i" class="form-control svalidate {required, Remark}" />
                    </div>
                </div>
                i += 1;
            }
        }
    </div>
</div>
