@model RAMMS.DTO.ResponseBO.FormQa1MatDTO;
<script type="text/javascript">

    var val = $("#hdnMaterialNo").val();
    var matDesc = "";

    $(document).ready(function () {
        $("#formV2MatCode").chosen();
        $("#formV2MatUnit").chosen();

        if ($("#formV2MatCode").find(":selected").val() == '99999999') {
            matDesc = $("#formV2MatDesc").val();
            $("#formV2MatDesc").attr('readonly', false);
        }


        $('.allow_numeric').keypress(function (event) {
            var $this = $(this);
            if ((event.which != 46 || $this.val().indexOf('.') != -1) &&
                ((event.which < 48 || event.which > 57) &&
                    (event.which != 0 && event.which != 8))) {
                event.preventDefault();
            }

            var text = $(this).val();
            if ((event.which == 46) && (text.indexOf('.') == -1)) {
                setTimeout(function () {
                    if ($this.val().substring($this.val().indexOf('.')).length > 3) {
                        $this.val($this.val().substring(0, $this.val().indexOf('.') + 3));
                    }
                }, 1);
            }

            if ((text.indexOf('.') != -1) &&
                (text.substring(text.indexOf('.')).length > 3) &&
                (event.which != 0 && event.which != 8) &&
                ($(this)[0].selectionStart >= text.length - 3)) {
                event.preventDefault();
            }
        });
    });

    $("#formV2MatCode").on("change", function () {
        var val = $(this).find(":selected").text();
        val = val.split("-").length > 0 ? val.split("-")[1] : val;
        $("#FormV2MatDescription").val(val);
    });

    function GoBackMat() {
        FormMatGridRefresh();
        if ($("#hdnMatView").val() == 0) {
            if (app.Confirm("Unsaved changes will be lost. Are you sure you want to cancel?", function (e) {
                if (e) {
                    $("#FormQa1MaterialModal").modal("hide");
                }
            }));
        } else
            $("#FormQa1MaterialModal").modal("hide");
    }


    if (val != 0 && val != undefined && val != "") {}
        //$("#formV2MatCode").trigger("change");
</script>
<form id="FormQa1MaterialModal" action="/FormQA1/FormQa1MaterialModal">
    <div class="modal-body">
        <div class="row">

            <div class="form-group col-lg-3 mb-0">
                @Html.Label("Type", "Type")
                @Html.TextBoxFor(Adtl => Adtl.Type, new { @Id = "formQa1MatType", @maxlength = 9, @autocomplete = "off", @type = "text", @class = "form-control validate {required, Type}", @rows = 1 })
            </div>
            <div class="form-group col-lg-3 pl-0">
                <label for="Quantity">Quantity</label>
                @Html.TextBoxFor(Adtl => Adtl.Qty,new { @class="form-control allow_numeric  validate {required, Quantity}" , @id="formQa1MatQty", @maxlength="3" , @rows="1"})
            </div>
            <div class="form-group col-lg-3 px-0">
                @Html.Label("Unit", "Unit")
                @Html.DropDownListFor(Ahdr => Ahdr.Unit, (IEnumerable
                <SelectListItem>)ViewData["Unit"], "Select Unit", new { @Id = "formQa1MatUnit", @class = "form-control validate {required, Unit}" })
            </div>
            <div class="form-group col-lg-3">
                @Html.Label("As Per Specification", "As Per Specification")
                @Html.DropDownListFor(Ahdr => Ahdr.Spec, (IEnumerable
                <SelectListItem>)ViewData["YESNO"], "Select ", new { @Id = "formQa1MatSpec", @class = "form-control validate {required, Material Specification}" })
            </div>
            <div class="form-group col-lg-12 txtarea-107">
                <label for="Description">Remarks</label>
                @Html.TextAreaFor(m => m.Remark, new { @Id = "formQa1MatRemark", @class = "form-control  validate {required, Remark}" })
            </div>
        </div>
    </div>

    @Html.HiddenFor(m => m.PkRefNo, new { @id = "hdnMaterialNo", @class = "form-control" })
    @Html.Hidden("hdnMatView", "")
    <div class="modal-footer">
        <div id="val-summary-displayer-material">
            <div id="val-summary-displayer"></div>
        </div>
        <button type="button" id="cancelAddModelBtn" class="btn btn-sm btn-outline-theme" onclick="GoBackMat()">Cancel</button>
        <button id="saveContinueFormQa1MtBtn" type="button" class="btn btn-sm btn-themebtn">Save & Continue</button>
        <button id="saveFormQa1MtBtn" type="button" class="btn btn-sm btn-themebtn">Save & Exit</button>
    </div>
</form>