@model RAMMS.DTO.ResponseBO.FormQa1TesDTO

<div class="card-body px-4">
    <div class="row">
        <div class="col-2 pt-4">
            <label>
                <span class="font-14 font-weight-bold">
                    Compaction Test
                </span>
            </label>
        </div>
        <div class="col-3 form-group">
            <label>
                Compliance With Specification
            </label>

            @Html.DropDownListFor(Adtl => Adtl.CtCs , (IEnumerable
            <SelectListItem>)ViewData["YESNO"], "Select", new { @Id = "formQa1CtCs", @class = "form-control tddl validate {required, Compaction Test -  Compliance With Specification}" })
        </div>
        <div class="col-2">
            <label for="RoadCode">
                See Attachment
            </label>
            <button class="btn btn-default btn-file dz-button btn btn-sm btn-outline-primary" style="display:block;" onclick="document.getElementById('getFile').click()">Click here to upload</button>
            <input type='file' id="getFile" style="display:none">
        </div>
        <div class="col-2">
            <label for="RoadCode">
                File Name
            </label>
            <span style=" white-space: nowrap; overflow: hidden; width:60%; float:left; text-overflow: ellipsis;"></span>
            <span style="width: 40%; float:left"><button type="button" style="border:none;align-content:center;background:transparent" onclick="DeleteImage(29)"><span class="remove-icon"></span></button></span>
        </div>
        <div class="col-3 px-0">
            <label>
                Remarks
            </label>
            @Html.TextAreaFor(m => m.CtCsRemark , new { @id="formQa1CtCsRemark", @class="form-control svalidate  {required,  Density Test Remark}" , @style="height: 40px;" })
        </div>
    </div>
    <div class="row">
        <div class="col-2 pt-4">
            <label>
                <span class="font-14 font-weight-bold">
                    Density Test

                </span>
            </label>
        </div>
        <div class="col-3 form-group">
            <label>
                Compliance With Specification
            </label>
             @Html.DropDownListFor(Adtl => Adtl.DtCs , (IEnumerable
            <SelectListItem>)ViewData["YESNO"], "Select", new { @Id = "formQa1DtCs", @class = "form-control tddl validate {required, Density Test - Compliance With Specification}" })
        </div>
        <div class="col-2">
            <label for="RoadCode">
                See Attachment
            </label>
            <button class="btn btn-default btn-file dz-button btn btn-sm btn-outline-primary" style="display:block;" onclick="document.getElementById('getFile').click()">Click here to upload</button>
            <input type='file' id="getFile" style="display:none">
        </div>
        <div class="col-2">
            <label for="RoadCode">
                File Name
            </label>
            <span style=" white-space: nowrap; overflow: hidden; width:60%; float:left; text-overflow: ellipsis;"></span>
            <span style="width: 40%; float:left"><button type="button" style="border:none;align-content:center;background:transparent" onclick="DeleteImage(29)"><span class="remove-icon"></span></button></span>
        </div>
        <div class="col-3 px-0">
            <label>
                Remarks
            </label>
            @Html.TextAreaFor(m => m.DtCsRemark , new { @id="formQa1DtCsRemark", @class="form-control svalidate  {required,  Density Test Remark}" , @style="height: 40px;" })
        </div>
    </div>
    <div class="row">
        <div class="col-2 pt-4">
            <label>
                <span class="font-14 font-weight-bold">
                    Material Grading Test

                </span>
            </label>
        </div>
        <div class="col-3 form-group">
            <label>
                Compliance With Specification
            </label>
            @Html.DropDownListFor(Adtl => Adtl.MgtCs , (IEnumerable
            <SelectListItem>)ViewData["YESNO"], "Select", new { @Id = "formQa1MgtCs", @class = "form-control tddl validate {required, Material Grading Test - Compliance With Specification}" })
        </div>
        <div class="col-2">
            <label for="RoadCode">
                See Attachment
            </label>
            <button class="btn btn-default btn-file dz-button btn btn-sm btn-outline-primary" style="display:block;" onclick="document.getElementById('getFile').click()">Click here to upload</button>
            <input type='file' id="getFile" style="display:none">
        </div>
        <div class="col-2">
            <label for="RoadCode">
                File Name
            </label>
            <span style=" white-space: nowrap; overflow: hidden; width:60%; float:left; text-overflow: ellipsis;"></span>
            <span style="width: 40%; float:left"><button type="button" style="border:none;align-content:center;background:transparent" onclick="DeleteImage(29)"><span class="remove-icon"></span></button></span>
        </div>
        <div class="col-3 px-0">
            <label>
                Remarks
            </label>
            @Html.TextAreaFor(m => m.MgtCsRemark , new { @id="formQa1MgtCsRemark", @class="form-control svalidate  {required,  Material Grading Test Remark}" , @style="height: 40px;" })
        </div>
    </div>
    <div class="row">
        <div class="col-2 pt-4">
            <label>
                <span class="font-14 font-weight-bold">
                    CBR

                </span>
            </label>
        </div>
        <div class="col-3 form-group">
            <label>
                Compliance With Specification
            </label>
            @Html.DropDownListFor(Adtl => Adtl.CbrCs , (IEnumerable
            <SelectListItem>)ViewData["YESNO"], "Select", new { @Id = "formQa1CbrCs", @class = "form-control tddl validate {required, CBR - Compliance With Specification}" })
        </div>
        <div class="col-2">
            <label for="RoadCode">
                See Attachment
            </label>
            <button class="btn btn-default btn-file dz-button btn btn-sm btn-outline-primary" style="display:block;" onclick="document.getElementById('getFile').click()">Click here to upload</button>
            <input type='file' id="getFile" style="display:none">
        </div>
        <div class="col-2">
            <label for="RoadCode">
                File Name
            </label> 
            <span style=" white-space: nowrap; overflow: hidden; width:60%; float:left; text-overflow: ellipsis;"></span>
            <span style="width: 40%; float:left"><button type="button" style="border:none;align-content:center;background:transparent" onclick="DeleteImage(29)"><span class="remove-icon"></span></button></span>
        </div>
        <div class="col-3 px-0">
            <label>
                Remarks
            </label>
            @Html.TextAreaFor(m => m.CbrCsRemark , new { @id="formQa1CbrCsRemark", @class="form-control svalidate  {required, CBR Remark}" , @style="height: 40px;" })
        </div>
    </div>
    <div class="row">
        <div class="col-2 pt-4">
            <label>
                <span class="font-14 font-weight-bold">
                    Other Tests

                </span>
            </label>
        </div>
        <div class="col-3 form-group">
            <label>
                Compliance With Specification
            </label>
            @Html.DropDownListFor(Adtl => Adtl.OtCs , (IEnumerable
            <SelectListItem>)ViewData["YESNO"], "Select", new { @Id = "formQa1OtCs", @class = "form-control tddl validate {required, Other Tests - Compliance With Specification}" })
        </div>
        <div class="col-2">
            <label for="RoadCode">
                See Attachment
            </label>
            <button class="btn btn-default btn-file dz-button btn btn-sm btn-outline-primary" style="display:block;" onclick="document.getElementById('getFile').click()">Click here to upload</button>
            <input type='file' id="getFile" style="display:none">
        </div>
        <div class="col-2">
            <label for="RoadCode">
                File Name
            </label>
            <span style=" white-space: nowrap; overflow: hidden; width:60%; float:left; text-overflow: ellipsis;"></span>
            <span style="width: 40%; float:left"><button type="button" style="border:none;align-content:center;background:transparent" onclick="DeleteImage(29)"><span class="remove-icon"></span></button></span>
        </div>
        <div class="col-3 px-0">
            <label>
                Remarks
            </label>
            @Html.TextAreaFor(m => m.OtCsRemark , new { @id="formQa1OtCsRemark", @class="form-control svalidate  {required, Other Test Remark}" , @style="height: 40px;" })
        </div>
    </div>
</div>
@Html.HiddenFor(m => m.PkRefNo , new { @id="formQa1TesPkRefNo"})