@model RAMMS.Web.UI.Models.CDataTable

@using RAMMS.Web.UI.Models;
@using RAMMS.Business.ServiceProvider;

@{
    ViewBag.TabTitle = "Form R1/R2";
    ViewData["Title"] = "Form R1/R2";
    Layout = "~/Views/Shared/_PortalLayout.cshtml";
    var isModifyPerm = security.IsPCModify(ModuleNameList.Condition_Inspection) ? "" : "hidden";
    var isDeletePerm = security.IsPCDelete(ModuleNameList.Condition_Inspection) ? "" : "hidden";
}

@inject RAMMS.Business.ServiceProvider.Interfaces.ISecurity security;
@section Scripts{
    <script type="text/javascript" src="~/js/FormR1R2.js" asp-append-version="true"></script>
}

<script type="text/javascript">
    $(document).ready(function () {
        $("#formR1R2RMU").chosen();
        $('#formR1R2SectionCode').chosen();
        $("#formR1R2AdvSearch").hide();

        $("#formR1R2RMU").on("change", function () {
            var val = $(this).find(":selected").text();
            val = val.split("-").length > 0 ? val.split("-")[1] : val;
            $("#txtRmuName").val(val);
            var req = {};
            req.Section = '';
            req.RoadCode = '';
            req.RMU = $("#formR1R2RMU option:selected").text().split("-")[1];
            $.ajax({
                url: '/MAM/RMUSecRoad',
                dataType: 'JSON',
                data: req,
                type: 'Post',
                success: function (data) {
                    if (data != null) {
                        $("#formR1R2SectionCode").empty();
                        $("#formR1R2SectionCode").append($("<option></option>").val("").html("Select Section Code"));
                        $.each(data.section, function (index, v) {
                            $("#formR1R2SectionCode").append($("<option></option>").val(v.value).html(v.text));
                        });
                        $("#formR1R2SectionCode").trigger("change");
                        $('#formR1R2SectionCode').trigger("chosen:updated");

                    } else {

                    }
                },
                error: function (data) {

                    console.error(data);
                }
            });
        });


        $("#formR1R2SectionCode").on("change", function () {
            var ddldata = $(this).val();
            var secCode = $("#formR1R2SectionCode option:selected").text().split("-")[0];
            if (ddldata != "") {
                $("#formR1R2SectionName").val(ddldata);
                //GetAllRoadCodeDataBySectionCode
                $.ajax({
                    url: '/FormQa1/GetRoadCodeBySection',
                    dataType: 'JSON',
                    data: { secCode },
                    type: 'Post',
                    success: function (data) {
                        if (data != null) {
                            $("#formR1R2RoadCode").empty();
                            $("#formR1R2RoadCode").append($("<option></option>").val("").html("Select Road Code"));
                            $.each(data, function (index, v) {
                                var text = v.roadCode + " - " + v.roadName;
                                $("#formR1R2RoadCode").append($("<option></option>").val(v.roadCode).html(text).attr("Item1", v.roadName));
                            });
                            $("#formR1R2RoadCode").trigger("change");
                            $('#formR1R2RoadCode').trigger("chosen:updated");

                        } else {

                        }
                    },
                    error: function (data) {

                        console.error(data);
                    }
                });
            }
            else {
                $("#txtSectionName").val("");
            }
            return false;
        });

        $("#formR1R2SectionCode").on("change", function () {
            var ddldata = $(this).val();
            if (ddldata != "") {
                $("#txtSectionName").val(ddldata);
            }
            else {
                $("#txtSectionName").val("");
            }
            return false;
        });

        $("#formR1R2RoadCode").on("change", function () {
            var val = $(this).find(":selected").attr("Item1");
            $("#txtRoadName").val(val);
        });

         $("#formR1R2ActivityCode").on("change", function () {
            var val = $(this).find(":selected").text();
            val = val.split("-").length > 0 ? val.split("-")[1] : val;
             $("#txtActivityName").val(val);
        });


    });

    function clearHeaderSearch() {
        $("#formR1R2SmartSearch").val('');
        $("#formR1R2RMU").val("").trigger("chosen:updated");
        $("#txtRmuName").val("");

        $("#formR1R2RoadCode").val("").trigger("chosen:updated");
        $("#txtRoadName").val("");

        $('#formR1R2SectionCode').val("").trigger("chosen:updated");
        $("#txtSectionName").val("");

        $("#formR1R2Crew").val("").trigger("chosen:updated");
        $("#txtCrewName").val("");

        $("#formR1R2ActivityCode").val("").trigger("chosen:updated");
        $("#txtActivityName").val("");

        
        $("#formR1R2FromYear").val("").trigger("chosen:updated");
        $("#formR1R2FromYear").val("");

        $("#formR1R2InsToYear").val("").trigger("chosen:updated");
        $("#formR1R2InsToYear").val("");


        $("#txtChFromKm").val('');
        $("#txtChFromM").val('');
        $("#txtChToKm").val('');
        $("#txtChToM").val('');
        

        var req = {};
        var _rmu = $("#formR1R2RMU");
        var _road = $("#formR1R2SectionCode");
        req.RMU = this.value;
        req.Section = '';
        req.RoadCode = '';

        $.ajax({
            url: '/ERT/RMUSecRoad',
            dataType: 'JSON',
            data: req,
            type: 'Post',
            success: function (data) {
                if (req.RMU == "") {
                    $("#formR1R2RMU").empty();
                    $("#formR1R2RMU").append($("<option></option>").val("").html("Select RMU"));
                    $.each(data.rmu, function (index, v) {
                        $("#formR1R2RMU").append($("<option></option>").val(v.value).html(v.text));
                    });
                }
                if (req.Section == "") {
                    $("#formR1R2SectionCode").empty();
                    $("#formR1R2SectionCode").append($("<option></option>").val("").html("Select Section Code"));
                    $.each(data.section, function (index, v) {
                        $("#formR1R2SectionCode").append($("<option></option>").val(v.value).html(v.text));
                    });

                    $('#formR1R2SectionCode').trigger("chosen:updated");
                }
            },
            error: function (data) {

                console.error(data);
            }
        });
        $("#btnSearch").click();
    }

    function detailSearch() {
        $("#formR1R2AdvSearch").slideToggle(500);
    }

    function formR1R2GridRefresh() {
        oTable = $('#formR1R2GridView').DataTable();
        oTable.columns(0).search($("#formR1R2SmartSearch").val().trim());

        var rmuCode = $("#formR1R2RMU").val();
        if (rmuCode != "") {
            oTable.columns(1).search(rmuCode);
        } else {
                oTable.columns(1).search("");
        }

        var secCode = $("#formR1R2SectionCode").val();
        if (secCode != "") {
            oTable.columns(2).search(secCode);
        } else {
                oTable.columns(2).search("");
        }

        var crewCode = $("#formR1R2Crew").val().trim();

        if (crewCode != "" ){
            oTable.columns(3).search(crewCode);
        }
        else {
            oTable.columns(3).search("");
        }

        var actCode = $("#formR1R2ActivityCode").val().trim();

        if (actCode != "" ){
            oTable.columns(4).search(actCode);
        }
        else {
            oTable.columns(4).search("");
        }

        oTable.columns(5).search($("#formR1R2FromDate").val());
        oTable.columns(6).search($("#formR1R2EndDate").val());

        var rdCode = $("#formR1R2RoadCode").val().trim();

        if (rdCode != "" ){
            oTable.columns(7).search(rdCode);
        }
        else {
            oTable.columns(7).search("");
        }

        oTable.data = filterData;
        oTable.draw();
    }

    function EditformR1R2(pid,view) {
        window.location = "@Url.Action("Add", "FormR1R2")";
    }

    function DeleteHeaderRecord(pkId) {
        app.Confirm("Are you sure you want to delete the record?, If Yes click OK.", function (e) {
            if (e) {
                InitAjaxLoading();
                $.ajax({
                    url: '/FormR1R2/HeaderListformR1R2Delete',
                    data: { pkId },
                    type: 'POST',
                    success: function (data) {
                        if (data > 0) {
                            app.ShowSuccessMessage('Successfully Deleted', false);
                            formR1R2GridRefresh();
                        }
                        else {
                            app.ShowErrorMessage("Error in Deleted. Kindly retry later.", false);
                        }
                        HideAjaxLoading();
                    }
                });
            }
        });
    }


</script>

<div class="container-fluid">
    <div class="row">

        <div class="body-header w-100">
            <div class="row bg-white pt-4">
                <div class="w-100">
                    <div class="body-header w-100">
                        <div class="col-lg-12">
                            <div class="w-100 d-flex justify-content-md-between py-2 align-items-center">
                                <span class="mb-0 font-weight-bold font-20">
                                    Retaining  Wall Visual Inspection Record - (Form R1/R2)
                                </span>
                                <nav aria-label="breadcrumb">
                                    <ol class="breadcrumb breadcrumb-alt mb-0 bg-transparent">
                                        <li class="breadcrumb-item">Home</li>
                                        <li class="breadcrumb-item">
                                            Retaining  Wall Visual Inspection Record
                                        </li>
                                        <li class="breadcrumb-item" aria-current="page">
                                            Form R1/R2
                                        </li>
                                    </ol>
                                </nav>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-12">
            <div class="search-section" searchSection>
                <div class="justify-content-center mb-1">
                    <div class="search-content">
                        <div class="input-group">

                            <input autocomplete="off" class="form-control" id="formR1R2SmartSearch" name="SearchObj.SmartInputValue" onfocus="this.removeAttribute('readonly')" placeholder="Search..." spellcheck="false" type="text" value="" param="KeySearch">
                            <div class="input-group-append">
                                <div class="btn-group">
                                    @*<button id="btnSearch" type="button" class="bg-theme-color js-tooltip-enabled px-2 border-0" style="line-height: 18px;"><span class="search-icon"></span></button>*@
                                    <button onclick="tblFR1R2HGrid.Search(this,'#formR1R2Search');" SearchSectionBtn type="button" class="bg-theme-color js-tooltip-enabled px-2 border-0" style="line-height: 18px;"><span class="search-icon"></span></button>
                                    <button id="btnAdvSearch" type="button" class="bg-theme-color js-tooltip-enabled px-3 border-0" data-toggle="collapse" data-target="#div_advsearch"><span class="filter-icon"></span></button>
                                    <button id="btnClearSearch" type="button" onclick="clearHeaderSearch()" class="bg-theme-color js-tooltip-enabled px-3 border-0 rounded-right">Clear</button>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div id="div_advsearch" class="collapse">
                        <div class="col-lg-10 offset-lg-1">
                            <div class="bg-white rounded float-left pt-3 pb-1 px-lg-4 px-md-3 advance-search-group w-100">
                                <div class="row">
                                    <div class="col-lg-4">
                                        <div class="row">
                                            <div class="form-group col-6">
                                                @Html.Label("RMU ", "RMU ")
                                                @Html.DropDownList((IEnumerable<CSelectListItem>)ViewData["RMU"], "selRMU", "Select RMU", new { @Id = "formR1R2RMU", @class = "form-control", @param = "RMUCode", @rmuCode = "rmuCode", @clear = "rebind" })
                                            </div>
                                            <div class="form-group col-lg-6 mb-0">
                                                @Html.Label("RMU Name", "RMU Name")
                                                <input type="text" class="form-control" id="txtRmuName" disabled />
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-lg-4">
                                        <div class="row">
                                            <div class="col-6 form-group">
                                                @Html.Label("Section Code ", "Section Code")
                                                @Html.DropDownList((IEnumerable<CSelectListItem>)ViewData["Section_Code"], "selSectionCode", "Select Section Code", new { @Id = "formR1R2SectionCode", @class = "form-control widget-content-area" })
                                            </div>
                                            <div class="form-group col-lg-6 mb-0">
                                                @Html.Label("Section Name", "Section Name")
                                                <input type="text" class="form-control" id="txtSectionName" disabled />
                                            </div>
                                        </div>

                                    </div>
                                    <div class="col-lg-4">
                                        <div class="row">
                                            <div class="col-6 form-group">
                                                @Html.Label("Road Code", "Road Code")
                                                @Html.DropDownList("RoadCode", (IEnumerable<SelectListItem>)ViewData["RD_Code"], "Select Road Code", new { @id = "formR1R2RoadCode", @class = "form-control", @param = "RoadCode" })
                                            </div>
                                            <div class="form-group col-lg-6 mb-0">
                                                @Html.Label("Road Name", "Road Name")
                                                <input type="text" class="form-control" id="txtRoadName" disabled />
                                            </div>
                                        </div>
                                    </div>

                                    @*<div class="col-lg-4">
                                        <div class="row">
                                            <div class="col-6 form-group">
                                                @Html.Label("Activity Code", "Activity Code")
                                                @Html.DropDownList("formR1R2ActivityCode", (IEnumerable<SelectListItem>)ViewData["Activity"], "Select Activity Code", new { @Id = "formR1R2ActivityCode", @class = "form-control" })
                                            </div>
                                            <div class="form-group col-lg-6 mb-0">
                                                @Html.Label("Activity Name", "Activity Name")
                                                <input type="text" class="form-control" id="txtActivityName" disabled />
                                            </div>
                                        </div>
                                    </div>*@
                                    
                                    <div class="form-group col-2">
                                        @Html.Label("Year of Inspection From", "Year of Inspection From")
                                        @Html.DropDownList("FromYearOfInsp", (IEnumerable<SelectListItem>)ViewData["Year"], "Select Year", new { @Id = "formR1R2FromYear", @class = "form-control", @param = "FromYear" })
                                    </div>
                                    <div class="form-group col-2">
                                        @Html.Label("Year of Inspection To", "Year of Inspection To")
                                        @Html.DropDownList("ToYearOfInsp", (IEnumerable<SelectListItem>)ViewData["Year"], "Select Year", new { @Id = "formR1R2InsToYear", @class = "form-control", @param = "ToYear" })
                                    </div>
                                    <div class="form-group col-md-3">
                                        <label for="Location_Chainage_From">Location Chainage From</label>
                                        <div class="row">
                                            <div class="col-6 float-left pr-0">
                                                <input id="txtChFromKm" type="text" class="form-control" onkeypressvalidate="num,max,5,Chainage From Km" param="chFromKM" ngkeypress="">
                                            </div>
                                            <div class="col-1 float-left p-0 text-center font-weight-bold lh30">+</div>
                                            <div class="col-5 float-left pl-0">
                                                <input id="txtChFromM" type="text" class="form-control" onkeypressvalidate="num,max,3,Chainage From M" param="chFromM" ngkeypress="">
                                            </div>
                                        </div>
                                    </div>
                                    <div class="form-group col-md-3">
                                        <label for="Location_Chainage_From">Location Chainage To</label>
                                        <div class="row">
                                            <div class="col-6 float-left pr-0">
                                                <input id="txtChToKm" type="text" class="form-control" onkeypressvalidate="num,max,5,Chainage From Km" param="chFromKM" ngkeypress="">
                                            </div>
                                            <div class="col-1 float-left p-0 text-center font-weight-bold lh30">+</div>
                                            <div class="col-5 float-left pl-0">
                                                <input id="txtChToM" type="text" class="form-control" onkeypressvalidate="num,max,3,Chainage From M" param="chFromM" ngkeypress="">
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-12">
            <div class="w-100 float-left position-relative">
                <div class="grid-btns">
                    <button type="button" class="btn btn-sm btn-themebtn" @isModifyPerm onclick="javascript:EditformR1R2(0,0);"><span class="add-icon"></span> Add Form R1 R2</button>
                </div>
                <div id="headerListGrid" class="w-100 dt-tbl-section">
                    @{
                        Html.RenderPartial("_CDataTable", Model);
                    }
                </div>
            </div>
        </div>


    </div>

</div>