@using RAMMS.Business.ServiceProvider
@model RAMMS.Web.UI.Models.FormWCWGModel;

<div class="container-fluid">
    <div class="row">
        <div class="col-lg-12">
            <div class="bg-white rounded landing-division w-100 float-left mb-3 border">
                <div class="col-lg-12 py-2 px-4">
                    <span class="font-14 font-weight-bold">
                        JABATAN KERJA RAYA
                    </span>
                </div>
                <div class="border-top px-3 pt-3 pb-1 float-left w-100">
                    <div class="w-100 dt-tbl-section">

                        <div class="pb-1 float-left w-100">
                            <div class="w-100 dt-tbl-section">

                                <div class="row">
                                     @for (var i = 0; i < @Model.Division.Divisions.Count; i++)
                                       {
                                        var div = Model.Division.Divisions[i];
                                        if (i == 0)
                                        {
                                             <div class="form-group col-lg-4">
                                        <label for="OurRef">Name of Division</label>
                                        <p class="font-weight-bold">@div.Name <br />@div.Adress1<br />@div.Adress2<br />@div.Adress3<br />Phone : @div.Phone<br />Fax : @div.Fax</p>
                                            </div>
                                        }

                                        if (i == 1)
                                        {
                                            <div class="form-group col-lg-4">
                                                <label for="OurRef">
                                                    Divisional Address 1
                                                </label>
                                                @*<input type="text" placeholder="" class="form-control">*@
                                                <p class="font-weight-bold">@div.Name <br />@div.Adress1<br />@div.Adress2<br />@div.Adress3<br />Phone : @div.Phone<br />Fax : @div.Fax</p>
                                            </div>
                                        }

                                        if (i == 2)
                                        {
                                            <div class="form-group col-lg-4">
                                                <label for="OurRef">
                                                    Divisional Address 2
                                                </label>
                                                @*<input type="text" placeholder="" class="form-control">*@
                                                <p class="font-weight-bold">@div.Name <br />@div.Adress1<br />@div.Adress2<br />@div.Adress3<br />Phone : @div.Phone<br />Fax : @div.Fax</p>
                                            </div>
                                        }
                                    }
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!--<div class="col-lg-12">
            <div class="bg-white rounded landing-division w-100 float-left px-3 pt-2 mb-3 border">
                <div class="row">
                    <div class="form-group col-lg-3">
                        <label for="RoadCode">Contract No</label>
                        <input type="text" placeholder="Road name" value="PWD/HO/B130/2019"  disabled class="form-control" />
                    </div>-->
        @*<div class="form-group col-lg-3">
            <label for="Your Ref">
            Service Provider's Proposal Ref No
            </label>
            <input type="text" placeholder="" class="form-control" />
            </div>
            <div class="form-group col-lg-3">
            <label for="Your Ref">
            Service Provider Name
            </label>
            <input type="text" placeholder="" class="form-control" />
            </div>*@
        @*<div class="form-group col-lg-2">
            <div class="row mt-4">
            <div class="col-6 pt-1">
            <label class="checkbox-inline"><input type="checkbox" disabled="" value=""> BQ</label>
            </div>
            <div class="col-6 pt-1">
            <label class="checkbox-inline"><input type="checkbox" disabled="" value=""> Drawing</label>
            </div>
            </div>
            </div>*@
        <!--</div>
            </div>
        </div>-->
        <div class="col-lg-12">
            <div class="bg-white rounded landing-division w-100 float-left mb-3 border">
                <div class="col-lg-12 py-2 px-4">
                    <span class="font-14 font-weight-bold">
                        CERTIFICATE OF PRACTICAL COMPLETION
                    </span>
                </div>
                <div class="border-top px-3 pt-3 pb-1 float-left w-100">
                    <div class="row">
                        <div class="form-group col-lg-3">
                            <label for="OurRef">Our Ref / Contract No</label>
                            @Html.TextBoxFor(m => m.FormWC.OurRefNo , new { @id="formWcOurRef", @class="form-control svalidate { required, ' Our Ref/Contract No.' }"})
                        </div>
                        <div class="form-group col-lg-3">
                            <label for="Date">
                                Date
                            </label>
                            @Html.TextBoxFor(m => m.FormWC.DtWc  , new { @id="formWcDate", @type="date", @class="form-control svalidate { required, Date }"})
                        </div>
                        <div class="form-group col-lg-3">
                            <label for="Your Ref">
                                Your Ref
                            </label>
                            @Html.TextBoxFor(m => m.FormW1.IwRefNo , new { @id="formWcYourRef", @class="form-control svalidate { required, Your Ref }", @disabled=true})
                        </div>
                        <div class="form-group  col-lg-3">
                            @Html.Label("Service Provider Name", "Service Provider Name")
                            @Html.TextBoxFor(Ahdr => Ahdr.FormW1.ServPropName , new { @Id = "formWcServiceProvider", @class = "form-control", @disabled=true })
                        </div>

                        <div class="form-group col-lg-4">
                            <label for="Your Ref">
                                Address 1
                            </label>
                            @Html.TextBoxFor(Ahdr => Ahdr.FormW1.ServAddress1 , new { @Id = "formWCAdd1", @class = "form-control", @disabled=true })
                        </div>
                        <div class="form-group col-lg-4">
                            <label for="Your Ref">
                                Address 2
                            </label>
                            @Html.TextBoxFor(Ahdr => Ahdr.FormW1.ServAddress2 , new { @Id = "formWCAdd2", @class = "form-control" , @disabled=true })
                        </div>
                        <div class="form-group col-lg-4">
                            <label for="Your Ref">
                                Address 3
                            </label>
                            @Html.TextBoxFor(Ahdr => Ahdr.FormW1.ServAddress3 , new { @Id = "formWCAdd3", @class = "form-control", @disabled=true })
                        </div>
                        <div class="form-group col-lg-3">
                            <label for="Phone">Phone Number</label>
                            @Html.TextBoxFor(Ahdr => Ahdr.FormW1.ServPhone , new { @Id = "formWCPhone", @class = "form-control", @disabled=true })
                        </div>
                        <div class="form-group col-lg-3">
                            <label for="Fax">
                                Fax Number
                            </label>
                            @Html.TextBoxFor(Ahdr => Ahdr.FormW1.ServFax , new { @Id = "formWCFax", @class = "form-control", @disabled=true })
                        </div>

                    </div>


                </div>

            </div>

        </div>
       @* <div class="col-lg-12" style="display:none">
            <div class="bg-white rounded landing-division w-100 float-left mb-3 border">
                <div class="px-3 pt-3 pb-1 float-left w-100">

                    <div class="row">
                        <div class="form-group col-lg-4">
                            <label for="RoadCode"> Road Name:</label>
                            @Html.TextBoxFor(Ahdr => Ahdr.FormWC.Fw1PkRefNoNavigation.RoadName , new { @Id = "formWCRoadName", @class = "form-control" })
                        </div>
                        <div class="form-group col-lg-3">
                            <label for="Division_Code">Status </label>
                            @Html.TextBoxFor(Ahdr => Ahdr.FormWC.Status   , new { @Id = "formWCStatus", @class = "form-control" })
                        </div>
                        <div class="form-group col-lg-3">
                            <label for="RMU">PROGRESS %</label>
                            @Html.TextBoxFor(Ahdr => Ahdr.FormWC.Fw1PkRefNoNavigation.ProjectTitle   , new { @Id = "formWCRoadCode", @class = "form-control" })
                        </div>
                        <div class="form-group col-lg-2 px-4">
                            <div class="row mt-4">
                                @{
                                    var _BQ = Model.FECM.FECM.IsBq == null || Model.FECM.FECM.IsBq == false ? false : true;

                                }
                                <div class="col-6 ">
                                    <label class="checkbox-inline"><input type="checkbox" id="femcBQ" checked="@_BQ"> BQ</label>
                                </div>

                                @{
                                    var _Drawing = Model.FECM.FECM.IsDrawing == null || Model.FECM.FECM.IsDrawing == false ? false : true;

                                }
                                <div class="col-6">
                                    <label class="checkbox-inline"><input type="checkbox" id="fecmDrawing" checked="@_Drawing"> Drawing</label>
                                </div>
                            </div>
                        </div>
                    </div>                    
                </div>
            </div>
        </div>*@
        <div class="col-lg-12 d-none">
            <div class="bg-white rounded landing-division w-100 float-left mb-3 border">
                <div class="col-lg-12 py-2 px-4">
                    <span class="font-14 font-weight-bold">
                        INSTRUCTED WORK
                    </span>
                </div>
                <div class="border-top px-3 pt-3 pb-1 float-left w-100">
                    <div class="col-lg-12">
                        <div class="row">
                            <div class="col-lg-4">
                                <div class="row">
                                    <div class="col-lg-12 mb-3">
                                        <label class="mb-0" for=" PhysicalWorks">S.O.'s Instruction No</label>
                                          @Html.TextBoxFor(Ahdr => Ahdr.FormW1.ServPropRefNo , new { @Id = "formWcServPropRefNo", @class = "form-control" })
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-8">
                                <label class="mb-0" for="PhysicalWorks">
                                    Instructed Work Title
                                </label>
                               @Html.TextAreaFor(Ahdr => Ahdr.FormW1.ProjectTitle  , new { @Id = "formWcProjectTitle", @class = "form-control" })
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>
        <div class="col-12">
            <div class="bg-white border radius rounded-0 w-100 float-left">
                <p class="w-100 float-left m-0 text-center py-3" style="line-height: 30px; font-size: 18px; padding:0px 25px">
                    <span class="float-left" style="line-height:28px">
                        In accordance with <b class="" style="padding:0px 2px;font-size:20px;">Clause 8.9 </b> of the Agreement, it is hereby certified that the Instructed Work achieved Practical Completion on
                    </span>
                    <span class="float-left">
                         @Html.TextBoxFor(m => m.FormWC.DtCompl , new { @id="formWcDtCompl",@min="2020-01-01", @type="date", @style="width:180px;font-weight:bold", @class="form-control border-left border-top-0 border-left-0 border-right-0 float-left svalidate { required, Date }"})
                        <span class="float-left" style="line-height:50px">And that the Defects Liability Period in respect of the said Instructed Work began on the same day and </span>
                    </span>

                    <span class="float-left">
                        <span class="float-left" style="line-height:47px;">will end on</span>
                        <span class="float-left">
                            @Html.TextBoxFor(m => m.FormWC.DtDlpExtn , new { @id="formWcDtDlpExtn", @min="2020-01-01", @type="date", @style="width:180px;font-weight:bold", @class="form-control border-left border-top-0 border-left-0 border-right-0 float-left svalidate { required, Date }"})
                            </span>
                    </span>
                </p>
            </div>
        </div>
        <div class="col-12 px-4">
            <div class="row pt-3 pb-1">
                <div class="form-group col-lg-2">
                    <label for="Designation"> User ID </label>
                    @Html.DropDownList((IEnumerable<CSelectListItem>)ViewData["User"], "formWcIssuedBy", "Select Users", new { Id = "formWcIssuedBy", @class = "form-control   {required,  Issued by} " })
                </div>
                <div class="form-group col-lg-3">
                     @Html.Label("Name", "Name")
                     @Html.TextBoxFor(w => w.FormWC.UsernameIssu, new { @id = "formWcIssuedName", @class = "form-control svalidate  {required,  Requested by Name}", @disabled = true })
                </div>
                <div class="form-group col-lg-2 ">
                     @Html.Label("Designation", "Designation")
                     @Html.TextBoxFor(w => w.FormWC.DesignationIssu, new { @id = "formWcIssuedDesig", @class = "form-control svalidate  {required,  Requested by Designation}", @disabled = true })
                </div>
                <div class="form-group col-lg-2">
                    @Html.Label("Office", "Office")
                    @Html.TextBoxFor(w => w.FormWC.OfficeIssu, new { @id = "formWcIssuedOffice", @class = "form-control svalidate  {required,  Requested by Office}", @disabled = true })
                </div>
                <div class="form-group col-lg-2 pr-0">
                    @Html.Label("(DD-MM-YYYY)", "(DD-MM-YYYY)")
                    @{
                        var vd = Model.FormWC.DtIssu;
                        string _IssuedDate = vd.HasValue ? vd.Value.ToString("yyyy-MM-dd") : "";
                    }
                    <input type="text" class="datepicker form-control  svalidate {required, Issue date}" id="formWcIssuedDate" value="@_IssuedDate" disabled />
                </div>
                <div class="form-group col-lg-1 text-center">
                   @Html.Label("Signature", "Signature")
                    @{
                        var _issued = Model.FormWC.SignIssu == null || Model.FormWC.SignIssu == false ? false : true;

                    }
                    <div class="clear-b mt-2">
                        <input type="checkbox" id="formWcIssuedSig" class="disableinput" checked="@_issued" style="height: 20px;">
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
@Html.HiddenFor(m => m.View, new { @id = "hdnWcView", @class = "form-control", @value = "0" })
@Html.HiddenFor(m => m.FormWC.PkRefNo, new { @id = "hdnWcRefNo", @class = "form-control", @value = "0" })
<input id="hdnForm" type="hidden" value="FormWC" />
<div class="col-md-12 mb-2 float-right text-right custom-footer" style="position: fixed;
    left: auto;
    bottom: 0px;
    right: 0;
    /* top: 0; */
    background:#fff;
    width: 96%;
    height: 45px;">
    <button type="button" class="btn btn-sm btn-outline-theme" id="clearWCBtn" onclick="return ClearWC()">Clear</button>
    <button type="button" class="btn btn-sm btn-outline-theme" onclick="GoBack()">Close</button>
    <button type="button" class="btn btn-sm btn-themebtn" id="saveWCBtn" onclick="return checkW2Exist()">Save</button>
    <button type="button" class="btn btn-sm btn-themebtn" id="submitWCBtn">Submit</button>
</div>