@using RAMMS.Business.ServiceProvider
@model RAMMS.Web.UI.Models.FormWCWGModel;

<script type="text/javascript">
    $(document).ready(function () {
        process.Init("FormWC", "@Model.FormWC.Status", @Model.FormWC.PkRefNo);

        $('#formWcIssuedBy').val("@Model.FormWC.UseridIssu");
        $('#formWcIssuedBy').trigger('chosen:updated');
        $("#formWcIssuedBy").trigger("change");

    });

     //if ($("#hdnWcView").val() == "1") {
     //    $("#divFormWc *").prop("disabled", true);
     //    $("#saveWCBtn").hide();
     //    $("#submitWCBtn").hide();
     //}
</script>

<div class="container-fluid">
    <div class="row" id="divFormWc">
        <div class="col-lg-12">
            <div class="bg-white rounded landing-division w-100 float-left mb-3 border">
                <div class="col-lg-12 py-2 px-4">
                    <span class="font-14 font-weight-bold">
                        JABATAN KERJA RAYA
                    </span>
                </div>
                <div class="border-top px-3 pt-3 pb-1 float-left w-100">
                    <div class="w-100 dt-tbl-section">

                        <div class="pb-1 float-left w-100">
                            <div class="w-100 dt-tbl-section">
                                <div class="row">
                                    <div class="form-group col-lg-4">
                                        <label for="OurRef">
                                            Name of Division
                                        </label>
                                         @Html.DropDownListFor(m => m.FormWC.IwWrksDeptId, (IEnumerable<SelectListItem>)ViewData["Division"], "Select Division", new { @id = "formWCDivisionCode", @class = "form-control   svalidate { required, Division } " })                                    
                                    </div>
                                </div>
                            
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
       
        <div class="col-lg-12">
            <div class="bg-white rounded landing-division w-100 float-left mb-3 border">
                <div class="col-lg-12 py-2 px-4">
                    <span class="font-14 font-weight-bold">
                        CERTIFICATE OF PRACTICAL COMPLETION
                    </span>
                </div>
                <div class="border-top px-3 pt-3 pb-1 float-left w-100">
                    <div class="row">
                        <div class="form-group col-lg-3">
                            <label for="OurRef">Our Ref / Contract No</label>
                            @Html.TextBoxFor(m => m.FormWC.OurRefNo , new { @id="formWcOurRef", @class="form-control svalidate { required, ' Our Ref/Contract No.' }"})
                        </div>
                        <div class="form-group col-lg-3">
                            <label for="Date">
                                Date
                            </label>
                            @Html.EditorFor(m => m.FormWC.DtWc, "{0:dd/MM/yyyy}", new { htmlAttributes = new { @id="formWcDate", @class = "form-control  svalidate { required,Wc Date }", @type = "date" } })
                        </div>
                        <div class="form-group col-lg-3">
                            <label for="Your Ref">
                                Your Ref
                            </label>
                            @Html.TextBoxFor(m => m.FormWC.YourRefNo , new { @id="formWcYourRef", @class="form-control svalidate { required, Your Ref }"})
                        </div>
                        <div class="form-group  col-lg-3">
                            @Html.Label("Service Provider Name", "Service Provider Name")
                            @Html.TextBoxFor(Ahdr => Ahdr.FormW1.ServPropName , new { @Id = "formWcServiceProvider", @class = "form-control", @disabled=true })
                        </div>

                     

                    </div>


                </div>
            </div>
        </div>
    
        <div class="col-lg-12 d-none">
            <div class="bg-white rounded landing-division w-100 float-left mb-3 border">
                <div class="col-lg-12 py-2 px-4">
                    <span class="font-14 font-weight-bold">
                        INSTRUCTED WORK
                    </span>
                </div>
                <div class="border-top px-3 pt-3 pb-1 float-left w-100">
                    <div class="col-lg-12">
                        <div class="row">
                            <div class="col-lg-4">
                                <div class="row">
                                    <div class="col-lg-12 mb-3">
                                        <label class="mb-0" for=" PhysicalWorks">S.O.'s Instruction No</label>
                                        @Html.TextBoxFor(Ahdr => Ahdr.FormW1.ServPropRefNo , new { @Id = "formWcServPropRefNo", @class = "form-control" })
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-8">
                                <label class="mb-0" for="PhysicalWorks">
                                    Instructed Work Title
                                </label>
                                @Html.TextAreaFor(Ahdr => Ahdr.FormW1.ProjectTitle  , new { @Id = "formWcProjectTitle", @class = "form-control" })
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>
        <div class="col-12">
            <div class="bg-white border radius rounded-0 w-100 float-left">
                <p class="w-100 float-left m-0 text-center py-3" style="line-height: 30px; font-size: 18px; padding:0px 25px">
                    <span class="float-left" style="line-height:28px">
                        In accordance with <b class="" style="padding:0px 2px;font-size:20px;">Clause 8.9 </b> of the Agreement, it is hereby certified that the Instructed Work achieved Practical Completion on
                    </span>
                    <span class="float-left">
                        @*@Html.TextBoxFor(m => m.FormWC.DtCompl , new { @id="formWcDtCompl",@min="2020-01-01", @type="date", @style="width:180px;font-weight:bold", @class="form-control border-left border-top-0 border-left-0 border-right-0 float-left svalidate { required, Date }"})*@
                        @Html.EditorFor(m => m.FormWC.DtCompl, "{0:dd/MM/yyyy}", new { htmlAttributes = new { @style="width:180px;font-weight:bold", @id="formWcDtCompl", @class = "form-control border-left border-top-0 border-left-0 border-right-0 float-left svalidate { required,Practical Completion Date }", @type = "date" } })
                        <span class="float-left" style="line-height:50px">And that the Defects Liability Period in respect of the said Instructed Work began on the same day and </span>
                    </span>

                    <span class="float-left">
                        <span class="float-left" style="line-height:47px;">will end on</span>
                        <span class="float-left">
                            @*@Html.TextBoxFor(m => m.FormWC.DtDlpExtn , new { @id="formWcDtDlpExtn",  @type="date", @style="width:180px;font-weight:bold", @class="form-control border-left border-top-0 border-left-0 border-right-0 float-left svalidate { required, Date }"})*@
                            @Html.EditorFor(m => m.FormWC.DtDlpExtn, "{0:dd/MM/yyyy}", new { htmlAttributes = new { @style="width:180px;font-weight:bold", @id="formWcDtDlpExtn", @class = "form-control border-left border-top-0 border-left-0 border-right-0 float-left svalidate { required, Extention Date }", @type="date" } })
                        </span>
                    </span>
                </p>
            </div>
        </div>
        <div class="col-12 px-4">
            <div class="row pt-3 pb-1">
                <div class="form-group col-lg-2">
                    <label for="Designation"> User ID </label>
                    @Html.DropDownList((IEnumerable<CSelectListItem>)ViewData["User"], "formWcIssuedBy", "Select Users", new { Id = "formWcIssuedBy", @class = "form-control svalidate  {required,  Issued by} " })
                </div>
                <div class="form-group col-lg-3">
                    @Html.Label("Name", "Name")
                    @Html.TextBoxFor(w => w.FormWC.UsernameIssu, new { @id = "formWcIssuedName", @class = "form-control svalidate  {required,  Issued by Name}", @disabled = true })
                </div>
                <div class="form-group col-lg-2 ">
                    @Html.Label("Designation", "Designation")
                    @Html.TextBoxFor(w => w.FormWC.DesignationIssu, new { @id = "formWcIssuedDesig", @class = "form-control svalidate  {required,  Issued by Designation}", @disabled = true })
                </div>
                <div class="form-group col-lg-2">
                    @Html.Label("Office", "Office")
                    @Html.TextBoxFor(w => w.FormWC.OfficeIssu, new { @id = "formWcIssuedOffice", @class = "form-control svalidate  {required,  Issued by Office}", @disabled = true })
                </div>
                <div class="form-group col-lg-2 pr-0">
                    @Html.Label("(DD-MM-YYYY)", "(DD-MM-YYYY)")
                    @{
                        var vd = Model.FormWC.DtIssu;
                        string _IssuedDate = vd.HasValue ? vd.Value.ToString("yyyy-MM-dd") : "";
                    }
                    <input type="text" class="datepicker form-control  svalidate {required, Issued date}" id="formWcIssuedDate" value="@_IssuedDate" disabled />
                </div>
                <div class="form-group col-lg-1 text-center">
                    @Html.Label("Signature", "Signature")
                    @{
                        var _issued = Model.FormWC.SignIssu == null || Model.FormWC.SignIssu == false ? false : true;

                    }
                    <div class="clear-b mt-2">
                        <input type="checkbox" id="formWcIssuedSig" class="disableinput" checked="@_issued" style="height: 20px;" disabled>
                    </div>
                </div>
            </div>
        </div>
    </div>
    @{
        Html.RenderPartial("~/Views/Shared/_ProcessHistory.cshtml", new RAMMS.DTO.RequestBO.ProcessDTO
        {
            Form = "FormWC",
            RefId = Model.FormWC.PkRefNo,
            Stage = Model.FormWC.Status
        });
    }
</div>
@Html.HiddenFor(m => m.WCView, new { @id = "hdnWcView", @class = "form-control" })
@Html.HiddenFor(m => m.FormWC.PkRefNo, new { @id = "hdnWcRefNo", @class = "form-control", @value = "0" })
<input id="hdnForm" type="hidden" value="FormWC" />
<div id="divWCButton" class="col-md-12 mb-2 float-right text-right custom-footer" style="position: fixed;
    left: auto;
    bottom: 0px;
    right: 0;
    /* top: 0; */
    background:#fff;
    width: 96%;
    height: 45px;">
    <button type="button" class="btn btn-sm btn-outline-theme" id="clearWCBtn" onclick="return ClearWC()">Clear</button>
    <button type="button" class="btn btn-sm btn-outline-theme" onclick="GoBack()">Close</button>
    <button type="button" class="btn btn-sm btn-themebtn" id="saveWCBtn" onclick="return checkW2Exist()">Save</button>
    <button type="button" class="btn btn-sm btn-themebtn" id="submitWCBtn">Submit</button>
</div>
