@using RAMMS.Business.ServiceProvider
@model RAMMS.Web.UI.Models.FormWCWGModel;


<script type="text/javascript">
    $(document).ready(function () {
        process.Init("FormWG", "@Model.FormWG.Status", @Model.FormWG.PkRefNo);

        $('#formWgIssuedBy').val("@Model.FormWG.UseridIssu");
        $('#formWgIssuedBy').trigger('chosen:updated');
        $("#formWgIssuedBy").trigger("change");

    });

     if ($("#hdngcView").val() == "1") {
         $("#saveWGBtn").hide();
         $("#submitWGBtn").hide();
     }
</script>


<div class="col-12">
    <div class="row" id="divFormWg">
        <div class="col-lg-12">
            <div class="bg-white rounded landing-division w-100 float-left mb-3 border">
                <div class="col-lg-12 py-2 px-4">
                    <span class="font-14 font-weight-bold">
                        JABATAN KERJA RAYA
                    </span>
                </div>
                <div class="border-top px-3 pt-3 pb-1 float-left w-100">
                    <div class="w-100 dt-tbl-section">
                        <div class="row">
                            <div class="form-group col-lg-4">
                                <label for="OurRef">
                                    Name of Division
                                </label>
                                @Html.DropDownListFor(m => m.FormWG.IwWrksDeptId, (IEnumerable<SelectListItem>)ViewData["Division"], "Select Division", new { @id = "formWGDivisionCode", @class = "form-control svalidate {required,Division}" })                                    

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-lg-12">
            <div class="bg-white rounded landing-division w-100 float-left mb-3 border">
                <div class="col-lg-12 py-2 px-4">
                    <span class="font-14 font-weight-bold">
                        CERTIFICATE OF COMPLETION OF MAKING GOOD DEFECTS
                    </span>
                </div>
                <div class="border-top px-3 pt-3 pb-1 float-left w-100">
                    <div class="row">
                        <div class="form-group col-lg-3">
                            <label for="OurRef">Our Ref / Contract No </label>
                            @Html.TextBoxFor(m => m.FormWG.OurRefNo , new { @id="formWgOurRef", @class="form-control svalidate {required, Our Ref Contract No }"})
                        </div>
                        <div class="form-group col-lg-3">
                            <label for="Date">
                                Date
                            </label>
                            @Html.EditorFor(m => m.FormWG.DtWg, "{0:dd/MM/yyyy}", new { htmlAttributes = new { @id="formWgDate", @class = "form-control svalidate {required,Wg Date }", @type = "date" } })
                        </div>
                        <div class="form-group col-lg-3">
                            <label for="Your Ref">
                                Your Ref No
                            </label>
                            @Html.TextBoxFor(m => m.FormWG.YourRefNo , new { @id="formWgYourRef", @class="form-control svalidate {required, Your Ref }"})
                        </div>
                        <div class="form-group  col-lg-3">
                            @Html.Label("Service Provider Name", "Service Provider Name")
                            @Html.TextBoxFor(Ahdr => Ahdr.FormW1.ServPropName , new { @Id = "formWgServiceProvider", @class = "form-control"  ,@disabled=true})
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-12 d-none">
            <div class="bg-white rounded landing-division w-100 float-left mb-3 border">
                <div class="col-lg-12 py-2 px-4">
                    <span class="font-14 font-weight-bold">
                        INSTRUCTED WORK
                    </span>
                </div>
                <div class="border-top px-3 pt-3 pb-1 float-left w-100">
                    <div class="col-lg-12">
                        <div class="row">
                            <div class="col-lg-4 pl-0">
                                <div class="row">
                                    <div class="col-lg-12 mb-3">
                                        <label class="mb-0" for="S.O.'s Instruction No.">S.O.'s Instruction No.</label>
                                        @Html.TextBoxFor(Ahdr => Ahdr.FormW1.ServPropRefNo , new { @Id = "formWgServPropRefNo", @class = "form-control" })
                                    </div>
                                    <div class="col-lg-12 mb-3">
                                        <label class="mb-0" for="Date of Commencement">Date of Commencement</label>
                                        @Html.EditorFor(m => m.FormWG.DtDefectCompl, "{0:dd/MM/yyyy}", new { htmlAttributes = new { @id="formWgDeftDt", @class = "form-control  svalidate { required,Date of Commencement Date }", @type = "date" } })
                                    </div>
                                   
                                </div>
                            </div>
                            <div class="col-lg-8">
                                <label class="mb-0" for="Commencement">Instructed Work Title</label>
                                @Html.TextAreaFor(Ahdr => Ahdr.FormW1.ProjectTitle  , new { @Id = "formWgProjectTitle", @class = "form-control" })
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-12">
            <p class="bg-white rounded landing-division w-100 float-left mb-3 border px-4" style="line-height: 30px; font-size: 18px;">
                <span class="float-left" style="line-height: 55px;"> In accordance with <b style="padding:0px 2px;font-size:20px;">Clause 8.10.8</b> of the Agreement, it is in my opinion that the Defects has been made good on </span>
                <span class="float-left">                   
                    @Html.EditorFor(m => m.FormWG.DtDefectCompl, "{0:dd/MM/yyyy}", new { htmlAttributes = new { @style="width:180px;font-weight:bold", @id="formWgDftComp", @class = "form-control svalidate {required, Extention Date} border-left border-top-0 border-left-0 border-right-0 float-left ", @type="date" } })
                    </span>
            </p>
        </div>
        <div class="col-12">
            <div class="row py-2 px-3">
                <div class="form-group col-lg-2">
                    <label for="Designation"> User ID </label>
                    @Html.DropDownList((IEnumerable<CSelectListItem>)ViewData["User"], "formWgIssuedBy", "Select Users", new { Id = "formWgIssuedBy", @class = "form-control  svalidate {required,Issued by} " })
                </div>
                <div class="form-group col-lg-3">
                    @Html.Label("Name", "Name")
                    @Html.TextBoxFor(w => w.FormWG.UsernameIssu, new {@id = "formWgIssuedName", @class = "form-control svalidate  {required,Issued by Name}", @disabled = true })
                </div>
                <div class="form-group col-lg-2">
                    @Html.Label("Designation", "Designation")
                    @Html.TextBoxFor(w => w.FormWG.DesignationIssu, new { @id = "formWgIssuedDesig", @class = "form-control svalidate  {required,Issued by Designation}", @disabled = true })
                </div>
                <div class="form-group col-lg-2 p-0">
                    @Html.Label("Office", "Office")
                    @Html.TextBoxFor(w => w.FormWG.OfficeIssu, new { @id = "formWgIssuedOffice", @class = "form-control svalidate  {required,Issued by Office}", @disabled = true })
                </div>
                <div class="form-group col-lg-2 pr-0">
                    @Html.Label("(DD-MM-YYYY)", "(DD-MM-YYYY)")
                    @{
                        var vd = Model.FormWG.DtIssu;
                        string _IssuedDate = vd.HasValue ? vd.Value.ToString("yyyy-MM-dd") : "";
                    }
                    <input type="text" class="form-control  svalidate {required, Issued date}" id="formWgIssuedDate" value="@_IssuedDate" disabled />
                </div>
                <div class="form-group col-lg-1 text-center">
                    @Html.Label("Signature", "Signature")
                    @{
                        var _issued = Model.FormWG.SignIssu == null || Model.FormWG.SignIssu == false ? false : true;

                    }
                    <div class="clear-b mt-2">
                        <input type="checkbox" id="formWgIssuedSig" class="disableinput" checked="@_issued" style="height: 20px;" disabled>
                    </div>
                </div>
            </div>
        </div>
    </div>
    @{
        Html.RenderPartial("~/Views/Shared/_ProcessHistory.cshtml", new RAMMS.DTO.RequestBO.ProcessDTO
        {
            Form = "FormWG",
            RefId = Model.FormWG.PkRefNo,
            Stage = Model.FormWG.Status
        });
    }
</div>
@Html.HiddenFor(m => m.WGView, new { @id = "hdnWgView", @class = "form-control", @value = "0" })
@Html.HiddenFor(m => m.FormWG.PkRefNo, new { @id = "hdnWgRefNo", @class = "form-control", @value = "0" })

<input id="hdnForm" type="hidden" value="FormWG" />
<div class="col-md-12 mb-2 float-right text-right custom-footer" style="position: fixed;
    left: auto;
    bottom: 0px;
    right: 0;
    /* top: 0; */
    background:#fff;
    width: 96%;
    height: 45px;">
    <button type="button" class="btn btn-sm btn-outline-theme" id="clearWGBtn" onclick="return ClearWG()">Clear</button>
    <button type="button" class="btn btn-sm btn-outline-theme" onclick="GoBack()">Close</button>
    <button type="button" class="btn btn-sm btn-themebtn" id="saveWGBtn" onclick="return checkWExist()">Save</button>
    @if (!string.IsNullOrEmpty(Model.FormWG.Status)  && Model.FormWG.Status == RAMMS.Common.StatusList.FormWGSaved)
    {
        <button type="button" class="btn btn-sm btn-themebtn" id="submitWGBtn">Submit</button>
    }
</div>