@model RAMMS.Web.UI.Models.FormFECMModel;
@inject RAMMS.Business.ServiceProvider.Interfaces.ISecurity security;

@{
    var vd = Model.FECM != null ? Model.FECM.DtAgreedNego : null;
    string _AgrdNegoDate = vd.HasValue ? vd.Value.ToString("yyyy-MM-dd") : "";

    vd = Model.FECM != null ? Model.FECM.Dt : null;
    string _FECMDate = vd.HasValue ? vd.Value.ToString("yyyy-MM-dd") : "";

    vd = Model.W1Date;
    string _TCEMDate = vd.HasValue ? vd.Value.ToString("yyyy-MM-dd") : "";
    Layout = null;

}
<div class="col-12 bg-white" style="border-top:1px solid #dee2e6;">
    <div id="div_fecmload">
        <div class="p-4">

            <div class="row">
                @Html.HiddenFor(m => m.FECM.Fw2PkRefNo, new { @id = "FW2PkRefNo", @class = "form-control" })
                @Html.HiddenFor(m => m.FECM.PkRefNo, new { @id = "fcemPkRefNo", @class = "form-control" })
                <div class="form-group col-lg-2">
                    <label for="RMU">TECM Date</label>
                    <input type="date" class="datepicker form-control svalidate {required, TECM date}" id="tcemDate" value="@_TCEMDate" disabled />
                </div>
                <div class="form-group col-lg-2">
                    <label>
                        FECM Date
                    </label>
                    <input type="date" class="datepicker form-control svalidate {required, FECM date}" id="fecmDate" value="@_FECMDate" />
                </div>
                <div class="form-group col-lg-2 mb-0">
                    <label for="RMU">Agreed Nego Price Letter</label>
                    <br class="mb-3" />
                    @{
                        var _AgreedNegoLetrY = Model.FECM.AgreedNegoLetrYn == null || Model.FECM.AgreedNegoLetrYn == false ? "" : "checked";
                        var _AgreedNegoLetrN = Model.FECM.AgreedNegoLetrYn == null || Model.FECM.AgreedNegoLetrYn == false ? "checked" : "";

                    }

                    <label class="checkbox-inline py-3 px-2"><input type="checkbox" class="disabled dvalidate {required, Agreed Nego Letter Yes }" id="fecmAgrY" onclick="toggleAgr(1)" value="Yes" @_AgreedNegoLetrY> Yes</label>
                    <label class="checkbox-inline"><input type="checkbox"  class="disabled dvalidate {required, Agreed Nego Letter No }" id="fecmAgrN" onclick="toggleAgr(0)" value="No" @_AgreedNegoLetrN> No</label>

                </div>

                <div class="form-group col-lg-2">
                    <label for="RMU">Agreed Nego  Rate Date</label>
                    <input type="date" class="datepicker form-control  svalidate {required, Agreed Nego Rate Date}" id="fecmNegoDate" value="@_AgrdNegoDate" />
                </div>
                @*<div class="form-group col-lg-3">
                    @Html.Label("Status", "Status")
                    @Html.DropDownListFor(m => m.FECM.Sts, (IEnumerable<SelectListItem>)ViewData["TECM_Status"], "Select Status", new { @id = "fecmStatus", @class = "form-control svalidate {required, Status}" })
                    </div>
                    <div class="form-group col-lg-3">
                    <label>
                    Status Remarks
                    </label>
                    @Html.TextAreaFor(m => m.FECM.StsRemarks, new { @id = "fecmStsRemark", @class = "form-control  svalidate {required, Remark }" })
                    </div>*@

                <div class="form-group col-lg-2">
                    <label for="RMU">PROGRESS %</label>
                    @Html.TextBoxFor(m => m.FECM.ProgressPerc, new { @id = "fecmProgress", @class = "form-control  svalidate {required, PROGRESS % }" })
                </div>

                <div class="form-group col-lg-2 px-4">
                    <div class="row mt-4">
                        @{
                            var _BQ = Model.FormW1.IsBq == null || (Model.FormW1.IsBq != null && Model.FormW1.IsBq == false) ? false : true;

                        }
                        <div class="col-6 ">
                            <label class="checkbox-inline"><input type="checkbox" class="cvalidate {required, IsBq }" disabled id="femcBQ" checked="@_BQ"> BQ</label>
                        </div>

                        @{
                            var _Drawing = Model.FormW1.IsDrawing == null || (Model.FormW1.IsDrawing != null && Model.FormW1.IsDrawing == false) ? false : true;

                        }
                        <div class="col-6">
                            <label class="checkbox-inline"><input type="checkbox" class="cvalidate {required, IsDrawing }" disabled id="fecmDrawing" checked="@_Drawing"> Drawing</label>
                        </div>
                    </div>
                </div>
                <div class="form-group col-lg-12">  
                    <label for="RMU"> Remarks</label>
                    @Html.TextAreaFor(m => m.FECM.Remark, new { @id = "fecmRemark", @class = "form-control  svalidate {required, Remark }" })
                </div>
            </div>
        </div>
    </div>
</div>

@Html.HiddenFor(m => m.View, new { @id = "hdnFecmView", @class = "form-control", @value = "0" })
<div class="" style="position:relative; width:100%;">

    <div class="col-md-12 mb-2 float-right text-right custom-footer" style="position: fixed;left: auto;bottom: 0px;right: 2%;background: #fff;width: calc(100vw - 8.3%);height: 45px;">
        <button type="button" class="btn btn-sm btn-outline-theme" id="btnFecMClear" onclick="return ClearFCEM()">Clear</button>
        <button type="button" class="btn btn-sm btn-outline-theme" onclick="GoBack()">Close</button>
        <button type="button" class="btn btn-sm btn-themebtn" id="saveFCEMBtn" onclick="javascript:saveFECM(false)">Save</button>
        <button type="button" class="btn btn-sm btn-themebtn" id="submitFCEMBtn" onclick="javascript:submitFECM(true)">Submit</button>
    </div>
</div>
<script type="text/javascript">
    $(document).ready(function () {
        if ($("#hdnFecmView").val() == "1") {
            $("#div_fecmload *").prop("disabled", true);
            $("#saveFCEMBtn").hide();
            $("#btnFecMClear").hide();
            $("#submitFCEMBtn").hide();
        }
    });

    function saveFECM(){
        SaveFCEM(false);
        return false;
    }

    function submitFECM(){
        SaveFCEM(true);
        return false;
    }

    function toggleAgr(m) {
        if (m==1) {
              $("#fecmAgrN").removeAttr("checked");
        } else {
            $("#fecmAgrY").removeAttr("checked")
        }
    }

    function checkW2Exist() {
        if ($("#FW2HRef_No").length != 0){
            if (ValidatePage("#divpage")) {
                if ($("#FW2HRef_No").val() == "0" || $("#FW2HRef_No").val() == "") {
                    $("#lnkPage").click();
                    app.ShowErrorMessage("Required to save the Form W2 details and then try to create FCEM");
                    return false;
                }
            }
            else {
                $("#saveFormW2Btn").click();
                app.ShowErrorMessage("Required fields are incomplete in Form W2");
                return false;
            }
        }
        else {
            if ($("#FW2PkRefNo").val() == "0") {
                    app.ShowErrorMessage("Required to save the Form W2 details and then try to create FCEM");
                return false;
            }

        }
        return true;
    }

    function SaveFCEM(submit) {
        debugger;
        if (!checkW2Exist()) return;

        if (submit) {
            $("#divFecm .svalidate").addClass("validate");

            if ($("#femcBQ").prop("checked") == false && $("#fecmDrawing").prop("checked") ==  false ){
                $("#divFecm .cvalidate").addClass("validate");
            } else if ($("#femcBQ").prop("checked") == true || $("#fecmDrawing").prop("checked") ==  true )
            {
                 $("#femcBQ .validate").addClass("cvalidate");
                 $("#femcBQ").removeClass("validate");
                 $("fecmDrawing .validate").addClass("cvalidate");
                 $("#fecmDrawing").removeClass("validate");
            }

            if ($("#fecmAgrY").prop("checked") == false && $("#fecmAgrN").prop("checked") ==  false ){
                $("#divFecm .dvalidate").addClass("validate");
            } else if ($("#fecmAgrY").prop("checked") == true || $("#fecmAgrN").prop("checked") ==  true )
            {
                 $("#fecmAgrY .validate").addClass("dvalidate");
                 $("#fecmAgrY").removeClass("validate");
                 $("fecmAgrN .validate").addClass("dvalidate");
                 $("#fecmAgrN").removeClass("validate");
            }
            
        }

        if (!ValidatePage('#divFecm'))
            return false;


        InitAjaxLoading();

        var d = new Date();

        var month = d.getMonth() + 1;
        var day = d.getDate();

        var output = (('' + month).length < 2 ? '0' : '') + month + '/' +
            (('' + day).length < 2 ? '0' : '') + day + '/' + d.getFullYear();

        var saveObj = new Object;

        saveObj.PkRefNo = $("#fcemPkRefNo").val();
        saveObj.Fw2PkRefNo = $("#FW2PkRefNo").val();
        saveObj.DtTecm = $("#tcemDate").val();
        saveObj.Dt = $("#fecmDate").val();
        saveObj.AgreedNegoLetrYn = $("#fecmAgrY").prop("checked");
        saveObj.DtAgreedNego = $("#fecmNegoDate").val();
        saveObj.Sts = $("#fecmStatus").find(":selected").val();
        saveObj.StsRemarks = $("#fecmStsRemark").val();
        saveObj.ProgressPerc = $("#fecmProgress").val();
        saveObj.IsBq = $("#femcBQ").prop("checked");
        saveObj.IsDrawing = $("#fecmDrawing").prop("checked");
        saveObj.Remark = $("#fecmRemark").val();

        //Created by

        if ($("#fcemPkRefNo").val() != "0") {
            saveObj.ModBy = @security.UserID;
            saveObj.ModDt = output;
        }



        if ($("#fcemPkRefNo").val() == "0") {
            saveObj.CrBy =  @security.UserID;
            saveObj.CrDt = output;
        }

        saveObj.ActiveYn = true;
        saveObj.SubmitSts = submit;
        console.log(saveObj);
        $.ajax({
            url: '/InstructedWorks/SaveFCEM',
            data: saveObj,
            type: 'POST',
            success: function (data) {
                HideAjaxLoading();
                if (data == -1) {
                    app.ShowErrorMessage("Reference id already Exist");
                }
                else {
                    //$("#FW2HRef_No").val(data)
                    if (submit) {
                        $("#saveFCEMBtn").hide();
                        $("#submitFCEMBtn").hide();
                        app.ShowSuccessMessage('Successfully Submitted', false);
                    }
                    else {
                        $("#saveFCEMBtn").show();
                        $("#submitFCEMBtn").show();
                        app.ShowSuccessMessage('Successfully Saved', false);
                    }
                }
            },
            error: function (data) {
                HideAjaxLoading();
                app.ShowErrorMessage(data.responseText);
            }

        });
    }

    function ClearFCEM() {
        $("#fecmDate").val('');
        $("#fecmAgrY").prop("checked",false);
        $("#fecmAgrN").prop("checked",false);
        $("#fecmProgress").val('');
        $("#fecmNegoDate").val('');
        $("#femcBQ").prop("checked",false)
        $("#fecmDrawing").prop("checked",false)
        $("#fecmRemark").val('');
        return false;
    }

</script>