@model RAMMS.Web.UI.Models.FormW2Model;
@{
    ViewBag.TabTitle = "Form W2 -  Initiation of Instructed Work";
    ViewData["Title"] = "Form W2 - Initiation of Instructed Work";
    Layout = "~/Views/Shared/_PortalLayout.cshtml";

    var vd = Model.SaveFormW2Model.DateOfInitation;
    string _InitationDate = vd.HasValue ? vd.Value.ToString("yyyy-MM-dd") : "";

    vd = Model.SaveFormW2Model.DateOfCommencement;
    string _CommencementDate = vd.HasValue ? vd.Value.ToString("yyyy-MM-dd") : "";

    vd = Model.SaveFormW2Model.DateOfComplition;
    string _CompletionDate = vd.HasValue ? vd.Value.ToString("yyyy-MM-dd") : "";

    vd = Model.SaveFormW2Model.IssuedDate;
    string _IssuedDate = vd.HasValue ? vd.Value.ToString("yyyy-MM-dd") : "";

    vd = Model.SaveFormW2Model.ReceivedDate;
    string _ReceivedDate = vd.HasValue ? vd.Value.ToString("yyyy-MM-dd") : "";

}
<script src="~/js/FormW2.js" type="text/javascript"></script>
<script>

  
    $("#formW2RoadCode").on("change", function () {
        var data = $("#formW2RoadCode option:selected").text();
        $("#formW2RoadCode").val(data.split('-')[1]);

        var req = {};
        var _rmu = $("#formW2RMU");
        //var _sec = $("#formHDetSrchSec");
        var _road = $("#formW2RoadCode");
        req.RMU = $("#formW2RMU option:selected").text();
        if (req.RMU == "Select RMU") {
            req.RMU = '';
        }
        //req.Section = $("#formHDetSrchSec option:selected").text();
        //if (req.Section == "Select Section") {
        //    req.Section = '';
        //}
        req.RdCode = _road.val();

        $.ajax({
            url: '/NOD/RMUSecRoad',
            dataType: 'JSON',
            data: req,
            type: 'Post',
            success: function (data) {
                console.log(data);

                if (req.RMU == "") {
                    $("#formHDetSrchRMU").empty();
                    $("#formHDetSrchRMU").append($("<option></option>").val("").html("Select RMU"));
                    $.each(data.rmu, function (index, v) {
                        $("#formHDetSrchRMU").append($("<option></option>").val(v.value).html(v.text));
                    });
                }

                if (req.RdCode == "") {
                    $("#formW2RoadCode").empty();
                    $("#formW2RoadCode").append($("<option></option>").val("").html("Select Road Code"));
                    $.each(data.rdCode, function (index, v) {
                        $("#formW2RoadCode").append($("<option></option>").val(v.value).html(v.text));
                    });
                }
                $('#formW2RMU').trigger("chosen:updated");
                $('#formW2RoadCode').trigger("chosen:updated");
            },
            error: function (data) {

                console.error(data);
            }
        });
    });

    function GoBack() {
        if ($("#hdnView").val() == "0") {
            if (app.Confirm("Unsaved changes will be lost. Are you sure you want to cancel?", function (e) {
                if (e) {
                    location.href = "/InstructedWorks/Index";
                }
            }));
        }
        else
            location.href = "/InstructedWorks/Index";
    }
</script>


<div class="row bg-white row bg-white pt-3 pb-0">
    <div class="col-md-12">
        <div class="w-100 position-relative pt-2 float-left d-flex justify-content-center">
            <ul class="nav nav-tabs tabbed round">
                <li class="nav-item">
                    <a href="#page" data-toggle="tab" aria-expanded="false" class="nav-link active">
                        <span class="">
                            Form W2
                        </span>
                    </a>
                </li>

                <li class="nav-item">
                    <a href="#AccordPagegallery" data-toggle="tab" aria-expanded="false" class="nav-link">
                        <span class="">
                            Photo W2
                        </span>
                    </a>
                </li>
                <li class="nav-item">
                    <a href="#formw1" data-toggle="tab" aria-expanded="false" class="nav-link">
                        <span class="">
                            Form W1
                        </span>
                    </a>
                </li>
            </ul>
        </div>

        <div class="row bg-white py-4">
            <div class="col-lg-12">
                <div class="tab-content">
                    @using (Html.BeginForm())
                    {
                        <div class="tab-pane show active" id="page">
                            <div class="col-md-12">
                                <div class="row" id="div-addformd">
                                    <div class="col-12 bg-white mh-240" style="border-top:1px solid #dee2e6;">
                                        <div class="p-4">
                                            <div class="row">
                                                <div id="accordion" class="col-lg-12">

                                                    <div class="row">
                                                        <div class="col-12">
                                                            <div class="row">
                                                                <div class="col-lg-2 mb-2">
                                                                    @Html.Label("Superintending Officer's Instruction No", "Superintending Officer's Instruction No", new { @class = "mb-0" })
                                                                </div>
                                                                <div class="col-lg-10 mb-2">
                                                                    @Html.TextBoxFor(m => m.SaveFormW2Model.SupInstNo, new { @Id = "SupInstNo", @class = "form-control  svalidate {required, Superintending Officer's Instruction No}" })
                                                                </div>
                                                                <div class="col-12 mt-2">
                                                                    <div class="row">
                                                                        <div class="form-group col-lg-2 pr-lg-0">
                                                                            @Html.Label("Region", "Region")
                                                                            @{
                                                                                Model.SaveFormW2Model.Region = string.IsNullOrEmpty(Model.SaveFormW2Model.Region) ? "Sarawak" : Model.SaveFormW2Model.Region;
                                                                            }
                                                                            @Html.DropDownListFor(m => m.SaveFormW2Model.Region, (IEnumerable
                                                                           <SelectListItem>)ViewData["Region"], "Select Region", new { @id = "formW2Region", @class = "form-control svalidate {required, Region}" })

                                                                        </div>
                                                                        <div class="form-group col-lg-2 pr-lg-0">
                                                                            @Html.Label("Division", "Division")
                                                                            @Html.DropDownListFor(m => m.SaveFormW2Model.Division, (IEnumerable
                                                                           <SelectListItem>)ViewData["Division"], "Select Division", new { @id = "formW2Division", @class = "form-control svalidate {required, Division}" })
                                                                        </div>
                                                                        <div class="form-group col-lg-3 pr-lg-0">
                                                                            @Html.Label("RMU", "RMU")

                                                                            @Html.DropDownListFor(m => m.SaveFormW2Model.Division, (IEnumerable
                                                                          <SelectListItem>)ViewData["RMU"], "Select RMU", new { @id = "formW2RMU", @class = "form-control svalidate {required, Division}" })
                                                                        </div>

                                                                        <div class="form-group col-lg-3 pr-lg-0">
                                                                            @Html.Label("JKR Ref", "JKR Ref")
                                                                            @Html.TextBoxFor(m => m.SaveFormW2Model.JkrRefNo, new { @Id = "JkrRefNo", @class = "form-control  svalidate {required, JkrRefNo}" })

                                                                        </div>
                                                                        <div class="form-group col-lg-2 ">
                                                                            @Html.Label("Date of Initiation (DD-MM-YYYY)", "Date of Initiation (DD-MM-YYYY)")
                                                                            <input type="date" class="datepicker form-control  svalidate {required, Issue date}" id="formW2InitiationDate" name="formW2InitiationDate" value="@_InitationDate" />

                                                                        </div>
                                                                        <div class="form-group col-lg-6">
                                                                            <div class="row">
                                                                                <div class="form-group col-lg-6">
                                                                                    @Html.Label("Service Provider's Ref", "Service Provider's Ref")
                                                                                    @Html.TextBoxFor(m => m.SaveFormW2Model.SerProviderRefNo, new { @Id = "SerProviderRef", @class = "form-control  svalidate {required, Service Provider's Ref}" })
                                                                                </div>
                                                                                <div class="form-group col-lg-6">
                                                                                    @Html.Label("Service Provider", "Service Provider")
                                                                                    @{
                                                                                        Model.SaveFormW2Model.ServiceProvider = string.IsNullOrEmpty(Model.SaveFormW2Model.ServiceProvider) ? "ENDAYA CONSTRUCTION SDN. BHD." : Model.SaveFormW2Model.ServiceProvider;
                                                                                    }
                                                                                    @Html.DropDownListFor(Ahdr => Ahdr.SaveFormW2Model.ServiceProvider, (IEnumerable
                                        <SelectListItem>)ViewData["Service Provider"], "Select Service Provider", new { @Id = "formW2ServiceProvider", @class = "form-control  svalidate {required, Service Provider}" })
                                                                                </div>
                                                                            </div>

                                                                        </div>


                                                                        <div class="form-group col-lg-3 pr-lg-0">
                                                                            @Html.Label("Attn", "Attn")
                                                                            @Html.TextBoxFor(m => m.SaveFormW2Model.Attn, new { @Id = "Attn", @class = "form-control  svalidate {required, Attn}" })
                                                                        </div>

                                                                        <div class="form-group col-lg-3">
                                                                            @Html.Label("CC", "CC")
                                                                            @Html.TextBoxFor(m => m.SaveFormW2Model.Cc, new { @Id = "Cc", @class = "form-control  svalidate {required, CC}" })
                                                                        </div>
                                                                    </div>

                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>

                                                    <div class="row">
                                                        <div class="col-12">
                                                            <div class="bg-white rounded landing-division w-100 float-left mb-3 border ">
                                                                <div class="row">
                                                                    <div class="col-lg-12 py-2 px-4">
                                                                        <span class="font-14 font-weight-bold">@Html.Label("PART A: LOCATION (to be completed by S.O. or his representative)", "PART A: LOCATION (to be completed by S.O. or his representative)") </span>
                                                                    </div>
                                                                    <div class="col-12">
                                                                        <div class="border-top px-2 pb-1 float-left w-100">
                                                                            <div class="row pt-3">
                                                                                <div class="form-group col-lg-4">
                                                                                    @Html.Label("Road Code", "Road Code")
                                                                                    @Html.DropDownListFor(Ahdr => Ahdr.SaveFormW2Model.RoadCode, (IEnumerable
                                        <SelectListItem>)ViewData["RD_Code"], "Select Road Code", new { @Id = "formW2RoadCode", @class = "form-control reference svalidate {required, Road Code}" })

                                                                                </div>
                                                                                <div class="form-group col-lg-4">
                                                                                    @Html.Label("Road Name", "Road Name")
                                                                                    @Html.TextBoxFor(m => m.SaveFormW2Model.RoadName, new { @Id = "formW2roadDesc", @readonly = "readonly", @class = "form-control svalidate {required, Road Name} " })
                                                                                </div>
                                                                                <div class="form-group col-lg-4">
                                                                                    @Html.Label("Location Chainage From", "Location Chainage From")

                                                                                    <div class="row">
                                                                                        <div class="col-5 pl-1 pr-0">
                                                                                            @Html.TextBoxFor(Adtl => Adtl.SaveFormW2Model.FrmCh, new { @Id = "formW2ChinageFrom", @maxlength = 5, @autocomplete = "off", @type = "text", @class = "form-control allow_numeric svalidate {required,number, Location Chainage Km}", @rows = 1 })
                                                                                        </div>

                                                                                        <div class="col-1 text-center pt-2">@Html.Label("+", "+")</div>
                                                                                        <div class="col-5 pl-1 pr-0"> @Html.TextBoxFor(Adtl => Adtl.SaveFormW2Model.ToCh, new { @Id = "formW2Toch", @maxlength = 3, @autocomplete = "off", @type = "text", @class = "form-control allow_numeric svalidate {required,number,Location Chainage m}", @rows = 1 })</div>
                                                                                    </div>

                                                                                </div>
                                                                            </div>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </div>

                                                            <div class="bg-white rounded landing-division w-100 float-left mb-3 border ">
                                                                <div class="row">
                                                                    <div class="col-lg-12 py-2 px-4">
                                                                        <span class="font-14 font-weight-bold">@Html.Label("PART B: PARTICULARS OF INSTRUCTED WORK (to be completed by S.O. or his representative)", "PART B: PARTICULARS OF INSTRUCTED WORK (to be completed by S.O. or his representative)")</span>
                                                                    </div>
                                                                    <div class="col-12">
                                                                        <div class="border-top px-2 pb-1 float-left w-100">
                                                                            <div class="row pt-3">
                                                                                <div class="form-group col-lg-12">
                                                                                    @Html.Label("Title of Instructed Work:", "Title of Instructed Work:")
                                                                                    @Html.TextAreaFor(m => m.SaveFormW2Model.TitleOfInstructWork, new { @style = "height:70px", @Id = "formW2TitleOfInstructWork", @class = "form-control svalidate {required, Title of Instructed Work}" })

                                                                                </div>
                                                                                <div class="form-group col-lg-5">
                                                                                    <div class="row">
                                                                                        <div class="col-lg-12 form-group">
                                                                                            @Html.Label("Date of commencement (DD-MM-YYYY)", "Date of commencement (DD-MM-YYYY)")
                                                                                            <input type="date" class="datepicker form-control  svalidate {required, Commencement date}" id="formW2CommencementDate" name="formW2InitiationDate" value="@_CommencementDate" />
                                                                                        </div>
                                                                                        <div class="col-lg-12 form-group">
                                                                                            @Html.Label("Date of Completion (DD-MM-YYYY)", "Date of Completion (DD-MM-YYYY)")
                                                                                            <input type="date" class="datepicker form-control  svalidate {required, Completion date}" id="formW2CompletionDate" name="formW2CompletionDate" value="@_CompletionDate" />
                                                                                        </div>
                                                                                        <div class="col-lg-12 form-group">
                                                                                            @Html.Label("Instructed Work duration", "Instructed Work duration")

                                                                                            @Html.DropDownListFor(Ahdr => Ahdr.SaveFormW2Model.InstructWorkDuration, (IEnumerable
                                                                                                <SelectListItem>)ViewData["Months"], "Select Month", new { @Id = "formW2InstructWorkDuration", @class = "form-control disableinput editdisable" })
                                                                                        </div>
                                                                                    </div>


                                                                                </div>
                                                                                <div class="form-group col-lg-7">
                                                                                    @Html.Label("Remarks", "Remarks")
                                                                                    @Html.TextAreaFor(m => m.SaveFormW2Model.Remarks, new { @style = "height:178px", @Id = "formW2Remarks", @class = "form-control svalidate {required, Description Of NC}" })
                                                                                </div>
                                                                            </div>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                            <div class="bg-white rounded landing-division w-100 float-left mb-3 border">
                                                                <div class="row">
                                                                    <div class="col-lg-12 py-2 px-4">
                                                                        <span class="font-14 font-weight-bold">
                                                                            @Html.Label("PART C: DETAILS OF WORK (to be completed by S.O. or his representative)", "PART C: DETAILS OF WORK (to be completed by S.O. or his representative)")
                                                                        </span>
                                                                    </div>
                                                                    <div class="col-12">

                                                                        <div class="border-top px-2 pb-1 float-left w-100">
                                                                            <div class="row">
                                                                                <div class="form-group col-lg-12">
                                                                                    @Html.TextAreaFor(m => m.SaveFormW2Model.DetailsOfWorks, new { @style = "height:70px", @Id = "formW2DetailsOfWorks", @class = "form-control svalidate {required, Details Of Work}" })
                                                                                </div>
                                                                                @*<div class="form-group col-lg-6">
                                                                                        <label for="ProposedDesignDuration">Proposed Design Duration</label>
                                                                                        <select class="form-control">
                                                                                            <option value="">Select Month</option>
                                                                                            <option value="">1 Month</option>
                                                                                            <option value="">2 Month</option>
                                                                                        </select>
                                                                                    </div>
                                                                                    <div class="form-group col-lg-6">
                                                                                        <label for="ProposedCompletionofIWPeriod">Proposed Completion of IW Period</label>
                                                                                        <select class="form-control  ">
                                                                                            <option value="">Select Month</option>
                                                                                            <option value="">1 Month</option>
                                                                                            <option value="">2 Month</option>
                                                                                        </select>
                                                                                    </div>*@
                                                                            </div>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="row">
                                                        <div class="col-lg-12">
                                                            <div class="bg-white rounded landing-division w-100 float-left mb-3 border">
                                                                <div class="col-lg-12 py-2 px-2">
                                                                    <span class="font-14 font-weight-bold">
                                                                        @Html.Label("PART D: CEILING ESTIMATED COST (to be completed by S.O. or his representative)", "PART D: CEILING ESTIMATED COST (to be completed by S.O. or his representative)")
                                                                    </span>
                                                                </div>
                                                                <div class="border-top px-2 pt-3 pb-1 float-left w-100">
                                                                    <div class="form-group col-lg-4 float-left px-0">

                                                                        @Html.Label("Estimated Cost (RM)", "Estimated Cost (RM)")

                                                                        @Html.TextBoxFor(Adtl => Adtl.SaveFormW2Model.CeilingEstCost, new { @Id = "formW2CeilingEstCost", @autocomplete = "off", @type = "text", @class = "form-control allow_numeric svalidate {required,number, Estimated Cost}" })
                                                                    </div>
                                                                    <div class="clear-b"></div>
                                                                    <div class="form-group col-lg-3 pl-0">
                                                                        @Html.Label("Issued By", "Issued By")
                                                                        @Html.DropDownListFor(Ahdr => Ahdr.SaveFormW2Model.IssuedBy, (IEnumerable
                    <SelectListItem>)ViewData["Users"], "Select IssuedBy", new { @Id = "formW2IssuedBy", @class = "form-control  svalidate {required, IssuedBy}" })
                                                                    </div>
                                                                    <div class="form-group col-lg-4">
                                                                        @Html.Label("Name", "Name")
                                                                        @Html.TextBoxFor(w => w.SaveFormW2Model.IssuedName, new { @id = "formW2IssuedName", @class = "form-control svalidate  {required, Attention To Name}" })
                                                                    </div>
                                                                    @*<div class="form-group col-lg-3 p-0">
                                                                            <label for="Designation"> Designation</label>
                                                                            <input class="form-control " type="text" value=" Regional Manager">
                                                                        </div>*@
                                                                    <div class="form-group col-lg-3">
                                                                        @Html.Label("(DD-MM-YYYY)", "(DD-MM-YYYY)")
                                                                        <input type="date" class="datepicker form-control  svalidate {required, Issue date}" id="formW2IssuedDate" name="formW2InitiationDate" value="@_IssuedDate" />
                                                                    </div>
                                                                    <div class="form-group col-lg-2 text-center">
                                                                        @Html.Label("Signature", "Signature")
                                                                        <div class="clear-b mt-2">
                                                                            <input type="checkbox" />
                                                                            @*@Html.CheckBoxFor(w => (w.SaveFormW2Model.IssuedSignature == null ? false : true), new { @id = "formW2IssuedSignture", @class = "form-control" })*@
                                                                        </div>
                                                                    </div>
                                                                </div>

                                                                @*<div class="form-group col-lg-3 float-left">
                                                                        <label>
                                                                            Name
                                                                        </label>
                                                                        <input type="text" class="form-control " placeholder="Name">
                                                                    </div>
                                                                    <div class="form-group col-lg-3 float-left">
                                                                        <label>
                                                                            Date
                                                                        </label>
                                                                        <input type="Date" class="form-control">
                                                                    </div>
                                                                    <div class="form-group col-lg-2 float-left">
                                                                        <label>Signature</label>
                                                                        <div class="clear-b">
                                                                            <input type="checkbox"> Chong Chi Fam

                                                                        </div>
                                                                    </div>*@
                                                            </div>
                                                        </div>
                                                        <div class="col-lg-12">
                                                            <div class="bg-white rounded landing-division w-100 float-left mb-3 border">
                                                                <div class="col-lg-12 py-2 px-2">
                                                                    <span class="font-14 font-weight-bold">
                                                                        @Html.Label("Service Provider's Representative", "Service Provider's Representative")
                                                                    </span>
                                                                </div>
                                                                <div class="border-top px-2 pt-3 pb-1 float-left w-100">
                                                                    <div class="row">
                                                                        <div class="form-group col-lg-3">

                                                                            @Html.Label("Received by", "Received by")

                                                                            @Html.DropDownListFor(Ahdr => Ahdr.SaveFormW2Model.ReceivedBy, (IEnumerable
                <SelectListItem>)ViewData["Users"], "Select Received By", new { @Id = "formN1ReceivedBy", @class = "form-control  svalidate {required, Received By}" })
                                                                        </div>
                                                                        <div class="form-group col-lg-4">
                                                                            @Html.Label("Name", "Name")
                                                                            @Html.TextBoxFor(w => w.SaveFormW2Model.ReceivedName, new { @id = "formW2ReceivedName", @class = "form-control svalidate  {required, ReceivedName To Name}" })
                                                                        </div>

                                                                        <div class="form-group col-lg-3">
                                                                            @Html.Label("(DD-MM-YYYY)", "(DD-MM-YYYY)")
                                                                            <input type="date" class="datepicker form-control  svalidate {required, Issue date}" id="formW2IssuedDate" name="formW2InitiationDate" value="@_ReceivedDate" />
                                                                        </div>
                                                                        <div class="form-group col-lg-2 text-center">
                                                                            @Html.Label("Signature", "Signature")
                                                                            <div class="clear-b mt-2">
                                                                                <input type="checkbox" />
                                                                                @*@Html.CheckBoxFor(w => Convert.ToBoolean(w.SaveFormW2Model.ReceivedSignature ), new { @id = "formW2ReceivedSignature", @class = "form-control" })*@

                                                                            </div>
                                                                        </div>

                                                                    </div>


                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                @Html.HiddenFor(m => m.SaveFormW2Model.PkRefNo, new { @id = "FW2HRef_No", @class = "form-control" })
                                @Html.HiddenFor(m => m.View, new { @id = "hdnView", @class = "form-control" })
                                <div class="col-md-12 mb-2 float-right text-right custom-footer">
                                    <button type="button" class="btn btn-sm btn-outline-theme" onclick="GoBack()">Close</button>
                                    <button type="button" class="btn btn-sm btn-themebtn" id="saveFormW2Btn">Save</button>
                                    <button type="button" class="btn btn-sm btn-themebtn" id="submitFormW2Btn">Submit</button>
                                </div>
                            </div>
                        </div>
                    }
                    <div class="tab-pane show" id="formw1">
                        <div class="p-4">
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="row">
                                        <div class="form-group col-lg-3">
                                            <label>
                                                IW Reference No
                                            </label>
                                            <input type="text" placeholder="" disabled class="form-control" />
                                        </div>
                                        <div class="form-group col-lg-3">
                                            <label>
                                                Name of the Title
                                            </label>
                                            <input type="text" disabled class="form-control" />
                                        </div>
                                        <div class="form-group col-lg-3">
                                            <label>
                                                TECH Name
                                            </label>
                                            <input type="text" disabled class="form-control" />
                                        </div>
                                        <div class="form-group col-lg-3">
                                            <label>
                                                TECH Status
                                            </label>
                                            <input type="text" disabled class="form-control" />
                                        </div>
                                        <div class="form-group col-lg-5 mb-0">
                                            <label>
                                                Service Provider's Proposal Ref
                                            </label>
                                            <div class="row">
                                                <div class="form-group col-lg-6">
                                                    <select class="form-control  " disabled>
                                                        <option value=""> Service Provider'S</option>
                                                    </select>
                                                </div>
                                                <div class="form-group col-lg-6">
                                                    <input class="form-control" type="text" value="" disabled>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="form-group col-lg-3 pr-lg-0">
                                            <label>
                                                Date
                                            </label>
                                            <input class="form-control" type="date" disabled placeholder="Date" />
                                        </div>
                                        <div class="form-group col-lg-2">
                                            <label for="RMU">RMU</label>
                                            <input class="form-control" disabled placeholder="RMU" type="text" value="">
                                        </div>
                                        <div class="form-group col-lg-2">
                                            <label for="Division_Code">Division Code</label>
                                            <input class="form-control " disabled type="text" value="">
                                        </div>
                                    </div>
                                </div>


                                <div class="col-md-12">
                                    <div class="bg-white rounded landing-division w-100 float-left mb-3 border">
                                        <div class="col-lg-12 py-2 px-4">
                                            <span class="font-14 font-weight-bold">
                                                Part A:  Name of Site/Location
                                            </span>
                                        </div>
                                        <div class="border-top px-3 pt-3 pb-1 float-left w-100">
                                            <div class="w-100 dt-tbl-section">
                                                <div class="form-group col-lg-4 pl-2 pr-2">
                                                    <label for="RoadCode">Road Code</label>
                                                    <select class="form-control" disabled>
                                                        <option value="">Road Code</option>
                                                    </select>
                                                </div>
                                                <div class="form-group col-lg-4 pl-2">
                                                    <label for="RoadCode"> Road Name:</label>
                                                    <select class="form-control" disabled>
                                                        <option value="">Road Name</option>
                                                    </select>
                                                </div>
                                                <div class="form-group col-lg-4 pl-2 pr-2">
                                                    <label for="RoadCode">  Chainage Location:</label>
                                                    <div class="row">
                                                        <div class="col-5 pl-3 pr-0"><input type="text" disabled class="form-control" value="28 "></div>
                                                        <div class="col-1 text-center"> + </div>
                                                        <div class="col-5 pl-1 pr-0"><input type="text" disabled class="form-control" value="970"></div>
                                                    </div>
                                                </div>

                                            </div>


                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-12">

                                    <div class="bg-white rounded landing-division w-100 float-left mb-3 border">
                                        <div class="col-lg-12 py-2 px-4">
                                            <span class="font-14 font-weight-bold">
                                                PART B : Details of Works
                                            </span>
                                        </div>
                                        <div class="border-top px-3 pt-3 pb-1 float-left w-100">
                                            <div class="row">
                                                <div class="form-group col-lg-12">
                                                    <textarea class="form-control border-left border-top-0 border-left-0 border-right-0" disabled placeholder="Details of Works" style="height:105px;"></textarea>
                                                </div>
                                                <div class="form-group col-lg-4">
                                                    <label for="ProposedDesignDuration">Proposed Design Duration</label>
                                                    <select class="form-control" disabled>
                                                        <option value="">Select Month</option>
                                                        <option value="">1 Month</option>
                                                        <option value="">2 Month</option>
                                                    </select>
                                                </div>
                                                <div class="form-group col-lg-4">
                                                    <label for="ProposedCompletionofIWPeriod">
                                                        Proposed Completion of IW Period
                                                    </label>
                                                    <input class="form-control" disabled placeholder=" Proposed Completion of IW Period" type="text">
                                                </div>
                                                <div class="col-lg-4 pt-4">
                                                    <label class="radio-inline">
                                                        <input type="radio" disabled name="optradio">&nbsp;	Critical&nbsp;
                                                    </label>
                                                    <label class="radio-inline">
                                                        <input type="radio" disabled name="optradio">&nbsp;	Urgent&nbsp;
                                                    </label>
                                                    <label class="radio-inline">
                                                        <input type="radio" disabled name="optradio" checked>&nbsp;	None&nbsp;
                                                    </label>
                                                </div>


                                            </div>


                                        </div>
                                    </div>
                                </div>

                                <div class="col-lg-12">
                                    <div class="bg-white rounded landing-division w-100 float-left mb-3 border">
                                        <div class="col-lg-12 py-2 px-4">
                                            <span class="font-14 font-weight-bold">
                                                PART C: COST ESTIMATE (refer to attached Bill of Quantities, Drawings and all its associated supporting documents )
                                            </span>
                                        </div>
                                        <div class="border-top px-3 pt-3 pb-1 float-left w-100">
                                            <div class="container-fluid">
                                                <div class="row">
                                                    <div class="col-lg-12">
                                                        <div class="row py-1 border-bottom">
                                                            <div class="col-8">
                                                                <label class="pt-1 mb-0" for=" PhysicalWorks">
                                                                    <b class="lh30 mb-0">  Physical Works</b>
                                                                </label>
                                                            </div>
                                                            <div class="col-4">
                                                                <input class="form-control" disabled type="text" value="RM 687018.55">
                                                            </div>
                                                        </div>
                                                        <div class="row py-1 border-bottom">
                                                            <div class="col-8">
                                                                <label class="pt-1 mb-0" for="GeneralandPreliminaries">
                                                                    <b class="lh30 mb-0">  General and Preliminaries</b>
                                                                </label>
                                                            </div>
                                                            <div class="col-4">
                                                                <input class="form-control" disabled type="text" value="RM 34350.93">
                                                            </div>
                                                        </div>
                                                        <div class="row py-1 border-bottom">
                                                            <div class="col-8">
                                                                <label for="Consultancy Fees" class="pt-1 mb-0">
                                                                    <b class="lh30 mb-0">
                                                                        <span class="float-left">Consultancy Fees + Government Tax </span> <span class="float-left"><input type="number" class="form-control border-left border-top-0 border-left-0 border-right-0" placeholder="%" style="width:100px;" /> </span><span class="float-left">(If any)</span>
                                                                    </b>
                                                                </label>
                                                            </div>
                                                            <div class="col-4">
                                                                <input class="form-control" disabled type="text" placeholder="RM">
                                                            </div>
                                                        </div>
                                                        <div class="row py-1 border-bottom">
                                                            <div class="col-8">
                                                                <label for="SiteInvestigation" class="pt-1 mb-0">
                                                                    <b class="lh30 mb-0"><span class="float-left">Site Investigation + Government Ta</span> <span class="float-left"><input type="number" class="form-control border-left border-top-0 border-left-0 border-right-0" placeholder="%" style="width:100px;" /> </span><span class="float-left">   (If any)</span></b>
                                                                </label>
                                                            </div>
                                                            <div class="col-4">
                                                                <input class="form-control" disabled type="text" placeholder="RM">
                                                            </div>
                                                        </div>
                                                        <div class="row py-1 border-bottom">
                                                            <div class="col-8">
                                                                <label for="Surveyworks" class="pt-1 mb-0">
                                                                    <b class="lh30 mb-0"><span class="float-left">Survey Works + Government Tax </span> <span class="float-left"><input type="number" class="form-control border-left border-top-0 border-left-0 border-right-0" placeholder="%" style="width:100px;" /> </span><span class="float-left"> (If any)</span></b>
                                                                </label>
                                                            </div>
                                                            <div class="col-4">
                                                                <input class="form-control" disabled type="text" placeholder="RM">
                                                            </div>
                                                        </div>
                                                        <div class="row py-1 border-bottom">
                                                            <div class="col-8">
                                                                <label for="Othercost " class="pt-1 mb-0">
                                                                    <b class="lh30 mb-0">Any other cost </b>
                                                                </label>
                                                            </div>
                                                            <div class="col-4">
                                                                <input class="form-control" disabled type="text" placeholder="RM">
                                                            </div>
                                                        </div>
                                                        <div class="row py-1">
                                                            <div class="col-8">
                                                                <label for="Estimatedtotalcost" class="pt-1 mb-0">
                                                                    <b class="lh30 mb-0">
                                                                        Estimated Total Cost
                                                                    </b>
                                                                </label>
                                                            </div>
                                                            <div class="col-4">
                                                                <input class="form-control" disabled type="text" value="RM 721369.48">
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="col-lg-12 mt-3">
                                                        <div class="row border-top pt-3 pb-1">
                                                            <div class="form-group col-lg-2 p-0">
                                                                <label for="Designation">
                                                                    Requested by
                                                                </label>
                                                                <select class="form-group" disabled>
                                                                    <option>User Id</option>
                                                                </select>
                                                            </div>
                                                            <div class="form-group col-lg-3">
                                                                <label for="Designation"> Name </label>
                                                                <input class="form-control" disabled type="text" value="Mohd. Riduan Osman">
                                                            </div>
                                                            <div class="form-group col-lg-3 p-0">
                                                                <label for="Designation"> Designation</label>
                                                                <input class="form-control " disabled type="text" value=" Regional Manager">
                                                            </div>
                                                            <div class="form-group col-lg-2 pr-0">
                                                                <label>Date (DD-MM-YYYY)</label>
                                                                <input type="date" disabled class="datepicker form-control disableinput ">
                                                            </div>
                                                            <div class="form-group col-lg-2">
                                                                <label>Signature</label>
                                                                <div class="clear-b">
                                                                    <input disabled type="checkbox">
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <div class="row pt-3 pb-1">
                                                            <div class="form-group col-lg-2 p-0">
                                                                <label for="Designation">
                                                                    Verified By
                                                                </label>
                                                                <select class="form-group" disabled>
                                                                    <option>User Id</option>
                                                                </select>
                                                            </div>
                                                            <div class="form-group col-lg-3">
                                                                <label for="Designation"> Name </label>
                                                                <input class="form-control" disabled type="text" value="Mohd. Riduan Osman">
                                                            </div>
                                                            <div class="form-group col-lg-3 p-0">
                                                                <label for="Designation"> Designation</label>
                                                                <input class="form-control " disabled type="text" value=" Regional Manager">
                                                            </div>
                                                            <div class="form-group col-lg-2 pr-0">
                                                                <label>Date (DD-MM-YYYY)</label>
                                                                <input type="date" disabled class="datepicker form-control disableinput ">
                                                            </div>
                                                            <div class="form-group col-lg-2">
                                                                <label>Signature</label>
                                                                <div class="clear-b">
                                                                    <input type="checkbox">
                                                                </div>
                                                            </div>
                                                        </div>




                                                        <div class="row d-none">
                                                            <div class="col-lg-12 p-1">
                                                                <div class="bg-white rounded landing-division w-100 float-left mb-3 border">
                                                                    <div class="col-lg-12 py-2 px-2">
                                                                        <span class="font-14 font-weight-bold">
                                                                            Critical / Urent
                                                                            @*CRITICAL / URGENT*@
                                                                        </span>
                                                                    </div>
                                                                    <div class="border-top px-2 py-2 pb-1 float-left w-100">
                                                                        The reinstatement work required is considered as CRITICAL / URGENT. I hereby recommend that the work to be carried out as Instructed Works.
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <div class="row d-none">
                                                            <div class="col-lg-12">
                                                                <div class="form-group float-left pl-2 pr-2">
                                                                    <label>Name for this Instructed Work Proposal: (to be given by S.O. / S.O.'s Rep.)</label>
                                                                    <div class="clear-b">
                                                                        <input type="checkbox">
                                                                        PROPOSED REHABILATION FOR SLOPE AT CH28+970, Q3178 JALAN MIRI MARUDI
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                            </div>
                        </div>
                    </div>
                    <div class="tab-pane" id="AccordPagegallery">
                        <div class="accordion custom-accordion" id="custom-accordion-eight">
                            <div class="card">
                                <div class="card-header" id="headingEight" style="padding: .45rem 1.25rem; ">
                                    <div class="w-100 float-left d-flex justify-content-between">
                                        <a class="custom-accordion-title py-1" data-toggle="collapse" href="#ImageList" aria-expanded="true" aria-controls="collapseEight">
                                            <span class="float-left" style="padding-top: 2px;">
                                                <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="#007bff" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-plus-circle after-collapsed d-none"><circle cx="12" cy="12" r="10"></circle><line x1="12" y1="8" x2="12" y2="16"></line><line x1="8" y1="12" x2="16" y2="12"></line></svg>
                                                <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-minus-circle before-collapsed d-none"><circle cx="12" cy="12" r="10"></circle><line x1="8" y1="12" x2="16" y2="12"></line></svg>
                                            </span>
                                            <span class="float-left" style="padding: 4px 8px;">
                                                Image List
                                            </span>
                                        </a>
                                        <div class="img-btns mt-1">

                                            <a id="ancAddImage" class="btn btn-sm btn-themebtn" onclick="frmC1C2.ShowAddImage();" finddetailsdep>
                                                <span class="add-icon"></span> Add Image
                                            </a>

                                        </div>
                                    </div>
                                </div>
                                <div id="ImageList" class="collapse show avowmodal-form" aria-labelledby="headingEight" data-parent="#custom-accordion-eight">
                                    <div class="card-body">
                                        <div id="cancel-row">
                                            <div class="simple-tbl">
                                                <table id="tblImageList">
                                                    <thead>
                                                        <tr>
                                                            <th>S.NO</th>
                                                            <th>Image Type</th>
                                                            <th>File Name</th>
                                                            <th class="deleteImg" id="" style="text-align:center">Delete</th>
                                                        </tr>
                                                    </thead>
                                                    <tbody>
                                                    </tbody>
                                                </table>
                                            </div>
                                        </div>
                                        <div style="display:none" id="ImageListTRTemplate">
                                            <table>
                                                <tbody>
                                                    <tr>
                                                        <td imgsno></td>
                                                        <td imgtype></td>
                                                        <td imgfilename></td>

                                                        <td deleteImg class="deleteImg" style="text-align:center"><button type="button" style="border:none;align-content:center;background:transparent" onclick="frmC1C2.DeleteImg(this);"><span class="remove-icon"></span></button></td>

                                                        <td class="deleteImg" style="text-align:center"></td>

                                                    </tr>
                                                </tbody>
                                            </table>
                                        </div>
                                    </div>
                                </div>

                            </div>
                        </div>

                        <div class="accordion custom-accordion mt-3" id="custom-accordion-Nine">
                            <div class="card mb-0">
                                <div class="card-header" id="headingNine">
                                    <a class="custom-accordion-title py-l collapsed" data-toggle="collapse" href="#ImageView" aria-expanded="false" aria-controls="collapseNine">
                                        <span class="float-left" style="padding-top: 2px;">
                                            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="#007bff" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-plus-circle after-collapsed d-none"><circle cx="12" cy="12" r="10"></circle><line x1="12" y1="8" x2="12" y2="16"></line><line x1="8" y1="12" x2="16" y2="12"></line></svg>
                                            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-minus-circle before-collapsed d-none"><circle cx="12" cy="12" r="10"></circle><line x1="8" y1="12" x2="16" y2="12"></line></svg>
                                        </span>
                                        <span class="float-left" style="padding: 4px 8px;">
                                            Image View
                                        </span>
                                    </a>
                                </div>
                                <div id="ImageView" class="collapse avowmodal-form" aria-labelledby="headingEight" data-parent="#ImageList">
                                    <div class="card-body" id="ImageViewBody">

                                    </div>
                                </div>
                                <div style="display:none;" id="ImageViewBodyTemplate">
                                    <div class="container">
                                        <h6 phototype></h6>
                                        <hr>
                                    </div>
                                    <div class="item">
                                        <div data-fancybox="gallery" style="text-align:center" gallery>

                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>


                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
