@model RAMMS.Web.UI.Models.FormW1Model;
@using RAMMS.Business.ServiceProvider;

@{
    ViewBag.TabTitle = "Form W1 - Request for Instructed Work";
    Layout = "~/Views/Shared/_PortalLayout.cshtml";
}

@using (Html.BeginForm())
{
    <div class="row">
        <div class="col-12 mt-3">
            <div class="container-fluid">
                <div class="row">

                    <div class="col-md-12">
                        <div class="w-100 position-relative pt-2 float-left d-flex justify-content-center">
                            <ul class="nav nav-tabs tabbed round">
                                <li class="nav-item">
                                    <a href="#page" data-toggle="tab" aria-expanded="false" class="nav-link active">
                                        <span class="">
                                            Form W1
                                        </span>
                                    </a>
                                </li>
                                <li class="nav-item">
                                    <a href="#AccordPagegallery" data-toggle="tab" aria-expanded="false" class="nav-link">
                                        <span class="">
                                            Photo
                                        </span>
                                    </a>
                                </li>
                            </ul>
                        </div>

                        <div class="row bg-white py-4">
                            <div class="col-lg-12">
                                <div class="tab-content">
                                    <div class="tab-pane show active" id="page">
                                        <div class="col-md-12">
                                            <div class="row">
                                                <div class="col-12">
                                                    <div class="mh-240 bg-white py-2">



                                                        <div class="container-fluid">
                                                            <div class="row">
                                                                <div class="col-md-12">
                                                                    <div class="row">

                                                                        <div class="form-group col-lg-2">
                                                                            @Html.Label("Division Code", "Division Code")
                                                                            @Html.DropDownListFor(m => m.FormW1.Division, (IEnumerable<CSelectListItem>)ViewData["Division"], "Select Division", new { @class = "form-control" })
                                                                        </div>
                                                                        <div class="form-group col-lg-4">
                                                                            <div class="row">
                                                                                <div class="col-6">
                                                                                    @Html.Label("RMU", "RMU")
                                                                                    @Html.DropDownListFor(m => m.FormW1.Rmu, (IEnumerable<CSelectListItem>)ViewData["RMU"], "Select RMU", new { @class = "form-control" })
                                                                                </div>
                                                                                <div class="col-6">
                                                                                    @Html.Label("FormH Reference No", "FormH Reference No")
                                                                                    @Html.TextBoxFor(m => m.FormW1.FomrhRefNo, new { @class = "form-control" })
                                                                                </div>
                                                                            </div>

                                                                        </div>

                                                                        <div class="form-group col-lg-3">
                                                                            @Html.Label("IW Reference No", "IW Reference No")
                                                                            @Html.TextBoxFor(m => m.FormW1.ReferenceNo, new { @class = "form-control" })
                                                                        </div>
                                                                        <div class="form-group col-lg-3">
                                                                            @Html.Label("Project Title", "Project Title")
                                                                            @Html.TextBoxFor(m => m.FormW1.ProjectTitle, new { @class = "form-control" })
                                                                        </div>
                                                                        <div class="form-group col-lg-3">
                                                                            @Html.Label("TECM Date", "TECM Date")
                                                                            @Html.TextBoxFor(m => m.FormW1.TecmDate, new { @class = "form-control" })
                                                                        </div>
                                                                        <div class="form-group col-lg-3">
                                                                            @Html.Label("TECM Status", "TECM Status")
                                                                            @Html.TextBoxFor(m => m.FormW1.TecmStatus, new { @class = "form-control" })
                                                                        </div>
                                                                        <div class="form-group col-lg-3 mb-0">
                                                                            @Html.Label("Service Provider's Proposal Ref", "Service Provider's Proposal Ref")
                                                                            @Html.TextBoxFor(m => m.FormW1.ServPropRefNo, new { @class = "form-control" })

                                                                        </div>
                                                                        <div class="form-group col-lg-3">
                                                                            @Html.Label("Date", "Date")
                                                                            @Html.EditorFor(m => m.FormW1.RmuDate, new { type = "date", htmlAttributes = new { @class = "form-control" } })

                                                                        </div>

                                                                    </div>
                                                                </div>


                                                                <div class="col-md-12">
                                                                    <div class="bg-white rounded landing-division w-100 float-left mb-3 border">
                                                                        <div class="col-lg-12 py-2 px-4">
                                                                            <span class="font-14 font-weight-bold">
                                                                                Part A:  Name of Site/Location
                                                                            </span>
                                                                        </div>
                                                                        <div class="border-top px-3 pt-3 pb-1 float-left w-100">
                                                                            <div class="w-100 dt-tbl-section">
                                                                                <div class="form-group col-lg-3 pl-2 pr-2">
                                                                                    @Html.Label("Road Code", "Road Code")
                                                                                    @Html.DropDownList((IEnumerable<CSelectListItem>)ViewData["RD_Code"], "RoadCode", "Select Road Code", new { id = "ddlRoadCode", @class = "form-control", @onchange = "OnRoadChange(this);" })

                                                                                </div>
                                                                                <div class="form-group col-lg-3 pl-2">
                                                                                    @Html.Label("Road Name", "Road Name")
                                                                                    <input data-toggle="tooltip" data-placement="bottom" id="txtRoadName" type="text" class="form-control" disabled />
                                                                                </div>
                                                                                <div class="form-group col-lg-3 pl-2 pr-2">
                                                                                    @Html.Label("Chainage Location", "Chainage Location")
                                                                                    <div class="row">
                                                                                        <div class="col-5 pl-3 pr-0"> @Html.TextBoxFor(m => m.FormW1.FrmCh, new { @class = "form-control" })</div>
                                                                                        <div class="col-1 text-center"> + </div>
                                                                                        <div class="col-5 pl-1 pr-0">@Html.TextBoxFor(m => m.FormW1.ToCh, new { @class = "form-control" })</div>
                                                                                    </div>
                                                                                </div>
                                                                                <div class="form-group col-lg-3 pl-2 pr-2">
                                                                                    @Html.Label("Approved IW Ref. (to be given by S.O)", "Approved IW Ref. (to be given by S.O)")
                                                                                    @Html.TextBoxFor(m => m.FormW1.ChainageApprovedIwref, new { @class = "form-control" })
                                                                                </div>
                                                                            </div>


                                                                        </div>
                                                                    </div>
                                                                </div>
                                                                <div class="col-md-12">

                                                                    <div class="bg-white rounded landing-division w-100 float-left mb-3 border">
                                                                        <div class="col-lg-12 py-2 px-4">
                                                                            <span class="font-14 font-weight-bold">
                                                                                PART B : Details of Works
                                                                            </span>
                                                                        </div>
                                                                        <div class="border-top px-3 pt-3 pb-1 float-left w-100">
                                                                            <div class="row">
                                                                                <div class="form-group col-lg-12">
                                                                                    @Html.TextAreaFor(m => m.FormW1.DetailsOfWork, new { placeholder = "Details of Works", @class = "form-control border-left border-top-0 border-left-0 border-right-0", @style = "height:105px;" })

                                                                                </div>
                                                                                <div class="form-group col-lg-4">
                                                                                    @Html.Label("Proposed Design Duration", "Proposed Design Duration")
                                                                                    @Html.DropDownListFor(m => m.FormW1.PropDesignDuration, (IEnumerable<SelectListItem>)ViewData["Months"], "Select Month", new { @class = "form-control" })

                                                                                </div>
                                                                                <div class="form-group col-lg-4">
                                                                                    @Html.Label("Proposed Completion of IW Period", "Proposed Completion of IW Period")
                                                                                    @Html.TextBoxFor(m => m.FormW1.PropCompletionPeriod, new { @class = "form-control" })

                                                                                </div>
                                                                                <div class="col-lg-4">
                                                                                    @Html.Label("Recomonded Instructed Work", "Recomonded Instructed Work")
                                                                                    <br />
                                                                                    <label class="radio-inline">
                                                                                        @Html.RadioButtonFor(x => x.FormW1.RecommendedInstructedWork, "Critical")&nbsp;	Critical&nbsp;
                                                                                    </label>
                                                                                    <label class="radio-inline">
                                                                                        @Html.RadioButtonFor(x => x.FormW1.RecommendedInstructedWork, "Urgent")&nbsp;	Urgent&nbsp;
                                                                                    </label>
                                                                                    <label class="radio-inline">
                                                                                        @Html.RadioButtonFor(x => x.FormW1.RecommendedInstructedWork, "None")&nbsp;	None&nbsp;
                                                                                    </label>
                                                                                </div>


                                                                            </div>


                                                                        </div>
                                                                    </div>
                                                                </div>

                                                                <div class="col-lg-12">
                                                                    <div class="bg-white rounded landing-division w-100 float-left mb-3 border-dark">
                                                                        <div class="col-lg-12 py-2 px-4" style="background-color: #c8e1ff;">
                                                                            <span class="font-14 font-weight-bold">
                                                                                PART C: COST ESTIMATE (refer to attached Bill of Quantities, Drawings and all its associated supporting documents )
                                                                            </span>
                                                                        </div>
                                                                        <div class="border-top px-3 pt-3 pb-1 float-left w-100">
                                                                            <div class="container-fluid">
                                                                                <div class="row">
                                                                                    <div class="col-lg-12">
                                                                                        <div class="row py-1 border-bottom">
                                                                                            <div class="col-8">
                                                                                                <label class="pt-1 mb-0" for=" PhysicalWorks">
                                                                                                    <b class="lh30 mb-0">  Physical Works</b>
                                                                                                </label>
                                                                                            </div>
                                                                                            <div class="col-4">
                                                                                                @Html.TextBoxFor(m => m.FormW1.PhyWorks, new { placeholder = "RM", @class = "form-control" })
                                                                                            </div>
                                                                                        </div>
                                                                                        <div class="row py-1 border-bottom">
                                                                                            <div class="col-8">
                                                                                                <label class="pt-1 mb-0" for="GeneralandPreliminaries">
                                                                                                    <b class="lh30 mb-0">  General and Preliminaries</b>
                                                                                                </label>
                                                                                            </div>
                                                                                            <div class="col-4">
                                                                                                @Html.TextBoxFor(m => m.FormW1.GenPrelims, new { placeholder = "RM", @class = "form-control" })
                                                                                            </div>
                                                                                        </div>
                                                                                        <div class="row py-1 border-bottom">
                                                                                            <div class="col-8">
                                                                                                <label for="Consultancy Fees" class="pt-1 mb-0">
                                                                                                    <b class="lh30 mb-0">
                                                                                                        <span class="float-left">Consultancy Fees + Government Tax </span> <span class="float-left"><input type="number" class="form-control border-left border-top-0 border-left-0 border-right-0" placeholder="%" style="width:100px;" /> </span><span class="float-left">(If any)</span>
                                                                                                    </b>
                                                                                                </label>
                                                                                            </div>
                                                                                            <div class="col-4">
                                                                                                @Html.TextBoxFor(model => model.FormW1.ConsulFee, new { @class = "form-control numeric" })
                                                                                            </div>
                                                                                        </div>
                                                                                        <div class="row py-1 border-bottom">
                                                                                            <div class="col-8">
                                                                                                <label for="SiteInvestigation" class="pt-1 mb-0">
                                                                                                    <b class="lh30 mb-0"><span class="float-left">Site Investigation + Government Ta</span> <span class="float-left"><input type="number" class="form-control border-left border-top-0 border-left-0 border-right-0" placeholder="%" style="width:100px;" /> </span><span class="float-left">   (If any)</span></b>
                                                                                                </label>
                                                                                            </div>
                                                                                            <div class="col-4">
                                                                                                @Html.TextBoxFor(model => model.FormW1.SiteInvest, new { @class = "form-control numeric" })
                                                                                            </div>
                                                                                        </div>
                                                                                        <div class="row py-1 border-bottom">
                                                                                            <div class="col-8">
                                                                                                <label for="Surveyworks" class="pt-1 mb-0">
                                                                                                    <b class="lh30 mb-0"><span class="float-left">Survey Works + Government Tax </span> <span class="float-left"><input type="number" class="form-control border-left border-top-0 border-left-0 border-right-0" placeholder="%" style="width:100px;" /> </span><span class="float-left"> (If any)</span></b>
                                                                                                </label>
                                                                                            </div>
                                                                                            <div class="col-4">
                                                                                                @Html.TextBoxFor(model => model.FormW1.SurvyWorks, new { @class = "form-control numeric" })
                                                                                            </div>
                                                                                        </div>
                                                                                        <div class="row py-1 border-bottom">
                                                                                            <div class="col-8">
                                                                                                <label for="Othercost " class="pt-1 mb-0">
                                                                                                    <b class="lh30 mb-0">Any other cost </b>
                                                                                                </label>
                                                                                            </div>
                                                                                            <div class="col-4">
                                                                                                @Html.TextBoxFor(model => model.FormW1.OtherCost, new { @class = "form-control numeric" })
                                                                                            </div>
                                                                                        </div>
                                                                                        <div class="row py-1">
                                                                                            <div class="col-8">
                                                                                                <label for="Estimatedtotalcost" class="pt-1 mb-0">
                                                                                                    <b class="lh30 mb-0">
                                                                                                        Estimated Total Cost
                                                                                                    </b>
                                                                                                </label>
                                                                                            </div>
                                                                                            <div class="col-4">
                                                                                                @Html.TextBoxFor(model => model.FormW1.EstimTotalCost, new { @class = "form-control numeric" })
                                                                                            </div>
                                                                                        </div>
                                                                                    </div>

                                                                                </div>
                                                                            </div>
                                                                        </div>

                                                                    </div>
                                                                </div>
                                                                <div class="col-lg-12 mt-3">
                                                                    <div class="row pt-3 pb-1">
                                                                        <div class="form-group col-lg-2">
                                                                            @Html.Label("Requested by", "Requested by")
                                                                            @Html.DropDownList((IEnumerable<CSelectListItem>)ViewData["User"], "RequestedBy", "Select Users", new { Id = "ddlCreatedBy", @class = "form-control", @onchange = "OnRequestedByUserChange(this);" })
                                                                        </div>
                                                                        <div class="form-group col-lg-3">
                                                                            @Html.Label("Name", "Name")
                                                                            <input id="SerProviderUserName" class="form-control {req,Inspected By User Name}" type="text" value="" userName disabled />
                                                                        </div>
                                                                        <div class="form-group col-lg-3 p-0">
                                                                            <label for="Designation"> Designation</label>
                                                                            <input id="SerProviderUserDesignation" class="form-control {req,Inspected By User Designation}" type="text" value="" userDest disabled />
                                                                        </div>
                                                                        <div class="form-group col-lg-2 pr-0">
                                                                            @Html.Label("Date (DD-MM-YYYY)", "Date (DD-MM-YYYY)")
                                                                            @Html.EditorFor(m => m.FormW1.RequestedByDate, new { type = "date", htmlAttributes = new { @class = "form-control" } })

                                                                        </div>
                                                                        <div class="form-group col-lg-2 text-center">

                                                                            @Html.Label("Signature", "Signature")
                                                                            <div class="clear-b mt-2">
                                                                                @Html.TextBoxFor(model => model.FormW1.RequestedBySign, new { type = "checkbox", @class = "form-control numeric" })
                                                                            </div>

                                                                        </div>
                                                                    </div>
                                                                    <div class="row pt-3 pb-1">
                                                                        <div class="form-group col-lg-2">
                                                                            <label for="Designation">
                                                                                Verified By
                                                                            </label>
                                                                            @Html.DropDownList((IEnumerable<CSelectListItem>)ViewData["User"], "VerifiedBy", "Select Users", new { Id = "ddlVerifiedBy", @disabled = true, @class = "form-control", @onchange = "OnVerifyUserChange(this);" })
                                                                        </div>
                                                                        <div class="form-group col-lg-3">
                                                                            <label for="Designation"> Name</label>
                                                                            <input id="VerifierUserName" class="form-control {req,Inspected By User Name}" type="text" value="" VerifieruserName disabled />
                                                                        </div>
                                                                        <div class="form-group col-lg-3 p-0">
                                                                            <label for="Designation"> Designation</label>
                                                                            <input id="VerifierDesignation" class="form-control {req,Inspected By User Designation}" type="text" value="" VerifierDesg disabled />
                                                                        </div>
                                                                        <div class="form-group col-lg-2 pr-0">
                                                                            <label>Date(DD-MM-YYYY)</label>
                                                                            @Html.EditorFor(m => m.FormW1.VerifiedDate, new { type = "date", htmlAttributes = new { @disabled = true, @class = "form-control" } })
                                                                        </div>
                                                                        <div class="form-group col-lg-2 text-center">
                                                                            @Html.Label("Signature", "Signature")
                                                                            <div class="clear-b mt-2">
                                                                                @Html.TextBoxFor(model => model.FormW1.VerifiedSign, new { type = "checkbox", @class = "form-control numeric" })
                                                                            </div>
                                                                        </div>
                                                                    </div>




                                                                    <div class="row d-none">
                                                                        <div class="col-lg-12 p-1">
                                                                            <div class="bg-white rounded landing-division w-100 float-left mb-3 border">
                                                                                <div class="col-lg-12 py-2 px-2">
                                                                                    <span class="font-14 font-weight-bold">
                                                                                        Critical / Urent
                                                                                        @*CRITICAL / URGENT*@
                                                                                    </span>
                                                                                </div>
                                                                                <div class="border-top px-2 py-2 pb-1 float-left w-100">
                                                                                    The reinstatement work required is considered as CRITICAL / URGENT. I hereby recommend that the work to be carried out as Instructed Works.
                                                                                </div>
                                                                            </div>
                                                                        </div>
                                                                    </div>
                                                                    <div class="row d-none">
                                                                        <div class="col-lg-12">
                                                                            <div class="form-group float-left pl-2 pr-2">
                                                                                <label>Name for this Instructed Work Proposal: (to be given by S.O. / S.O.'s Rep.)</label>
                                                                                <div class="clear-b">
                                                                                    <input type="checkbox">
                                                                                    PROPOSED REHABILATION FOR SLOPE AT CH28+970, Q3178 JALAN MIRI MARUDI
                                                                                </div>
                                                                            </div>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>


                                                        <!--gallery start-->
                                                        <!--galler end-->


                                                    </div>
                                                </div>

                                            </div>
                                        </div>
                                        <div class="col-md-12 mb-2 float-right text-right custom-footer">
                                            <button type="button" class="btn btn-sm btn-outline-theme">Close</button>
                                            <button type="button" class="btn btn-sm btn-themebtn" onclick=" Save();">Save</button>
                                            <button type="button" class="btn btn-sm btn-themebtn">Submit</button>
                                        </div>
                                    </div>
                                    <div class="tab-pane" id="AccordPagegallery">
                                        <div class="accordion custom-accordion" id="custom-accordion-eight">
                                            <div class="card">
                                                <div class="card-header" id="headingEight" style="padding: .45rem 1.25rem; ">
                                                    <div class="w-100 float-left d-flex justify-content-between">
                                                        <a class="custom-accordion-title py-1" data-toggle="collapse" href="#ImageList" aria-expanded="true" aria-controls="collapseEight">
                                                            <span class="float-left" style="padding-top: 2px;">
                                                                <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="#007bff" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-plus-circle after-collapsed d-none"><circle cx="12" cy="12" r="10"></circle><line x1="12" y1="8" x2="12" y2="16"></line><line x1="8" y1="12" x2="16" y2="12"></line></svg>
                                                                <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-minus-circle before-collapsed d-none"><circle cx="12" cy="12" r="10"></circle><line x1="8" y1="12" x2="16" y2="12"></line></svg>
                                                            </span>
                                                            <span class="float-left" style="padding: 4px 8px;">
                                                                Image List
                                                            </span>
                                                        </a>
                                                        <div class="img-btns mt-1">

                                                            <a id="ancAddImage" class="btn btn-sm btn-themebtn" onclick="frmC1C2.ShowAddImage();" finddetailsdep>
                                                                <span class="add-icon"></span> Add Image
                                                            </a>

                                                        </div>
                                                    </div>
                                                </div>
                                                <div id="ImageList" class="collapse show avowmodal-form" aria-labelledby="headingEight" data-parent="#custom-accordion-eight">
                                                    <div class="card-body">
                                                        <div id="cancel-row">
                                                            <div class="simple-tbl">
                                                                <table id="tblImageList">
                                                                    <thead>
                                                                        <tr>
                                                                            <th>S.NO</th>
                                                                            <th>Image Type</th>
                                                                            <th>FileName</th>
                                                                            <th class="deleteImg" id="" style="text-align:center">Delete</th>
                                                                        </tr>
                                                                    </thead>
                                                                    <tbody>
                                                                    </tbody>
                                                                </table>
                                                            </div>
                                                        </div>
                                                        <div style="display:none" id="ImageListTRTemplate">
                                                            <table>
                                                                <tbody>
                                                                    <tr>
                                                                        <td imgsno></td>
                                                                        <td imgtype></td>
                                                                        <td imgfilename></td>

                                                                        <td deleteImg class="deleteImg" style="text-align:center"><button type="button" style="border:none;align-content:center;background:transparent" onclick="frmC1C2.DeleteImg(this);"><span class="remove-icon"></span></button></td>

                                                                        <td class="deleteImg" style="text-align:center"></td>

                                                                    </tr>
                                                                </tbody>
                                                            </table>
                                                        </div>
                                                    </div>
                                                </div>

                                            </div>
                                        </div>

                                        <div class="accordion custom-accordion mt-3" id="custom-accordion-Nine">
                                            <div class="card mb-0">
                                                <div class="card-header" id="headingNine">
                                                    <a class="custom-accordion-title py-l collapsed" data-toggle="collapse" href="#ImageView" aria-expanded="false" aria-controls="collapseNine">
                                                        <span class="float-left" style="padding-top: 2px;">
                                                            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="#007bff" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-plus-circle after-collapsed d-none"><circle cx="12" cy="12" r="10"></circle><line x1="12" y1="8" x2="12" y2="16"></line><line x1="8" y1="12" x2="16" y2="12"></line></svg>
                                                            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-minus-circle before-collapsed d-none"><circle cx="12" cy="12" r="10"></circle><line x1="8" y1="12" x2="16" y2="12"></line></svg>
                                                        </span>
                                                        <span class="float-left" style="padding: 4px 8px;">
                                                            Image View
                                                        </span>
                                                    </a>
                                                </div>
                                                <div id="ImageView" class="collapse avowmodal-form" aria-labelledby="headingEight" data-parent="#ImageList">
                                                    <div class="card-body" id="ImageViewBody">

                                                    </div>
                                                </div>
                                                <div style="display:none;" id="ImageViewBodyTemplate">
                                                    <div class="container">
                                                        <h6 phototype></h6>
                                                        <hr>
                                                    </div>
                                                    <div class="item">
                                                        <div data-fancybox="gallery" style="text-align:center" gallery>

                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>


                                    </div>
                                </div>
                            </div>
                        </div>

                    </div>

                </div>
            </div>
        </div>
    </div>

    @Html.HiddenFor(m => m.FormW1.PkRefNo);
    @Html.HiddenFor(m => m.FormW1.RoadCode);
    @Html.HiddenFor(m => m.FormW1.CrBy);
    @Html.HiddenFor(m => m.FormW1.VerifiedBy);
}



<script>

    var RecomondedInstrctedWorkValue = "@Model.FormW1.RecommendedInstructedWork";
    $(document).ready(function () {
        $('[data-toggle="tooltip"]').tooltip();

        $('#ddlRoadCode').val("@Model.FormW1.RoadCode");
        $('#ddlRoadCode').trigger('chosen:updated');

        $('#ddlCreatedBy').val("@Model.FormW1.CrBy");
        $('#ddlCreatedBy').trigger('chosen:updated');

        $('#ddlVerifiedBy').val("@Model.FormW1.VerifiedBy");
        $('#ddlVerifiedBy').trigger('chosen:updated');


        $('input[type=radio][id=FormW1_RecomondedInstrctedWork]').change(function () {

            if (this.value == 'Critical' || this.value == 'Urgent') {
                $('#ddlVerifiedBy').prop("disabled", false);
                $('#ddlVerifiedBy').trigger('chosen:updated');
                $("#FormW1_VerifySoDate").prop("disabled", false);
            }
            else {
                $('#ddlVerifiedBy').prop("disabled", true);
                $('#ddlVerifiedBy').val(0);
                $('#ddlVerifiedBy').trigger('chosen:updated');
                $("#VerifierUserName").val('');
                $("#VerifierDesignation").val('');
                $("#SerProviderUserName").val('');
                $("#SerProviderUserDesignation").val('');
                $("#FormW1_VerifySoDate").prop("disabled", true);
            }
        });

        if (RecomondedInstrctedWorkValue != "None") {
            $('#ddlVerifiedBy').prop("disabled", false);
            $("#FormW1_VerifySoDate").prop("disabled", false);
            $('#ddlVerifiedBy').trigger('chosen:updated');
        }

    });
    function Save() {
        //if (submit) {
        //    $("#div-addformd .svalidate").addClass("validate");
        //}
        if (ValidatePage('#page')) {
            InitAjaxLoading();
            $.post('./SaveFormW1', $("form").serialize(), function (data) {
                HideAjaxLoading();
                if (data == -1) {
                    app.ShowErrorMessage(data.errorMessage);

                }
                else {
                    $("#FW2HRef_No").val(data.pkRefNo);
                    app.ShowSuccessMessage('Successfully Saved', false);
                    // location.href = "/InstructedWorks/AddFormW2";
                }
            });
        }
    }

    function OnRoadChange(tis) {

        var ctrl = $(tis);
        $('#FormW1_RoadCode').val(ctrl.val());
        if (ctrl.val() != null && ctrl.val() != "") {
            $("#txtRoadName").val(ctrl.find("option:selected").attr("Item1"));
        }
        else {
            $("#txtRoadName").val('');
        }

    }

    function OnRequestedByUserChange(tis) {

        var ctrl = $(tis);
        $('#FormW1_CrBy').val(ctrl.val());
        if (ctrl.val() != null && ctrl.val() != "") {
            $("#SerProviderUserName").val(ctrl.find("option:selected").attr("Item1"));
            $("#SerProviderUserDesignation").val(ctrl.find("option:selected").attr("Item2"));
        }
        else {
            $("#SerProviderUserName").val('');
            $("#SerProviderUserDesignation").val('');
        }

    }

    function OnVerifyUserChange(tis) {

        var ctrl = $(tis);
        $('#FormW1_VerifySOBy').val(ctrl.val());
        if (ctrl.val() != null && ctrl.val() != "") {
            $("#VerifierUserName").val(ctrl.find("option:selected").attr("Item1"));
            $("#VerifierDesignation").val(ctrl.find("option:selected").attr("Item2"));
        }
        else {
            $("#VerifierUserName").val('');
            $("#VerifierDesignation").val('');

        }
    }



</script>
