@model RAMMS.Web.UI.Models.FormW2Model;
@using RAMMS.Business.ServiceProvider;
@{
    ViewBag.TabTitle = "Form W2 -  Initiation of Instructed Work";
    ViewData["Title"] = "Form W2 - Initiation of Instructed Work";
    Layout = null;

    var vd = Model.SaveFormW2Model.DateOfInitation;
    string _InitationDate = vd.HasValue ? vd.Value.ToString("yyyy-MM-dd") : "";

    vd = Model.SaveFormW2Model.DtCommence;
    string _CommencementDate = vd.HasValue ? vd.Value.ToString("yyyy-MM-dd") : "";

    vd = Model.SaveFormW2Model.DtCompl;
    string _CompletionDate = vd.HasValue ? vd.Value.ToString("yyyy-MM-dd") : "";

    vd = Model.SaveFormW2Model.DtIssu;
    string _IssuedDate = vd.HasValue ? vd.Value.ToString("yyyy-MM-dd") : "";

    vd = Model.SaveFormW2Model.DtReq;
    string _RequestedDate = vd.HasValue ? vd.Value.ToString("yyyy-MM-dd") : "";

    vd = Model.Fcem != null ? Model.Fcem.Dt : null;
    string _FCEMDate = vd.HasValue ? vd.Value.ToString("yyyy-MM-dd") : "";

    vd = Model.FormW1 != null ? Model.FormW1.Dt : null;
    string _TCEMDate = vd.HasValue ? vd.Value.ToString("yyyy-MM-dd") : "";

    vd = Model.Fcem != null ? Model.Fcem.DtAgreedNego : null;
    string _AgrdNegoDate = vd.HasValue ? vd.Value.ToString("yyyy-MM-dd") : "";

}

<script src="~/js/FormW2.js" type="text/javascript"></script>

<script type="text/javascript">
        $(document).ready(function () {
            process.Init("FormW2", "@Model.SaveFormW2Model.Status", @Model.SaveFormW2Model.PkRefNo);

        });
</script>

 
<div class="row bg-white row bg-white pb-0">
    <div class="col-md-12" id="divPage">
        <div class="w-100 position-relative pt-2 float-left d-flex justify-content-center">
            <ul class="nav nav-tabs tabbed round">

                <li class="nav-item">
                    <a href="#list" data-toggle="tab" aria-expanded="false" class="nav-link active" onclick="javascript:openFCEM()">
                        <span class="">
                            FECM
                        </span>
                    </a>
                </li>
                <li class="nav-item">
                    <a href="#page" id="lnkPage" data-toggle="tab" aria-expanded="false" class="nav-link " onclick="javascript:openW2()">
                        <span class="">
                            Form W2
                        </span>
                    </a>
                </li>


                <li class="nav-item">
                    <a href="#photoGallery" data-toggle="tab" aria-expanded="false" class="nav-link " onclick="javascript:GetImageList(@Model.SaveFormW2Model.PkRefNo);">
                        <span class="">
                            Attachment
                        </span>
                    </a>
                </li>
                <li class="nav-item">
                    <a href="#formw1" data-toggle="tab" aria-expanded="false" class="nav-link" onclick="javascript:openW1()">
                        <span class="">
                            @Html.Label("Form W1", "Form W1")
                        </span>
                    </a>
                </li>
            </ul>
            <div class="d-flex py-2 mb-2 position-absolute" style="right: 0px;width: 40%; top:0px;">
                <div class="form-group mb-0 px-2" style="margin-top: -14px;">
                    @Html.Label("IW Ref No:", "IW Ref No:")  @Html.TextBoxFor(m => m.FormW1.IwRefNo, new { @id = "fw1IWRefNo", @class = "form-control  validate {required, IW Reference No.}" })
                    @Html.HiddenFor(m => m.FormW1.PkRefNo, new { @Id = "fw1PKRefNo" })
                </div>
                <div class="form-group mb-0" style="margin-top: -14px;">
                    @Html.Label("Project Title:", "Project Title:")  @Html.TextBoxFor(m => m.SaveFormW2Model.Fw1ProjectTitle, new { @id = "fw1ProjectTitle", @class = "form-control  validate {required, Project Title }", @disabled = "true" })
                </div>
            </div>
        </div>
        <div class="row bg-white py-3">
            <div class="col-lg-12">
                <div class="tab-content mh-250">
                    <div class="tab-pane show active" id="list">
                        <div class="col-12 bg-white" style="border-top:1px solid #dee2e6;">
                            <div class="p-4">

                                <div class="row">

                                    <div class="form-group col-lg-2">
                                        <label for="RMU">TECM Date</label>
                                        <input type="date" class="datepicker form-control  svalidate {required, TECM date}" disabled id="tcemDate" value="@_TCEMDate" />
                                    </div>
                                    <div class="form-group col-lg-2">
                                        <label>
                                            FECM Date
                                        </label>
                                        <input type="date" class="datepicker form-control  svalidate {required, FECM date}" id="fcemDate" value="@_FCEMDate" />
                                    </div>
                                    <div class="form-group col-lg-2 mb-0">
                                        <label for="RMU">Agreed Nego Price Letter</label>
                                        <br class="mb-3" />
                                        <label class="checkbox-inline py-3 px-2"><input type="checkbox" disabled value=""> Yes</label>
                                        <label class="checkbox-inline"><input type="checkbox" disabled value=""> No</label>

                                    </div>

                                    <div class="form-group col-lg-2">
                                        <label for="RMU">Agreed Nego  Rate Date</label>
                                        <input type="date" class="datepicker form-control  svalidate {required, FECM date}" id="fcemDate" value="@_AgrdNegoDate" />
                                    </div>
                                    @*<div class="form-group col-lg-3">
                                             @Html.Label("Status", "Status")
                                                @Html.DropDownListFor(m => m.Fcem.Sts, (IEnumerable<SelectListItem>)ViewData["TECM_Status"], "Select Status", new { @id = "fcemStatus", @class = "form-control svalidate {required, Status}" })

                                        </div>
                                        <div class="form-group col-lg-3">
                                            <label>
                                                Status Remarks
                                            </label>
                                            <textarea class="form-control" style="height:36px;"> </textarea>
                                        </div>*@

                                    <div class="form-group col-lg-2">
                                        <label for="RMU">PROGRESS %</label>
                                        @Html.TextBoxFor(m => m.Fcem.ProgressPerc, new { @id = "fcemProgress", @class = "form-control  svalidate {required, PROGRESS % }" })
                                    </div>

                                    <div class="form-group col-lg-2 px-2">
                                        <div class="row mt-4">
                                            @{
                                                var _BQ = Model.Fcem.IsBq == null || Model.Fcem.IsBq == false ? false : true;

                                            }
                                            <div class="col-6 ">
                                                <label class="checkbox-inline"><input type="checkbox" id="fcemBQ" checked="@_BQ"> BQ</label>
                                            </div>

                                            @{
                                                var _Drawing = Model.Fcem.IsDrawing == null || Model.Fcem.IsDrawing == false ? false : true;

                                            }
                                            <div class="col-6">
                                                <label class="checkbox-inline"><input type="checkbox" id="fcemDrawing" checked="@_Drawing"> Drawing</label>
                                            </div>
                                        </div>
                                    </div>




                                    <div class="form-group col-lg-12">
                                        <label for="RMU"> Remarks</label>
                                        @Html.TextAreaFor(m => m.Fcem.Remark, new { @id = "fcemRemark", @class = "form-control  svalidate {required, Remark }" })
                                    </div>





                                </div>

                            </div>
                        </div>
                        @*<div class="col-12 bg-white" style="border-top:1px solid #dee2e6;">
                                <div class="p-4">
                                    <div class="row">
                                        <div class="col-lg-5">
                                            <div class="row">
                                                <div class="form-group col-lg-6">
                                                    @Html.Label("FCEM (DD-MM-YYYY)", "FCEM (DD-MM-YYYY)")
                                                    <input type="date" class="datepicker form-control  svalidate {required, Issue date}" id="fcemDate" value="@_FCEMDate" />
                                                </div>
                                                <div class="form-group col-lg-6">

                                                </div>
                                                <div class="form-group col-lg-6">
                                                    <label for="RMU">PROGRESS %</label>

                                                </div>
                                                <div class="form-group col-lg-6 px-4">

                                                </div>
                                            </div>

                                        </div>
                                        @Html.HiddenFor(m => m.Fcem.PkRefNo, new { @id = "fcemPkRefNo" })
                                        <div class="form-group col-lg-7">
                                            <label>
                                                Remarks
                                            </label>

                                        </div>
                                    </div>
                                </div>
                            </div>*@
                    </div>
                    <div class="tab-pane show " id="page">
                        <div class="col-md-12" id="divpage">
                            <div class="row" id="div-addformd">
                                <div class="col-12 bg-white" style="border-top:1px solid #dee2e6;">
                                    <div class="p-4">
                                        <div class="row">
                                            <div id="accordion" class="col-lg-12">
                                                <div class="row">
                                                    <div class="col-12">
                                                        <div class="row">

                                                            <div class="form-group col-lg-4 pr-lg-0">
                                                                <div class="row">
                                                                    <div class="col-6 pr-lg-0">
                                                                        @Html.Label("Region", "Region")
                                                                        @Html.TextBoxFor(m => m.SaveFormW2Model.RegionText, new { @Id = "formW2Region", @class = "form-control  svalidate {required, Region}" })
                                                                    </div>
                                                                    <div class="col-6">
                                                                        @Html.Label("Region Name", "Region Name")
                                                                        @Html.TextBoxFor(m => m.SaveFormW2Model.RegionName, new { @Id = "formW2RegionName", @class = "form-control  svalidate {required, Region Name}" })
                                                                    </div>
                                                                </div>
                                                            </div>

                                                            <div class="form-group col-lg-4 pr-lg-0">
                                                                <div class="row">
                                                                    <div class="col-4 pr-lg-0">

                                                                        @Html.Label("Division", "Division")
                                                                        @Html.TextBoxFor(m => m.SaveFormW2Model.DivText, new { @Id = "formW2DivText", @class = "form-control  svalidate {required, Division Text}" })
                                                                    </div>
                                                                    <div class="col-4 pr-lg-0">
                                                                        <label for=""> &nbsp;  &nbsp; &nbsp;</label>
                                                                        @Html.DropDownListFor(m => m.SaveFormW2Model.DivCode, (IEnumerable<SelectListItem>)ViewData["Division"], "Select Division", new { @id = "formW2DivisionCode", @class = "form-control ", @onchange = "changeDivision(this)" })
                                                                    </div>

                                                                    <div class="col-4">
                                                                        <label for="Division_Code">Division Name</label>
                                                                        @Html.TextBoxFor(m => m.SaveFormW2Model.DivisonName, new { @Id = "formW2DivisonName", @class = "form-control  svalidate {required, Division Name}", @disabled = true })
                                                                    </div>
                                                                </div>

                                                            </div>
                                                            <div class="form-group col-lg-4 pr-lg-0">
                                                                <div class="row">

                                                                    <div class="col-4 pr-lg-0">

                                                                        @Html.Label("RMU", "RMU")
                                                                        @Html.TextBoxFor(m => m.SaveFormW2Model.RmuText, new { @Id = "formW2RmuText", @class = "form-control  validate {required, RMU Text}" })
                                                                    </div>
                                                                    <div class="col-4 pr-lg-0">
                                                                        <label for=""> &nbsp;  &nbsp; &nbsp;</label>
                                                                        @Html.DropDownListFor(m => m.SaveFormW2Model.RmuCode, (IEnumerable<CSelectListItem>)ViewData["RMU"], "Select RMU", new { @id = "formW2RMU", @class = "form-control  validate {required, RMU Code}", @onchange = "changeRMU(this)" })
                                                                    </div>
                                                                    <div class="col-4">
                                                                        @Html.Label("Name", "Name")@Html.TextBoxFor(m => m.SaveFormW2Model.RmuName, new { @Id = "formW2RMUName", @class = "form-control  validate {required, RMU Name}", @disabled = true })
                                                                    </div>

                                                                </div>
                                                            </div>

                                                            <div class="form-group col-lg-3">
                                                                @Html.Label("JKR Ref", "JKR Ref")
                                                                @Html.TextBoxFor(m => m.SaveFormW2Model.JkrRefNo, new { @Id = "fw2JkrRefNo", @class = "form-control  svalidate {required, JkrRefNo}" })
                                                            </div>
                                                            <div class="form-group col-lg-3 ">
                                                                @Html.Label("Date of Initiation (DD-MM-YYYY)", "Date of Initiation (DD-MM-YYYY)")
                                                                <input type="date" class="datepicker form-control  svalidate {required, Issue date}" id="formW2InitiationDate" name="SaveFormW2Model.DateOfInitation" value="@_InitationDate" />
                                                            </div>
                                                            <div class="form-group col-lg-6 pr-lg-0">
                                                                <div class="row">
                                                                    <div class="col-6">
                                                                        @Html.Label("Service Provider's Ref", "Service Provider's Ref")
                                                                        @Html.TextBoxFor(m => m.SaveFormW2Model.SerProvRefNo, new { @Id = "fw2SerProviderRef", @class = "form-control  svalidate {required, Service Provider's Ref}" })
                                                                    </div>
                                                                    <div class="col-6">
                                                                        @Html.Label("Service Provider", "Service Provider")
                                                                        @{
                                                                            Model.SaveFormW2Model.ServProvName = string.IsNullOrEmpty(Model.SaveFormW2Model.ServProvName) ? "ENDAYA CONSTRUCTION SDN. BHD." : Model.SaveFormW2Model.ServProvName;
                                                                        }
                                                                        @*@Html.DropDownListFor(Ahdr => Ahdr.SaveFormW2Model.ServiceProvider, (IEnumerable<SelectListItem>)ViewData["Service Provider"], "Select Service Provider", new { @Id = "formW2ServiceProvider", @class = "form-control  svalidate {required, Service Provider}", @disabled = true })*@
                                                                        @Html.TextBoxFor(Ahdr => Ahdr.SaveFormW2Model.ServProvName, new { @Id = "formW2ServiceProvider", @class = "form-control  svalidate {required, Service Provider}" })
                                                                    </div>
                                                                </div>

                                                            </div>

                                                            <div class="form-group col-lg-4 pr-lg-0">
                                                                <label for="Address 1"> Address 1 </label>
                                                                @Html.TextBoxFor(Ahdr => Ahdr.FormW1.ServAddress1, new { @id = "address1", @class = "form-control", @readonly = "true" })
                                                            </div>
                                                            <div class="form-group col-lg-4">
                                                                <label for="Designation"> Address 2 </label>
                                                                @Html.TextBoxFor(Ahdr => Ahdr.FormW1.ServAddress2, new { @id = "address2", @class = "form-control", @readonly = "true" })
                                                            </div>
                                                            <div class="form-group col-lg-4 pr-lg-0">
                                                                <label for="Designation"> Address 3 </label>
                                                                @Html.TextBoxFor(Ahdr => Ahdr.FormW1.ServAddress3, new { @id = "address3", @class = "form-control", @readonly = "true" })
                                                            </div>
                                                            <div class="form-group col-lg-3">
                                                                <label for="Designation">Phone No </label>
                                                                @Html.TextBoxFor(Ahdr => Ahdr.FormW1.ServPhone, new { @id = "phone", @class = "form-control", @readonly = "true" })
                                                            </div>
                                                            <div class="form-group col-lg-3">
                                                                <label for="Designation"> Fax </label>
                                                                @Html.TextBoxFor(Ahdr => Ahdr.FormW1.ServFax, new { @id = "fax", @class = "form-control", @readonly = "true" })
                                                            </div>
                                                            <div class="form-group col-lg-3 pr-lg-0">
                                                                @Html.Label("Attn", "Attn")
                                                                @Html.TextBoxFor(m => m.SaveFormW2Model.Attn, new { @id = "fw2Attn", @class = "form-control  svalidate {required, Attention}" })
                                                            </div>
                                                            <div class="form-group col-lg-3 pr-lg-0">
                                                                @Html.Label("CC", "CC")
                                                                @Html.TextBoxFor(m => m.SaveFormW2Model.Cc, new { @id = "fw2cc", @class = "form-control  svalidate {required, CC}" })
                                                            </div>


                                                            <div class="col-lg-12">
                                                                <div class="bg-white rounded landing-division w-100 float-left mb-3 border ">
                                                                    <div class="row">
                                                                        <div class="col-lg-12 py-2 px-4">
                                                                            <span class="font-14 font-weight-bold"> PART A: LOCATION (to be completed by S.O. or his representative)</span>
                                                                        </div>
                                                                        <div class="col-12">
                                                                            <div class="border-top px-2 pb-1 float-left w-100">
                                                                                <div class="row pt-3">
                                                                                    <div class="form-group col-lg-7 ">
                                                                                        <div class="row">
                                                                                            <div class="col-6">
                                                                                                @Html.Label("Road Code", "Road Code")
                                                                                                @Html.DropDownList((IEnumerable<CSelectListItem>)ViewData["RD_Code"], "RoadCode", "Select Road Code", new { @id = "frmW2RoadCodeDD", @class = "form-control  validate {required, Road Code}", @onchange = "OnRoadChange(this);" }, Model.SaveFormW2Model.RoadCode)
                                                                                                @Html.HiddenFor(m => m.SaveFormW2Model.RoadCode, new { id = "frmW2RoadCode" })
                                                                                            </div>
                                                                                            <div class="col-6">
                                                                                                @Html.Label("Road Name", "Road Name")
                                                                                                @Html.TextBoxFor(m => m.SaveFormW2Model.RoadName, new { @Id = "formW2roadDesc", @readonly = "readonly", @class = "form-control validate {required, Road Name} " })
                                                                                            </div>
                                                                                        </div>

                                                                                    </div>
                                                                                    <div class="col-lg-2 p-0">
                                                                                        <label for="RoadCode" class="mb-1">
                                                                                            Chainage 'KM' Location
                                                                                        </label>
                                                                                        <div class="input-group">
                                                                                            <div class="input-group-prepend">
                                                                                                <span class="input-group-text" style="height: 35px;">CH</span>
                                                                                            </div>
                                                                                            @Html.TextBoxFor(x => x.SaveFormW2Model.Ch, new { @id = "formW2chkm", @class = "form-control allow_numeric", @maxlength = "3", @style = "height:35px" })
                                                                                        </div>

                                                                                    </div>
                                                                                    <div class="form-group col-lg-1 pt-4 px-0 text-center" style="max-width:4.33%">
                                                                                        +
                                                                                    </div>

                                                                                    <div class="form-group col-lg-2 p-0">
                                                                                        <label for="RoadCode">
                                                                                            Chainage 'M' Location
                                                                                        </label>
                                                                                        @Html.TextBoxFor(x => x.SaveFormW2Model.ChDeci, new { @id = "formW2chm", @class = "form-control  allow_numeric", @maxlength = "3" })
                                                                                    </div>
                                                                                    @*<div class="form-group col-lg-3">
                                                                                            <label for="RoadCode">
                                                                                                CH From
                                                                                            </label>
                                                                                            <div class="row">
                                                                                                <div class="col-5 pl-3 pr-0">@Html.TextBoxFor(x => x.SaveFormW2Model.ChKm, new { @id = "formW2chkm", @class = "form-control" })</div>
                                                                                                <div class="col-1 text-center pt-2"> + </div>
                                                                                                <div class="col-5 pl-1 pr-0">@Html.TextBoxFor(x => x.SaveFormW2Model.ChM, new { @id = "formW2chm", @class = "form-control" })</div>

                                                                                            </div>
                                                                                        </div>*@


                                                                                </div>
                                                                            </div>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </div>

                                                            <div class="col-lg-12">

                                                                <div class="bg-white rounded landing-division w-100 float-left mb-3 border p-3">
                                                                    <div class="row">

                                                                    </div>
                                                                </div>
                                                            </div>



                                                        </div>
                                                    </div>
                                                </div>


                                                <div class="row">
                                                    <div class="col-12">


                                                        <div class="bg-white rounded landing-division w-100 float-left mb-3 border ">
                                                            <div class="row">
                                                                <div class="col-lg-12 py-2 px-4">
                                                                    <span class="font-14 font-weight-bold">PART B: PARTICULARS OF INSTRUCTED WORK (to be completed by S.O. or his representative)</span>
                                                                </div>
                                                                <div class="col-12">
                                                                    <div class="border-top px-2 pb-1 float-left w-100">
                                                                        <div class="row pt-3">
                                                                            <div class="form-group col-lg-12 pt-3">
                                                                                @Html.Label("Title of Instructed Work:", "Title of Instructed Work:")
                                                                                @Html.TextAreaFor(m => m.SaveFormW2Model.Fw1ProjectTitle, new { @style = "height:70px", @Id = "formW2TitleOfInstructWork", @class = "form-control validate {required, Title of Instructed Work}", @disabled = true })
                                                                            </div>
                                                                            <div class="form-group col-lg-12">
                                                                                <div class="row">
                                                                                    <div class="col-lg-4">
                                                                                        <div class="row">
                                                                                            <div class="mb-2 col-lg-12">
                                                                                                @Html.Label("Date of commencement (DD-MM-YYYY)", "Date of commencement (DD-MM-YYYY)")
                                                                                                <input type="date" class="datepicker form-control  svalidate {required, Commencement date}" id="formW2CommencementDate" name="SaveFormW2Model.DateOfCommencement" value="@_CommencementDate" />
                                                                                            </div>
                                                                                            <div class="mb-2 col-lg-12">
                                                                                                @Html.Label("Date of Completion (DD-MM-YYYY)", "Date of Completion (DD-MM-YYYY)")
                                                                                                <input type="date" class="datepicker form-control  svalidate {required, Completion date}" id="formW2CompletionDate" name="SaveFormW2Model.DateOfCompletion" value="@_CompletionDate" />
                                                                                            </div>
                                                                                            <div class="mb-2 col-lg-12">
                                                                                                @Html.Label("Instructed Work duration(Months)", "Instructed Work duration(Months)")
                                                                                                @Html.TextBoxFor(m => m.SaveFormW2Model.IwDuration, new { @id = "fw2InstructWorkDuration", @type = "numeric", @class = "form-control svalidate {required, Instructed Work duration}" })
                                                                                            </div>
                                                                                        </div>
                                                                                    </div>
                                                                                    <div class="form-group col-lg-8">
                                                                                        @Html.Label("Remarks", "Remarks")
                                                                                        @Html.TextAreaFor(m => m.SaveFormW2Model.Remarks, new { @style = "height:166px", @Id = "formW2Remarks", @class = "form-control svalidate {required, Description Of NC}" })`
                                                                                    </div>
                                                                                </div>

                                                                            </div>


                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <div class="bg-white rounded landing-division w-100 float-left mb-3 border">
                                                            <div class="row">
                                                                <div class="col-lg-12 py-2 px-4">
                                                                    <span class="font-14 font-weight-bold">PART C: DETAILS OF WORK (to be completed by S.O. or his representative)</span>
                                                                </div>
                                                                <div class="col-12">

                                                                    <div class="border-top px-2 pb-1 float-left w-100">
                                                                        <div class="row">
                                                                            <div class="form-group col-lg-12">
                                                                                @Html.TextAreaFor(m => m.SaveFormW2Model.DetailsOfWorks, new { @style = "height:105px", @Id = "formW2DetailsOfWorks", @class = "form-control mt-3 validate {required, Details Of Work}" })
                                                                            </div>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="row">
                                                    <div class="col-lg-12">
                                                        <div class="bg-white rounded landing-division w-100 float-left mb-3 border">
                                                            <div class="col-lg-12 py-2 px-2">
                                                                <span class="font-14 font-weight-bold">
                                                                    PART D: CEILING ESTIMATED COST
                                                                </span>
                                                            </div>

                                                            <div class="border-top px-2 pt-3 pb-1 float-left w-100">
                                                                <div class="col-lg-4 px-0 float-left">
                                                                    @Html.Label("Estimated Cost (RM)", "Estimated Cost (RM)")
                                                                    <div class="input-group">
                                                                        <div class="input-group-prepend">
                                                                            <span class="input-group-text">RM</span>
                                                                        </div>
                                                                        @Html.TextBoxFor(Adtl => Adtl.SaveFormW2Model.EstCostAmt, new { @id = "formW2EstCost", @autocomplete = "off", @type = "text", @class = "form-control allow_numeric svalidate {required,number, Estimated Cost}" })
                                                                    </div>
                                                                </div>
                                                                <div class="clear-b mb-3"></div>
                                                                <div class="form-group col-lg-2 px-0">
                                                                    @Html.Label("Issued By", "Issued By")
                                                                    @{ var issuedByEnable = true;
                                                                        if (Model.SaveFormW2Model.UseridIssu == 0)
                                                                        {

                                                                        }
                                                                    }
                                                                    @Html.DropDownListFor(Ahdr => Ahdr.SaveFormW2Model.UseridIssu, (IEnumerable<SelectListItem>)ViewData["Users"], "Select Issued By", new { @Id = "formW2IssuedBy", @class = "form-control  svalidate {required, IssuedBy}", @disabled = @issuedByEnable })

                                                                </div>
                                                                <div class="form-group col-lg-2">
                                                                    @Html.Label("Name", "Name")
                                                                    @Html.TextBoxFor(w => w.SaveFormW2Model.UsernameIssu, new { @id = "formW2IssuedName", @class = "form-control svalidate  {required, Attention To Name}", @disabled = true })
                                                                </div>
                                                                <div class="form-group col-lg-2">
                                                                    @Html.Label("Designation", "Designation")
                                                                    @Html.TextBoxFor(w => w.SaveFormW2Model.UsernameIssu, new { @id = "formW2IssuedDesig", @class = "form-control svalidate  {required, Attention To Name}", @disabled = true })
                                                                </div>
                                                                <div class="form-group col-lg-2">
                                                                    @Html.Label("Office", "Office")
                                                                    @Html.TextBoxFor(w => w.SaveFormW2Model.UsernameIssu, new { @id = "formW2IssuedOffice", @class = "form-control svalidate  {required, Attention To Name}", @disabled = true })
                                                                </div>
                                                                <div class="form-group col-lg-2">
                                                                    @Html.Label("(DD-MM-YYYY)", "(DD-MM-YYYY)")
                                                                    <input type="date" class="datepicker form-control  svalidate {required, Issue date}" id="formW2IssuedDate" value="@_IssuedDate" disabled />
                                                                </div>
                                                                <div class="form-group col-lg-2 text-center">
                                                                    @Html.Label("Signature", "Signature")
                                                                    @{
                                                                        var _issued = Model.SaveFormW2Model.SignIssu == null || Model.SaveFormW2Model.SignIssu == false ? false : true;

                                                                    }
                                                                    <div class="clear-b mt-2">
                                                                        <input type="checkbox" id="formW2IssuedSignture" class="disableinput" checked="@_issued" style="height: 20px;">
                                                                    </div>
                                                                </div>
                                                            </div>
                                                            <div class="border-top px-2 pt-3 pb-1 float-left w-100">

                                                                <div class="form-group col-lg-2 px-0">
                                                                    @Html.Label("Requested by", "Requested by")

                                                                    @Html.DropDownListFor(Ahdr => Ahdr.SaveFormW2Model.UseridReq, (IEnumerable<SelectListItem>)ViewData["Users"], "Select Requested By", new { @Id = "formw2RequestedBy", @class = "form-control  svalidate {required, Requested By}", @onchange = "ChangeRUser(this);" })
                                                                </div>
                                                                <div class="form-group col-lg-2">
                                                                    @Html.Label("Name", "Name")
                                                                    @Html.TextBoxFor(w => w.SaveFormW2Model.UsernameReq, new { @id = "formW2RequestedName", @class = "form-control svalidate  {required, Requested by Name}", @disabled = true })
                                                                </div>
                                                                <div class="form-group col-lg-2">
                                                                    @Html.Label("Designation", "Designation")
                                                                    @Html.TextBoxFor(w => w.SaveFormW2Model.UsernameIssu, new { @id = "formW2RequestedDesig", @class = "form-control svalidate  {required, Attention To Name}", @disabled = true })
                                                                </div>
                                                                <div class="form-group col-lg-2">
                                                                    @Html.Label("Office", "Office")
                                                                    @Html.TextBoxFor(w => w.SaveFormW2Model.UsernameIssu, new { @id = "formW2RequestedOffice", @class = "form-control svalidate  {required, Attention To Name}", @disabled = true })
                                                                </div>
                                                                <div class="form-group col-lg-2">
                                                                    @Html.Label("(DD-MM-YYYY)", "(DD-MM-YYYY)")
                                                                    <input type="date" class="datepicker form-control  svalidate {required, Requested by date}" id="formW2RequestedDate" value="@_RequestedDate" disabled />
                                                                </div>
                                                                <div class="form-group col-lg-2 text-center">
                                                                    @Html.Label("Signature", "Signature")
                                                                    @{
                                                                        var _Requested = Model.SaveFormW2Model.SignReq == null || Model.SaveFormW2Model.SignReq == false ? false : true;

                                                                    }
                                                                    <div class="clear-b mt-2">
                                                                        <input type="checkbox" id="formW2RequestedSign" class="disableinput" checked="@_Requested" style="height: 20px;">
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            @Html.HiddenFor(m => m.SaveFormW2Model.PkRefNo, new { @id = "FW2HRef_No", @class = "form-control" })
                            @Html.HiddenFor(m => m.View, new { @id = "hdnView", @class = "form-control", @value = "0" })

                        </div>
                    </div>
                    <div class="tab-pane show " id="formw1">
                        <div class="p-3">
                            <div class="col-md-12">
                                <div class="row">
                                    <div class="col-12">
                                        <div class="bg-white py-2">
                                            <div class="container-fluid">
                                                <div class="row">
                                                    <div class="col-md-12">
                                                        <div class="row">
                                                            <div class="form-group col-md-2">
                                                                @Html.Label("RMU", "RMU")
                                                                @Html.TextBoxFor(x => x.FormW1.RmuCode, new { @disabled = "true", @class = "form-control" })
                                                            </div>
                                                            <div class="form-group col-lg-2">
                                                                @Html.Label("Division Code", "Division Code")
                                                                @Html.TextBoxFor(x => x.FormW1.DivnCode, new { @disabled = "true", @class = "form-control" })

                                                            </div>
                                                            <div class="form-group col-lg-2">
                                                                @Html.Label("FormH Reference No", "FormH Reference No")
                                                                @Html.TextBoxFor(x => x.FormW1.FormhRefNo, new { @disabled = "true", @class = "form-control" })
                                                            </div>
                                                            <div class="form-group col-lg-3">
                                                                @Html.Label("IW Reference No", "IW Reference No")
                                                                @Html.TextBoxFor(x => x.FormW1.IwRefNo, new { @disabled = "true", @class = "form-control" })
                                                            </div>
                                                            <div class="form-group col-lg-3">
                                                                @Html.Label("Project Title", "Project Title")
                                                                @Html.TextBoxFor(x => x.FormW1.ProjectTitle, new { @disabled = "true", @class = "form-control" })
                                                            </div>
                                                            <div class="form-group col-lg-3">
                                                                @Html.Label("TECM Date", "TECM Date")
                                                                @Html.TextBoxFor(x => x.FormW1.TecmDt, new { @disabled = "true", @class = "form-control" })
                                                            </div>
                                                            <div class="form-group col-lg-3">
                                                                @Html.Label("TECM Status", "TECM Status")
                                                                @Html.TextBoxFor(x => x.FormW1.Status, new { @disabled = "true", @class = "form-control" })
                                                            </div>
                                                            <div class="form-group col-lg-4">
                                                                @Html.Label("Service Provider's Proposal Ref", "Service Provider's Proposal Ref")
                                                                <div class="row">
                                                                    <div class="col-6 pr-0">
                                                                        @Html.TextBoxFor(x => x.FormW1.ServPropRefNo, new { @disabled = "true", @class = "form-control" })
                                                                    </div>
                                                                    <div class="col-6 pr-0">
                                                                        @*@Html.Label("Service Provider", "Service Provider")*@
                                                                        @{
                                                                            Model.SaveFormW2Model.ServProvName = string.IsNullOrEmpty(Model.SaveFormW2Model.ServProvName) ? "ENDAYA CONSTRUCTION SDN. BHD." : Model.SaveFormW2Model.ServProvName;
                                                                        }
                                                                        @Html.DropDownListFor(Ahdr => Ahdr.SaveFormW2Model.ServProvName, (IEnumerable
<SelectListItem>)ViewData["Service Provider"], "Select Service Provider", new { @class = "form-control  svalidate {required, Service Provider}", @disabled = "true" })

                                                                    </div>
                                                                </div>

                                                            </div>
                                                            <div class="form-group col-lg-2">
                                                                @Html.Label("Date", "Date")
                                                                @Html.TextBoxFor(x => x.FormW1.Dt, new { @disabled = "true", @class = "form-control" })
                                                            </div>

                                                        </div>
                                                    </div>
                                                    <div class="col-md-12">
                                                        <div class="bg-white rounded landing-division w-100 float-left mb-3 border">
                                                            <div class="col-lg-12 py-2 px-4">
                                                                <span class="font-14 font-weight-bold">
                                                                    Part A:  Name of Site/Location
                                                                </span>
                                                            </div>
                                                            <div class="border-top px-3 pt-3 pb-1 float-left w-100">
                                                                <div class="w-100 dt-tbl-section">
                                                                    <div class="form-group col-lg-4 ">
                                                                        @Html.Label("Road Code", "Road Code")
                                                                        @Html.TextBoxFor(x => x.FormW1.RoadCode, new { @disabled = "true", @class = "form-control" })
                                                                    </div>
                                                                    <div class="form-group col-lg-4">
                                                                        @Html.Label("Road Name", "Road Name")
                                                                        @Html.TextBoxFor(x => x.FormW1.RoadName, new { @disabled = "true", @class = "form-control" })
                                                                    </div>
                                                                    <div class="form-group col-lg-4">
                                                                        @Html.Label("Chainage Location", "Chainage Location")
                                                                        <div class="row">
                                                                            <div class="col-5 pl-3 pr-0">@Html.TextBoxFor(x => x.FormW1.Ch, new { @disabled = "true", @class = "form-control" })</div>
                                                                            <div class="col-1 text-center pt-2"> + </div>
                                                                            <div class="col-5 pl-1 pr-0">@Html.TextBoxFor(x => x.FormW1.ChDeci, new { @disabled = "true", @class = "form-control" })</div>
                                                                        </div>
                                                                    </div>
                                                                    @*<div class="form-group col-lg-3 pl-2 pr-2">
                                                                            <label for="RoadCode">Approved IW Ref. (to be given by S.O)</label>
                                                                            <input type="text" class="form-control" disabled value=" ">
                                                                        </div>*@
                                                                </div>


                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="col-md-12">

                                                        <div class="bg-white rounded landing-division w-100 float-left mb-3 border">
                                                            <div class="col-lg-12 py-2 px-4">
                                                                <span class="font-14 font-weight-bold">
                                                                    PART B : Details of Works
                                                                </span>
                                                            </div>
                                                            <div class="border-top px-3 pt-3 pb-1 float-left w-100">
                                                                <div class="row">
                                                                    <div class="form-group col-lg-12">
                                                                        @Html.TextAreaFor(m => m.FormW1.DetailsOfWork, new { @class = "form-control border-left border-top-0 border-left-0 border-right-0", @style = "height:105px;", @readonly = "true" })
                                                                    </div>
                                                                    <div class="form-group col-lg-6">
                                                                        @Html.Label("Proposed Design Duration", "Proposed Design Duration")
                                                                        @Html.TextBoxFor(x => x.FormW1.PropDesignDuration, new { @disabled = "true", @class = "form-control" })
                                                                    </div>
                                                                    <div class="form-group col-lg-6">
                                                                        @Html.Label("Proposed Completion of IW Period", "Proposed Completion of IW Period")
                                                                        @Html.TextBoxFor(x => x.FormW1.PropCompletionPeriod, new { @disabled = "true", @class = "form-control" })
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="col-lg-12">
                                                        <div class="bg-white rounded landing-division w-100 float-left mb-3 border">
                                                            <div class="col-lg-12 py-2 px-4">
                                                                <span class="font-14 font-weight-bold">
                                                                    PART C: COST ESTIMATE (refer to attached Bill of Quantities, Drawings and all its associated supporting documents )
                                                                </span>
                                                            </div>
                                                            <div class="border-top px-3 pt-3 pb-1 float-left w-100">
                                                                <div class="container-fluid">
                                                                    <div class="row">
                                                                        <div class="col-lg-12">
                                                                            <div class="row py-2 border-bottom">
                                                                                <div class="col-8">
                                                                                    <label class="pt-1 mb-0" for=" PhysicalWorks">
                                                                                        <b class="lh30 mb-0">  Physical Works</b>
                                                                                    </label>
                                                                                </div>
                                                                                <div class="col-4">
                                                                                    <div class="input-group">
                                                                                        <div class="input-group-prepend">
                                                                                            <span class="input-group-text">RM</span>
                                                                                        </div>
                                                                                        @Html.TextBoxFor(m => m.FormW1.PhyWorksAmt, new { @class = "form-control", @disabled = "true" })
                                                                                    </div>
                                                                                </div>
                                                                            </div>
                                                                            <div class="row py-2 border-bottom">
                                                                                <div class="col-8">
                                                                                    <label class="pt-1 mb-0" for="GeneralandPreliminaries">
                                                                                        <b class="lh30 mb-0">  General and Preliminaries</b>
                                                                                    </label>
                                                                                </div>
                                                                                <div class="col-4">
                                                                                    <div class="input-group">
                                                                                        <div class="input-group-prepend">
                                                                                            <span class="input-group-text">RM</span>
                                                                                        </div>
                                                                                        @Html.TextBoxFor(m => m.FormW1.GenPrelimsAmt, new { @class = "form-control", @disabled = "true" })
                                                                                    </div>
                                                                                </div>
                                                                            </div>
                                                                            <div class="row py-1 pt-2 border-bottom">
                                                                                <div class="col-8">
                                                                                    <label for="Consultancy Fees" class="pt-1 mb-0">
                                                                                        <b class="lh30 mb-0">
                                                                                            <span class="float-left">Consultancy Fees + Government Tax </span> <span class="float-left"><input type="number" class="form-control border-left border-top-0 border-left-0 border-right-0" placeholder="%" style="width:100px;" /> </span><span class="float-left">(If any)</span>
                                                                                        </b>
                                                                                    </label>
                                                                                </div>
                                                                                <div class="col-4">
                                                                                    <div class="input-group">
                                                                                        <div class="input-group-prepend">
                                                                                            <span class="input-group-text">RM</span>
                                                                                        </div>
                                                                                        @Html.TextBoxFor(model => model.FormW1.ConsulFeeAmt, new { @class = "form-control", @disabled = "true" })
                                                                                    </div>
                                                                                </div>
                                                                            </div>

                                                                            <div class="row py-1  pt-2 border-bottom">
                                                                                <div class="col-8">
                                                                                    <label for="Surveyworks" class="pt-1 mb-0">
                                                                                        <b class="lh30 mb-0"><span class="float-left">Survey Works + Government Tax </span> <span class="float-left"><input type="number" class="form-control border-left border-top-0 border-left-0 border-right-0" placeholder="%" style="width:100px;" /> </span><span class="float-left"> (If any)</span></b>
                                                                                    </label>
                                                                                </div>
                                                                                <div class="col-4">
                                                                                    <div class="input-group">
                                                                                        <div class="input-group-prepend">
                                                                                            <span class="input-group-text">RM</span>
                                                                                        </div>
                                                                                        @Html.TextBoxFor(model => model.FormW1.SurvyWorksAmt, new { @class = "form-control", @disabled = "true" })
                                                                                    </div>
                                                                                </div>
                                                                            </div>
                                                                            <div class="row py-1 pt-2 border-bottom">
                                                                                <div class="col-8">
                                                                                    <label for="SiteInvestigation" class="pt-1 mb-0">
                                                                                        <b class="lh30 mb-0"><span class="float-left">Site Investigation + Government Ta</span> <span class="float-left"><input type="number" class="form-control border-left border-top-0 border-left-0 border-right-0" placeholder="%" style="width:100px;" /> </span><span class="float-left">   (If any)</span></b>
                                                                                    </label>
                                                                                </div>
                                                                                <div class="col-4">
                                                                                    <div class="input-group">
                                                                                        <div class="input-group-prepend">
                                                                                            <span class="input-group-text">RM</span>
                                                                                        </div>
                                                                                        @Html.TextBoxFor(model => model.FormW1.SiteInvestAmt, new { @class = "form-control", @disabled = "true" })
                                                                                    </div>
                                                                                </div>
                                                                            </div>
                                                                            <div class="row py-2 border-bottom">
                                                                                <div class="col-8">
                                                                                    <label for="Othercost " class="pt-1 mb-0">
                                                                                        <b class="lh30 mb-0">Any other cost </b>
                                                                                    </label>
                                                                                </div>
                                                                                <div class="col-4">
                                                                                    <div class="input-group">
                                                                                        <div class="input-group-prepend">
                                                                                            <span class="input-group-text">RM</span>
                                                                                        </div>
                                                                                        @Html.TextBoxFor(model => model.FormW1.OtherCostAmt, new { @class = "form-control", @disabled = "true" })
                                                                                    </div>
                                                                                </div>
                                                                            </div>
                                                                            <div class="row py-2">
                                                                                <div class="col-8">
                                                                                    <label for="Estimatedtotalcost" class="pt-1 mb-0">
                                                                                        <b class="lh30 mb-0">
                                                                                            Estimated Total Cost
                                                                                        </b>
                                                                                    </label>
                                                                                </div>
                                                                                <div class="col-4">
                                                                                    <div class="input-group">
                                                                                        <div class="input-group-prepend">
                                                                                            <span class="input-group-text">RM</span>
                                                                                        </div>
                                                                                        @Html.TextBoxFor(model => model.FormW1.EstimTotalCostAmt, new { @class = "form-control", @disabled = "true" })
                                                                                    </div>
                                                                                </div>
                                                                            </div>
                                                                        </div>

                                                                    </div>
                                                                </div>
                                                            </div>

                                                        </div>
                                                    </div>
                                                    <div class="col-12">

                                                        <div class="row">
                                                            <div class="col-lg-4">
                                                                @Html.Label("Recommended Instructed Work", "Recommended Instructed Work")
                                                                <br />
                                                                <label class="radio-inline">
                                                                    @Html.RadioButtonFor(x => x.FormW1.RecomdType, "Critical")&nbsp;	Critical&nbsp;
                                                                </label>
                                                                <label class="radio-inline">
                                                                    @Html.RadioButtonFor(x => x.FormW1.RecomdType, "Urgent")&nbsp;	Urgent&nbsp;
                                                                </label>
                                                                <label class="radio-inline">
                                                                    @Html.RadioButtonFor(x => x.FormW1.RecomdType, "None")&nbsp;	None&nbsp;
                                                                </label>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="col-lg-12 mt-3">
                                                        <div class="row py-1">
                                                            <div class="form-group col-lg-2">
                                                                <label for="Designation">
                                                                    @Html.Label("Reported by", "Reported by")
                                                                </label>
                                                                @Html.TextBoxFor(model => model.FormW1.UseridRep, new { @class = "form-control", @disabled = "true" })
                                                            </div>
                                                            <div class="form-group col-lg-3">
                                                                <label for="Designation"> Name </label>
                                                                @Html.TextBoxFor(model => model.FormW1.UsernameRep, new { @class = "form-control", @disabled = "true" })
                                                            </div>
                                                            <div class="form-group col-lg-3 p-0">
                                                                <label for="Designation"> Designation</label>
                                                                @Html.TextBoxFor(model => model.FormW1.DesignationRep, new { @class = "form-control", @disabled = "true" })
                                                            </div>
                                                            <div class="form-group col-lg-2 pr-0">
                                                                @Html.Label("Date (DD-MM-YYYY)", "Date (DD-MM-YYYY)")
                                                                @Html.TextBoxFor(model => model.FormW1.DtRep, new { @class = "form-control", @disabled = "true" })
                                                            </div>
                                                            <div class="form-group col-lg-2 text-center">
                                                                <label>Signature</label>
                                                                <div class="clear-b mt-2">
                                                                    <input type="checkbox" disabled>
                                                                </div>

                                                            </div>
                                                        </div>
                                                        <div class="row pt-3 pb-1">
                                                            <div class="form-group col-lg-2">
                                                                @Html.Label("Requested by", "Requested by")
                                                                @Html.TextBoxFor(model => model.FormW1.UseridReq, new { @class = "form-control", @disabled = "true" })
                                                            </div>
                                                            <div class="form-group col-lg-3">
                                                                <label for="Designation"> Name </label>
                                                                @Html.TextBoxFor(model => model.FormW1.UsernameReq, new { @class = "form-control", @disabled = "true" })
                                                            </div>
                                                            <div class="form-group col-lg-3 p-0">
                                                                <label for="Designation"> Designation</label>
                                                                @Html.TextBoxFor(model => model.FormW1.DesignationReq, new { @class = "form-control", @disabled = "true" })
                                                            </div>
                                                            <div class="form-group col-lg-2 pr-0">
                                                                <label>Date (DD-MM-YYYY)</label>
                                                                @Html.TextBoxFor(model => model.FormW1.DtReq, new { @class = "form-control", @disabled = "true" })
                                                            </div>
                                                            <div class="form-group col-lg-2 text-center">
                                                                <label>Signature</label>
                                                                <div class="clear-b mt-2">
                                                                    <input type="checkbox" disabled>
                                                                </div>

                                                            </div>
                                                        </div>
                                                        <div class="row pt-3 pb-1">
                                                            <div class="form-group col-lg-2">
                                                                <label for="Designation">
                                                                    Verified By
                                                                </label>
                                                                @Html.TextBoxFor(model => model.FormW1.UseridVer, new { @class = "form-control", @disabled = "true" })
                                                            </div>
                                                            <div class="form-group col-lg-3">
                                                                <label for="Designation"> Name </label>
                                                                @Html.TextBoxFor(model => model.FormW1.UsernameVer, new { @class = "form-control", @disabled = "true" })
                                                            </div>
                                                            <div class="form-group col-lg-3 p-0">
                                                                <label for="Designation"> Designation</label>
                                                                @Html.TextBoxFor(model => model.FormW1.DesignationVer, new { @class = "form-control", @disabled = "true" })
                                                            </div>
                                                            <div class="form-group col-lg-2 pr-0">
                                                                <label>Date (DD-MM-YYYY)</label>
                                                                @Html.TextBoxFor(model => model.FormW1.DtVer, new { @class = "form-control", @disabled = "true" })
                                                            </div>
                                                            <div class="form-group col-lg-2 text-center">
                                                                <label>Signature</label>
                                                                <div class="clear-b mt-2">
                                                                    <input type="checkbox" disabled>
                                                                </div>
                                                            </div>
                                                        </div>




                                                        <div class="row d-none">
                                                            <div class="col-lg-12 p-1">
                                                                <div class="bg-white rounded landing-division w-100 float-left mb-3 border">
                                                                    <div class="col-lg-12 py-2 px-2">
                                                                        <span class="font-14 font-weight-bold">
                                                                            Critical / Urent
                                                                            @*CRITICAL / URGENT*@
                                                                        </span>
                                                                    </div>
                                                                    <div class="border-top px-2 py-2 pb-1 float-left w-100">
                                                                        The reinstatement work required is considered as CRITICAL / URGENT. I hereby recommend that the work to be carried out as Instructed Works.
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <div class="row d-none">
                                                            <div class="col-lg-12">
                                                                <div class="form-group float-left pl-2 pr-2">
                                                                    <label>Name for this Instructed Work Proposal: (to be given by S.O. / S.O.'s Rep.)</label>
                                                                    <div class="clear-b">
                                                                        <input type="checkbox">
                                                                        PROPOSED REHABILATION FOR SLOPE AT CH28+970, Q3178 JALAN MIRI MARUDI
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="tab-pane show " id="photoGallery">
                        <div id="ViewPhoto">

                        </div>
                    </div>
                </div>
                <div class="col-md-12 mb-2 float-right text-right custom-footer">
                    <button type="button" class="btn btn-sm btn-outline-theme" onclick="GoBack()">Close</button>
                    <button type="button" class="btn btn-sm btn-themebtn" id="saveFormW2Btn">Save</button>
                    <button type="button" class="btn btn-sm btn-themebtn" id="submitFormW2Btn">Submit</button>

                    <button type="button" class="btn btn-sm btn-themebtn" id="saveFCEMBtn" style="display:none" onclick="checkW2Exist()">Save</button>
                    <button type="button" class="btn btn-sm btn-themebtn" id="submitFCEMBtn" style="display:none">Submit</button>
                </div>
            </div>
        </div>
    </div>

</div>
