@inject RAMMS.Business.ServiceProvider.Interfaces.ISecurity security;
@model RAMMS.Web.UI.Models.FormW2Model;
@using RAMMS.Business.ServiceProvider;
@using System.Globalization
@{
    ViewBag.TabTitle = "Form W2 -  Initiation of Instructed Work";
    ViewData["Title"] = "Form W2 - Initiation of Instructed Work";
    Layout = null;

    var vd = Model.SaveFormW2Model.DateOfInitation;
    string _InitationDate = vd.HasValue ? vd.Value.ToString("yyyy-MM-dd") : "";

    vd = Model.SaveFormW2Model.DtCommence;
    string _CommencementDate = vd.HasValue ? vd.Value.ToString("yyyy-MM-dd") : "";

    vd = Model.SaveFormW2Model.DtCompl;
    string _CompletionDate = vd.HasValue ? vd.Value.ToString("yyyy-MM-dd") : "";

    vd = Model.SaveFormW2Model.DtIssu;
    string _IssuedDate = vd.HasValue ? vd.Value.ToString("yyyy-MM-dd") : "";

    vd = Model.SaveFormW2Model.DtReq;
    string _RequestedDate = vd.HasValue ? vd.Value.ToString("yyyy-MM-dd") : "";

    vd = Model.FormW1 != null ? Model.FormW1.Dt : null;
    string _TCEMDate = vd.HasValue ? vd.Value.ToString("yyyy-MM-dd") : "";

}

<script src="~/js/FormW2.js" type="text/javascript"></script>
<script type="text/javascript">
    $(document).ready(function () {
        process.Init("FormW2", "@Model.SaveFormW2Model.Status", @Model.SaveFormW2Model.PkRefNo);

        $('#formW2IssuedBy').val("@Model.SaveFormW2Model.UseridIssu");
        $('#formW2IssuedBy').trigger('chosen:updated');
        $("#formW2IssuedBy").trigger("change");

//        if ($("#hdnW2FormStatus").val() == "Saved"){
              $('#formw2RequestedBy').val("@Model.SaveFormW2Model.UseridReq");
              $('#formw2RequestedBy').trigger('chosen:updated');
              $("#formw2RequestedBy").trigger("change");
  //      }

    });

    $("#saveFormW2Btn").hide();
    //$("#submitFormW2Btn").hide();
    $("#divSaveRow").hide();

    $("#saveFCEMBtn").show();
    $("#submitFCEMBtn").show();

    formatCurrency($("#formW2EstCost")[0])

    $("#closeFormW2Btn").show();
</script>


<div class="row bg-white row bg-white pb-0">
    <div class="col-md-12">
        <div class="w-100 position-relative pt-2 float-left d-flex justify-content-center">
            <ul class="nav nav-tabs tabbed round">

                <li class="nav-item">
                    <a href="#divFecm" data-toggle="tab" aria-expanded="false" class="nav-link active" onclick="javascript:openFCEM()">
                        <span class="">
                            FECM
                        </span>
                    </a>
                </li>
                <li class="nav-item">
                    <a href="#page" id="lnkPage" data-toggle="tab" aria-expanded="false" class="nav-link " onclick="javascript:openW2()">
                        <span class="">
                            Form W2
                        </span>
                    </a>
                </li>


                <li class="nav-item">
                    <a href="#photoGallery" data-toggle="tab" aria-expanded="false" class="nav-link " onclick="javascript:GetImageList(@Model.FormW1.PkRefNo,'FormW2');">
                        <span class="">
                            Attachment
                        </span>
                    </a>
                </li>
                <li class="nav-item">
                    <a href="#formw1" data-toggle="tab" aria-expanded="false" class="nav-link" onclick="javascript:openW1()">
                        <span class="">
                            @Html.Label("Form W1", "Form W1")
                        </span>
                    </a>
                </li>
            </ul>
            <div class="d-flex py-2 mb-2 position-absolute" style="right: 0px;width: 43%; top:0px;">
                <div class="form-group mb-0 px-2" style="margin-top: -14px;">
                    @Html.Label("IW Ref No:", "IW Ref No:")  @Html.TextBoxFor(m => m.FormW1.IwRefNo, new { @id = "fw1IWRefNo", @disabled=true, @class = "form-control  validate {required, IW Reference No.}" })
                    @Html.HiddenFor(m => m.FormW1.PkRefNo, new { @Id = "fw1PKRefNo" })
                </div>
                <div class="form-group mb-0" style="margin-top: -14px;">
                    @Html.Label("Project Title:", "Project Title:")  @Html.TextBoxFor(m => m.SaveFormW2Model.Fw1ProjectTitle, new { @id = "fw1ProjectTitle", @class = "form-control  validate {required, Project Title }",@style="width:290px", @disabled = "true" })
                </div>
            </div>
        </div>
        <div class="row bg-white py-3">
            <div class="col-lg-12">
                <div class="tab-content mh-250">
                    <div class="tab-pane show active" id="divFecm">

                        @{
                            Html.RenderPartial("_FormFECM.cshtml", Model.FECM);
                        }
                    </div>
                    <div class="tab-pane show " id="page">
                        <div class="col-md-12" id="divPage">
                            <div class="row" id="div-addformd">
                                <div class="col-12 bg-white" style="border-top:1px solid #dee2e6;">
                                    <div class="p-4">
                                        <div class="row">
                                            <div id="accordion" class="col-lg-12">
                                                <div class="row">
                                                    <div class="col-12">
                                                        <div class="row">

                                                            <div class="form-group col-lg-4 pr-lg-0">
                                                                <div class="row">
                                                                    <div class="col-6 pr-lg-0">
                                                                        @Html.Label("Region", "Region")
                                                                        @Html.TextBoxFor(m => m.SaveFormW2Model.RegionText, new { @Id = "formW2Region", @class = "form-control  svalidate {required, Region}" })
                                                                    </div>
                                                                    <div class="col-6">
                                                                        @Html.Label("Region Name", "Region Name")
                                                                        @Html.TextBoxFor(m => m.SaveFormW2Model.RegionName, new { @Id = "formW2RegionName", @class = "form-control  svalidate {required, Region Name}" })
                                                                    </div>
                                                                </div>
                                                            </div>

                                                            <div class="form-group col-lg-4 pr-lg-0">
                                                                <div class="row">
                                                                    <div class="col-4 pr-lg-0">

                                                                        @Html.Label("Division", "Division")
                                                                        @Html.TextBoxFor(m => m.SaveFormW2Model.DivText, new { @Id = "formW2DivText", @class = "form-control  svalidate {required, Division Text}" })
                                                                    </div>
                                                                    <div class="col-4 pr-lg-0">
                                                                        <label for=""> &nbsp;  &nbsp; &nbsp;</label>
                                                                        @Html.DropDownListFor(m => m.SaveFormW2Model.DivCode, (IEnumerable<SelectListItem>)ViewData["Division"], "Select Division", new { @id = "formW2DivisionCode", @class = "form-control ", @onchange = "changeDivision(this)" })
                                                                    </div>

                                                                    <div class="col-4">
                                                                        <label for="Division_Code">Division Name</label>
                                                                        @Html.TextBoxFor(m => m.SaveFormW2Model.DivisonName, new { @Id = "formW2DivisonName", @class = "form-control  svalidate {required, Division Name}", @disabled = true })
                                                                    </div>
                                                                </div>

                                                            </div>
                                                            <div class="form-group col-lg-4 pr-lg-0">
                                                                <div class="row">

                                                                    <div class="col-4 pr-lg-0">

                                                                        @Html.Label("RMU", "RMU")
                                                                        @Html.TextBoxFor(m => m.SaveFormW2Model.RmuText, new { @Id = "formW2RmuText", @class = "form-control  validate {required, RMU Text}" })
                                                                    </div>
                                                                    <div class="col-4 pr-lg-0">
                                                                        <label for=""> &nbsp;  &nbsp; &nbsp;</label>
                                                                        @Html.DropDownListFor(m => m.SaveFormW2Model.RmuCode, (IEnumerable<CSelectListItem>)ViewData["RMU"], "Select RMU", new { @id = "formW2RMU", @class = "form-control  validate {required, RMU Code}", @onchange = "changeRMU(this)" })
                                                                    </div>
                                                                    <div class="col-4">
                                                                        @Html.Label("Name", "Name")@Html.TextBoxFor(m => m.SaveFormW2Model.RmuName, new { @Id = "formW2RMUName", @class = "form-control  validate {required, RMU Name}", @disabled = true })
                                                                    </div>

                                                                </div>
                                                            </div>

                                                            <div class="form-group col-lg-3">
                                                                @Html.Label("JKR Ref", "JKR Ref")
                                                                @Html.TextBoxFor(m => m.SaveFormW2Model.JkrRefNo, new { @Id = "fw2JkrRefNo", @class = "form-control  svalidate {required, JkrRefNo}" })
                                                            </div>
                                                            <div class="form-group col-lg-3 ">
                                                                @Html.Label("Date of Initiation (DD-MM-YYYY)", "Date of Initiation (DD-MM-YYYY)")
                                                                <input type="date" class="datepicker form-control  svalidate {required, Issue date}" id="formW2InitiationDate" name="SaveFormW2Model.DateOfInitation" value="@_InitationDate" />
                                                            </div>
                                                            <div class="form-group col-lg-6 pr-lg-0">
                                                                <div class="row">
                                                                    <div class="col-6">
                                                                        @Html.Label("Service Provider's Ref", "Service Provider's Ref")
                                                                        @Html.TextBoxFor(m => m.SaveFormW2Model.SerProvRefNo, new { @Id = "fw2SerProviderRef", @class = "form-control  svalidate {required, Service Provider's Ref}" })
                                                                    </div>
                                                                    <div class="col-6">
                                                                        @Html.Label("Service Provider", "Service Provider")
                                                                        @{
                                                                            Model.SaveFormW2Model.ServProvName = string.IsNullOrEmpty(Model.SaveFormW2Model.ServProvName) ? "ENDAYA CONSTRUCTION SDN. BHD." : Model.SaveFormW2Model.ServProvName;
                                                                        }
                                                                        @*@Html.DropDownListFor(Ahdr => Ahdr.SaveFormW2Model.ServiceProvider, (IEnumerable<SelectListItem>)ViewData["Service Provider"], "Select Service Provider", new { @Id = "formW2ServiceProvider", @class = "form-control  svalidate {required, Service Provider}", @disabled = true })*@
                                                                        @Html.TextBoxFor(Ahdr => Ahdr.SaveFormW2Model.ServProvName, new { @Id = "formW2ServiceProvider", @class = "form-control  svalidate {required, Service Provider}" })
                                                                    </div>
                                                                </div>

                                                            </div>


                                                            <div class="form-group col-lg-3 pr-lg-0">
                                                                @Html.Label("Attn", "Attn")
                                                                @Html.TextBoxFor(m => m.SaveFormW2Model.Attn, new { @id = "fw2Attn", @class = "form-control  svalidate {required, Attention}" })
                                                            </div>
                                                            <div class="form-group col-lg-3 pr-lg-0">
                                                                @Html.Label("CC", "CC")
                                                                @Html.TextBoxFor(m => m.SaveFormW2Model.Cc, new { @id = "fw2cc", @class = "form-control  svalidate {required, CC}" })
                                                            </div>


                                                            <div class="col-lg-12">
                                                                <div class="bg-white rounded landing-division w-100 float-left mb-3 border ">
                                                                    <div class="row">
                                                                        <div class="col-lg-12 py-2 px-4">
                                                                            <span class="font-14 font-weight-bold"> PART A: LOCATION (to be completed by S.O. or his representative)</span>
                                                                        </div>
                                                                        <div class="col-12">
                                                                            <div class="border-top px-2 pb-1 float-left w-100">
                                                                                <div class="row pt-3">
                                                                                    <div class="form-group col-lg-7 ">
                                                                                        <div class="row">
                                                                                            <div class="col-6">
                                                                                                @Html.Label("Road Code", "Road Code")
                                                                                                @Html.DropDownList((IEnumerable<CSelectListItem>)ViewData["RD_Code"], "RoadCode", "Select Road Code", new { @id = "frmW2RoadCodeDD", @class = "form-control  validate {required, Road Code}", @disabled= true, @onchange = "OnRoadChange(this);" }, Model.SaveFormW2Model.RoadCode)
                                                                                                @Html.HiddenFor(m => m.SaveFormW2Model.RoadCode, new { id = "frmW2RoadCode" })
                                                                                            </div>
                                                                                            <div class="col-6">
                                                                                                @Html.Label("Road Name", "Road Name")
                                                                                                @Html.TextBoxFor(m => m.SaveFormW2Model.RoadName, new { @Id = "formW2roadDesc", @readonly = "readonly", @class = "form-control validate {required, Road Name} " })
                                                                                            </div>
                                                                                        </div>

                                                                                    </div>
                                                                                    <div class="col-lg-2 p-0">
                                                                                        <label for="RoadCode" class="mb-1">
                                                                                            Chainage 'KM' Location
                                                                                        </label>
                                                                                        <div class="input-group">
                                                                                            <div class="input-group-prepend">
                                                                                                <span class="input-group-text" style="height: 35px;">CH</span>
                                                                                            </div>
                                                                                            @Html.TextBoxFor(x => x.SaveFormW2Model.Ch, new { @id = "formW2chkm", @class = "form-control allow_numeric",@disabled= true, @maxlength = "3", @style = "height:35px" })
                                                                                        </div>

                                                                                    </div>
                                                                                    <div class="form-group col-lg-1 pt-4 px-0 text-center" style="max-width:4.33%">
                                                                                        +
                                                                                    </div>

                                                                                    <div class="form-group col-lg-2 p-0">
                                                                                        <label for="RoadCode">
                                                                                            Chainage 'M' Location
                                                                                        </label>
                                                                                        @Html.TextBoxFor(x => x.SaveFormW2Model.ChDeci, new { @id = "formW2chm", @class = "form-control  allow_numeric", @disabled= true, @maxlength = "3"  })
                                                                                    </div>
                                                                                    @*<div class="form-group col-lg-3">
                                                                                        <label for="RoadCode">
                                                                                        CH From
                                                                                        </label>
                                                                                        <div class="row">
                                                                                        <div class="col-5 pl-3 pr-0">@Html.TextBoxFor(x => x.SaveFormW2Model.ChKm, new { @id = "formW2chkm", @class = "form-control" })</div>
                                                                                        <div class="col-1 text-center pt-2"> + </div>
                                                                                        <div class="col-5 pl-1 pr-0">@Html.TextBoxFor(x => x.SaveFormW2Model.ChM, new { @id = "formW2chm", @class = "form-control" })</div>

                                                                                        </div>
                                                                                        </div>*@


                                                                                </div>
                                                                            </div>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </div>


                                                        </div>
                                                    </div>
                                                </div>


                                                <div class="row">
                                                    <div class="col-12">


                                                        <div class="bg-white rounded landing-division w-100 float-left mb-3 border ">
                                                            <div class="row">
                                                                <div class="col-lg-12 py-2 px-4">
                                                                    <span class="font-14 font-weight-bold">PART B: PARTICULARS OF INSTRUCTED WORK (to be completed by S.O. or his representative)</span>
                                                                </div>
                                                                <div class="col-12">
                                                                    <div class="border-top px-2 pb-1 float-left w-100">
                                                                        <div class="row pt-3">
                                                                            <div class="form-group col-lg-12 pt-3">
                                                                                @Html.Label("Title of Instructed Work:", "Title of Instructed Work:")
                                                                                @Html.TextBoxFor(m => m.SaveFormW2Model.Fw1ProjectTitle, new {  @Id = "formW2TitleOfInstructWork", @class = "form-control validate {required, Title of Instructed Work}", @disabled = true })
                                                                            </div>
                                                                            <div class="form-group col-lg-12">
                                                                                <div class="row">
                                                                                    <div class="col-lg-4">
                                                                                        <div class="row">
                                                                                            <div class="mb-2 col-lg-12">
                                                                                                @Html.Label("Date of commencement (DD-MM-YYYY)", "Date of commencement (DD-MM-YYYY)")
                                                                                                <input type="date" class="datepicker form-control  svalidate {required, Commencement date}" id="formW2CommencementDate" name="SaveFormW2Model.DateOfCommencement" value="@_CommencementDate" />
                                                                                            </div>
                                                                                            <div class="mb-2 col-lg-12">
                                                                                                @Html.Label("Date of Completion (DD-MM-YYYY)", "Date of Completion (DD-MM-YYYY)")
                                                                                                <input type="date" class="datepicker form-control  svalidate {required, Completion date}" id="formW2CompletionDate" name="SaveFormW2Model.DateOfCompletion" value="@_CompletionDate" />
                                                                                            </div>
                                                                                            <div class="mb-2 col-lg-12">
                                                                                                @Html.Label("Instructed Work duration(Months)", "Instructed Work duration(Months)")
                                                                                                @Html.TextBoxFor(m => m.SaveFormW2Model.IwDuration, new { @id = "fw2InstructWorkDuration", @type = "text", @maxlength="5", @class = "form-control allow_numeric svalidate {required, Instructed Work duration}" })
                                                                                            </div>
                                                                                        </div>
                                                                                    </div>
                                                                                    <div class="form-group col-lg-8">
                                                                                        @Html.Label("Remarks", "Remarks")
                                                                                        @Html.TextAreaFor(m => m.SaveFormW2Model.Remarks, new { @style = "height:166px", @Id = "formW2Remarks", @class = "form-control svalidate {required, Description Of NC}" })`
                                                                                    </div>
                                                                                </div>

                                                                            </div>


                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <div class="bg-white rounded landing-division w-100 float-left mb-3 border">
                                                            <div class="row">
                                                                <div class="col-lg-12 py-2 px-4">
                                                                    <span class="font-14 font-weight-bold">PART C: DETAILS OF WORK (to be completed by S.O. or his representative)</span>
                                                                </div>
                                                                <div class="col-12">

                                                                    <div class="border-top px-2 pb-1 float-left w-100">
                                                                        <div class="row">
                                                                            <div class="form-group col-lg-12">
                                                                                @Html.TextAreaFor(m => m.SaveFormW2Model.DetailsOfWorks, new { @style = "height:105px", @Id = "formW2DetailsOfWorks", @class = "form-control mt-3 svalidate {required, Details Of Work}" })
                                                                            </div>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="row">
                                                    <div class="col-lg-12">
                                                        <div class="bg-white rounded landing-division w-100 float-left mb-3 border">
                                                            <div class="col-lg-12 py-2 px-2">
                                                                <span class="font-14 font-weight-bold">
                                                                    PART D: CEILING ESTIMATED COST
                                                                </span>
                                                            </div>

                                                            <div class="border-top px-2 pt-3 pb-1 float-left w-100">
                                                                <div class="col-lg-4 px-0 float-left">
                                                                    @Html.Label("Estimated Cost (RM)", "Estimated Cost (RM)")
                                                                    <div class="input-group">
                                                                        <div class="input-group-prepend">
                                                                            <span class="input-group-text">RM</span>
                                                                        </div>
                                                                        @Html.TextBoxFor(Adtl => Adtl.SaveFormW2Model.EstCostAmt, new { @id = "formW2EstCost", @autocomplete = "off", @type = "text", @class = "form-control allow_numeric svalidate {required, Estimated Cost}", @onchange="formatCurrency(this)" })
                                                                    </div>
                                                                </div>
                                                                <div class="clear-b mb-3"></div>
                                                                <div class="form-group col-lg-2 px-0">
                                                                    @Html.Label("Issued By", "Issued By")
                                                                    @{
                                                                        var issuedByEnable = false;
                                                                        if (Model.SaveFormW2Model.UseridIssu == 0)
                                                                        {

                                                                        }
                                                                    };
                                                                    @Html.DropDownList((IEnumerable<CSelectListItem>)ViewData["User"], "formW2IssuedBy", "Select Users", new { Id = "formW2IssuedBy",  @disabled=true, @class = "form-control   {required,  Issued by} "})

                                                                </div>
                                                                <div class="form-group col-lg-2">
                                                                    @Html.Label("Name", "Name")
                                                                    @Html.TextBoxFor(w => w.SaveFormW2Model.UsernameIssu, new { @id = "formW2IssuedName", @class = "form-control svalidate  {required,  Requested by Name}", @disabled = true })
                                                                </div>
                                                                <div class="form-group col-lg-2">
                                                                    @Html.Label("Designation", "Designation")
                                                                    @Html.TextBoxFor(w => w.SaveFormW2Model.DesignationIssu, new { @id = "formW2IssuedDesig", @class = "form-control svalidate  {required,  Requested by Designation}", @disabled = true })
                                                                </div>
                                                                <div class="form-group col-lg-2">
                                                                    @Html.Label("Office", "Office")
                                                                    @Html.TextBoxFor(w => w.SaveFormW2Model.OfficeIssu, new { @id = "formW2IssuedOffice", @class = "form-control svalidate  {required,  Requested by Office}", @disabled = true })
                                                                </div>
                                                                <div class="form-group col-lg-2">
                                                                    @Html.Label("(DD-MM-YYYY)", "(DD-MM-YYYY)")
                                                                    <input type="date" class="datepicker form-control  svalidate {required, Issue date}" id="formW2IssuedDate" value="@_IssuedDate" />
                                                                </div>
                                                                <div class="form-group col-lg-2 text-center">
                                                                    @Html.Label("Signature", "Signature")
                                                                    @{
                                                                        var _issued = Model.SaveFormW2Model.SignIssu == null || Model.SaveFormW2Model.SignIssu == false ? false : true;

                                                                    }
                                                                    <div class="clear-b mt-2">
                                                                        <input type="checkbox" id="formW2IssuedSig" class="disableinput" checked="@_issued" style="height: 20px;">
                                                                    </div>
                                                                </div>
                                                            </div>
                                                            <div class="border-top px-2 pt-3 pb-1 float-left w-100">

                                                                <div class="form-group col-lg-2 px-0">
                                                                    @Html.Label("Received by", "Received by")
                                                                    @Html.DropDownList((IEnumerable<CSelectListItem>)ViewData["User"], "formw2RequestedBy", "Select Users", new { Id = "formw2RequestedBy", @disabled=true, @class = "form-control   {required, Received by} ", @onchange = "ChangeRUser(this);"})
                                                                </div>
                                                                <div class="form-group col-lg-2">
                                                                    @Html.Label("Name", "Name")
                                                                    @Html.TextBoxFor(w => w.SaveFormW2Model.UsernameReq, new { @id = "formW2RequestedName", @class = "form-control svalidate  {required, Received by Name}", @disabled = true })
                                                                </div>
                                                                <div class="form-group col-lg-2">
                                                                    @Html.Label("Designation", "Designation")
                                                                    @Html.TextBoxFor(w => w.SaveFormW2Model.DesignationIssu, new { @id = "formW2RequestedDesig", @class = "form-control svalidate  {required, Received by Designation}", @disabled = true })
                                                                </div>
                                                                <div class="form-group col-lg-2">
                                                                    @Html.Label("Office", "Office")
                                                                    @Html.TextBoxFor(w => w.SaveFormW2Model.OfficeIssu, new { @id = "formW2RequestedOffice", @class = "form-control svalidate  {required, Received by Office }", @disabled = true })
                                                                </div>
                                                                <div class="form-group col-lg-2">
                                                                    @Html.Label("(DD-MM-YYYY)", "(DD-MM-YYYY)")
                                                                    <input type="date" class="datepicker form-control  svalidate {required, Received by date}" id="formW2RequestedDate" value="@_RequestedDate" />
                                                                </div>
                                                                <div class="form-group col-lg-2 text-center">
                                                                    @Html.Label("Signature", "Signature")
                                                                    @{
                                                                        var _Requested = Model.SaveFormW2Model.SignReq == null || Model.SaveFormW2Model.SignReq == false ? false : true;

                                                                    }
                                                                    <div class="clear-b mt-2">
                                                                        <input type="checkbox" id="formW2RequestedSign" class="disableinput" checked="@_Requested" style="height: 20px;">
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            @Html.HiddenFor(m => m.SaveFormW2Model.PkRefNo, new { @id = "FW2HRef_No"})
                            @Html.HiddenFor(m => m.FormW1.PkRefNo, new { @id="hdnPkRefNo"} )
                            @Html.HiddenFor(m => m.View, new { @id = "hdnView", @value = "0" })
                            <input id="hdnForm" type="hidden" value="FormW2" />
                            <input id="hdnW2FormStatus" type="hidden" value="@Model.SaveFormW2Model.Status" />

                            @{
                                Html.RenderPartial("~/Views/Shared/_ProcessHistory.cshtml", new RAMMS.DTO.RequestBO.ProcessDTO
            {
                Form = "FormW2",
                RefId = Model.SaveFormW2Model.PkRefNo,
                Stage = Model.SaveFormW2Model.Status
            });
                            }
                        </div>
                    </div>
                    <div class="tab-pane show " id="formw1">
                        <div class="p-3">
                            <div class="col-md-12">
                                <div class="row">
                                    <div class="col-12">
                                        <div class="bg-white py-2">

                                            <div class="container-fluid">
                                                <div class="row">
                                                    <div class="col-md-12">
                                                        <div class="row">
                                                            <div class="form-group col-md-2">
                                                                @Html.Label("RMU", "RMU")
                                                                @Html.DropDownList((IEnumerable<CSelectListItem>)ViewData["RMU"], "RMU", "Select RMU", new { id = "ddlRMU", @disabled = "true", @class = "form-control {required, RMU Code} ", @onchange = "OnRMUChange(this);" }, Model.FormW1.RmuCode)

                                                            </div>
                                                            <div class="form-group col-lg-2">
                                                                @Html.Label("Division Code", "Division Code")
                                                                @Html.TextBoxFor(m => m.FormW1.DivnCode, new { @readonly = true, @disabled = "true", @class = "form-control" })
                                                            </div>
                                                            <div class="form-group col-md-2">
                                                                @Html.Label("Section Code", "Section Code")
                                                                @Html.DropDownListFor(m => m.FormW1.SecCode, (IEnumerable<SelectListItem>)ViewBag.SectionCodeList, "Select Section Code", new { @Id = "ddlSectionCode", @disabled = "true", @class = "form-control", @onchange = "OnSectionChange(this);" })

                                                            </div>
                                                            <div class="form-group col-lg-2">
                                                                @Html.Label("Section Name", "Section Name")
                                                                <input type="text" id="SecName" disabled readonly class="form-control" />
                                                            </div>


                                                            <div class="form-group col-lg-2">
                                                                @Html.Label("FormH Reference No", "FormH Reference No")
                                                                @Html.TextBoxFor(m => m.FormW1.FormhRefNo, new { @disabled = "true", @class = "form-control" })

                                                            </div>
                                                            <div class="form-group col-lg-2">
                                                                @Html.Label("Approved IW Ref", "Approved IW Ref")
                                                                @Html.TextBoxFor(m => m.FormW1.IwRefNo, new { @disabled = "true", @class = "form-control" })

                                                            </div>
                                                            <div class="form-group col-lg-2">
                                                                @Html.Label("Project Title", "Project Title")
                                                                @Html.TextBoxFor(m => m.FormW1.ProjectTitle, new { @disabled = "true", @class = "form-control" })
                                                            </div>
                                                            <div class="form-group col-lg-2">
                                                                @Html.Label("TECM Date", "TECM Date")
                                                                @Html.EditorFor(m => m.FormW1.TecmDt, "{0:dd/MM/yyyy}", new { htmlAttributes = new { @disabled = "true", @class = "form-control", @type = "date" } })
                                                            </div>
                                                            @*<div class="form-group col-lg-3">
                                                                @Html.Label("Status", "Status")
                                                                @Html.DropDownListFor(m => m.FormW1.Status, (IEnumerable
                                                                <SelectListItem>)ViewData["TECM_Status"], "Select Satus", new { @class = "form-control svalidate {required, RMU}" })

                                                                </div>*@
                                                            <div class="form-group col-lg-2">
                                                                <div class="row mt-4">
                                                                    <div class="col-6 pt-1">
                                                                        <label class="checkbox-inline"><input id="chkBQ" class="{required,BQ}" type="checkbox" disabled value=""> BQ</label>
                                                                    </div>
                                                                    <div class="col-6 pt-1">
                                                                        <label class="checkbox-inline  "><input id="chkDrawing" class="{required,Drawing}" type="checkbox" disabled value=""> Drawing</label>
                                                                    </div>
                                                                </div>
                                                            </div>

                                                            <div class="form-group col-lg-3">
                                                                @Html.Label("Service Provider's Proposal Ref No", "Service Provider's Proposal Ref No")
                                                                @Html.TextBoxFor(m => m.FormW1.ServPropRefNo, new { @disabled = "true", @class = "form-control" })
                                                            </div>
                                                            <div class="form-group col-lg-3">
                                                                @Html.Label("Service Provider Name", "Service Provider Name")
                                                                @Html.TextBoxFor(m => m.FormW1.ServPropName, new { @class = "form-control" })
                                                                @* @Html.DropDownListFor(m => m.FormW1.ServPropName, (IEnumerable<SelectListItem>)ViewData["ServiceProviderName"], "Select ServPropName", new { @disabled = "true", @class = "form-control svalidate {required, Service Provider Name}" })*@
                                                            </div>

                                                            <div class="form-group col-lg-3">
                                                                <label>
                                                                    Intial Proposed Date
                                                                </label>
                                                                @Html.EditorFor(m => m.FormW1.InitialProposedDate, new { type = "date", htmlAttributes = new { @disabled = "true", @class = "form-control" } })
                                                            </div>
                                                            <div class="form-group col-lg-3">
                                                                <label>
                                                                    Form W1 Date
                                                                </label>
                                                                @Html.EditorFor(m => m.FormW1.Dt, new { type = "date", htmlAttributes = new { @disabled = "true", @class = "form-control" } })
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="col-md-12">
                                                        <div class="bg-white rounded landing-division w-100 float-left mb-3 border">
                                                            <div class="col-lg-12 py-2 px-4">
                                                                <span class="font-14 font-weight-bold">
                                                                    Part A:  Name of Site/Location
                                                                </span>
                                                            </div>
                                                            <div class="border-top px-3 pt-3 pb-1 float-left w-100">
                                                                <div class="w-100 dt-tbl-section">
                                                                    <div class="form-group col-lg-3">
                                                                        @Html.Label("Road Code", "Road Code")
                                                                        @Html.DropDownList((IEnumerable<CSelectListItem>)ViewData["RD_Code"], "RoadCode", "Select Road Code", new { id = "ddlRoadCode", @disabled = "true", @class = "form-control", @onchange = "OnRoadChange(this);" })

                                                                    </div>
                                                                    <div class="form-group col-lg-4">
                                                                        @Html.Label("Road Name", "Road Name")
                                                                        @Html.TextBoxFor(m => m.FormW1.RoadName, new { @disabled = "true", @readonly = true, @class = "form-control" })

                                                                    </div>
                                                                    <div class="form-group col-lg-2 p-0">

                                                                        <label for="RoadCode" class="mb-1">
                                                                            Chainage 'KM' Location
                                                                        </label>
                                                                        <div class="input-group">
                                                                            <div class="input-group-prepend">
                                                                                <span class="input-group-text" style="height: 35px;">CH</span>
                                                                            </div>
                                                                            @Html.TextBoxFor(m => m.FormW1.Ch, new { @maxlength = "6", @disabled = "true", @class = "form-control", style = "height:35px" })

                                                                        </div>
                                                                    </div>
                                                                    <div class="form-group col-lg-1 pt-4 px-0 text-center" style="max-width:4.33%">
                                                                        +
                                                                    </div>
                                                                    <div class="form-group col-lg-2 p-0">
                                                                        <label for="RoadCode">
                                                                            Chainage 'M' Location
                                                                        </label>
                                                                        @Html.TextBoxFor(m => m.FormW1.ChDeci, new { @maxlength = "3", @disabled = "true", @class = "form-control" })

                                                                    </div>

                                                                </div>


                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="col-md-12">

                                                        <div class="bg-white rounded landing-division w-100 float-left mb-3 border">
                                                            <div class="col-lg-12 py-2 px-4">
                                                                <span class="font-14 font-weight-bold">
                                                                    PART B : Details of Works
                                                                </span>
                                                            </div>
                                                            <div class="border-top px-3 pt-3 pb-1 float-left w-100">
                                                                <div class="row">
                                                                    <div class="form-group col-lg-12">
                                                                        @Html.TextAreaFor(m => m.FormW1.DetailsOfWork, new { placeholder = "Details of Works", @disabled = "true", @class = "form-control border-left border-top-0 border-left-0 border-right-0", @style = "height:105px;" })
                                                                    </div>
                                                                    <div class="form-group col-lg-3">
                                                                        @Html.Label("Proposed Design Duration (Months)", "Proposed Design Duration (Months)")
                                                                        @Html.TextBoxFor(m => m.FormW1.PropDesignDuration, new { @maxlength = "5", @disabled = "true", @class = "form-control", @onchange = "DurationChange(this,'Proposed Design Duration invalid')" })
                                                                    </div>
                                                                    <div class="form-group col-lg-3">
                                                                        @Html.Label("Proposed Completion of IW Period (Months)", "Proposed Completion of IW Period (Months)")
                                                                        @Html.TextBoxFor(m => m.FormW1.PropCompletionPeriod, new { @maxlength = "5", @disabled = "true", @class = "form-control", @onchange = "DurationChange(this,'Proposed Completion of IW Period invalid')" })
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="col-lg-12">
                                                        <div class="bg-white rounded landing-division w-100 float-left mb-3 border">
                                                            <div class="col-lg-12 py-2 px-4">
                                                                <span class="font-14 font-weight-bold">
                                                                    PART C: COST ESTIMATE (refer to attached Bill of Quantities, Drawings and all its associated supporting documents )
                                                                </span>
                                                            </div>
                                                            <div class="border-top px-3 pt-3 pb-1 float-left w-100">
                                                                <div class="container-fluid">
                                                                    <div class="row">
                                                                        <div class="col-lg-12">
                                                                            <div class="row py-2 border-bottom">
                                                                                <div class="col-8">
                                                                                    <label class="pt-1 mb-0" for=" PhysicalWorks">
                                                                                        <b class="lh30 mb-0">  Physical Works</b>
                                                                                    </label>
                                                                                </div>
                                                                                <div class="col-4">
                                                                                    <div class="input-group">
                                                                                        <div class="input-group-prepend">
                                                                                            <span class="input-group-text">RM</span>
                                                                                        </div>
                                                                                        @{
                                                                                            var phyAmt = String.Format(new CultureInfo("en-US", false), "{0:N}", Model.FormW1.PhyWorksAmt);
                                                                                        }
                                                                                        <input type="text" value="@phyAmt" disabled class="form-control text-right" />
                                                                                    </div>
                                                                                </div>
                                                                            </div>
                                                                            <div class="row py-2 border-bottom">
                                                                                <div class="col-8">
                                                                                    <label class="pt-1 mb-0" for="GeneralandPreliminaries">
                                                                                        <b class="lh30 mb-0">  General and Preliminaries</b>
                                                                                    </label>
                                                                                </div>
                                                                                <div class="col-4">
                                                                                    <div class="input-group">
                                                                                        <div class="input-group-prepend">
                                                                                            <span class="input-group-text">RM</span>
                                                                                        </div>
                                                                                        @{
                                                                                            var preAmt = String.Format(new CultureInfo("en-US", false), "{0:N}", Model.FormW1.GenPrelimsAmt);
                                                                                        }
                                                                                        <input type="text" value="@preAmt" disabled class="form-control text-right" />
                                                                                    </div>
                                                                                </div>
                                                                            </div>
                                                                            <div class="row py-1 pt-2 border-bottom">
                                                                                <div class="col-8">
                                                                                    <label for="Consultancy Fees" class="pt-1 mb-0">
                                                                                        <b class="lh30 mb-0">
                                                                                            <span class="float-left">Consultancy Fees + Government Tax </span> <span class="float-left pr-3" style="width:135px;">@Html.TextBoxFor(model => model.FormW1.ConsulTaxPercent, new { @maxlength = "5", @disabled = "true", @class = "form-control border-left border-top-0 border-left-0 border-right-0 float-left text-right", @onchange = "PercentChange(this,'ConsulTaxPercent invalid')", @style = "width:100px;" }) <b class="float-right">%</b></span><span class="float-left">(If any)</span>
                                                                                        </b>
                                                                                    </label>
                                                                                </div>
                                                                                <div class="col-4">
                                                                                    <div class="input-group">
                                                                                        <div class="input-group-prepend">
                                                                                            <span class="input-group-text">RM</span>
                                                                                        </div>
                                                                                        @{
                                                                                            var conAmt = String.Format(new CultureInfo("en-US", false), "{0:N}", Model.FormW1.ConsulFeeAmt);
                                                                                        }
                                                                                        <input type="text" value="@conAmt" disabled class="form-control text-right" />

                                                                                    </div>
                                                                                </div>
                                                                            </div>

                                                                            <div class="row py-1  pt-2 border-bottom">
                                                                                <div class="col-8">
                                                                                    <label for="Surveyworks" class="pt-1 mb-0">
                                                                                        <b class="lh30 mb-0"><span class="float-left">Survey Works + Government Tax </span> <span class="float-left pr-3" style="width:135px;"> @Html.TextBoxFor(model => model.FormW1.SurvyWorksPercent, new { @maxlength = "5", @disabled = "true", @class = "form-control  border-left border-top-0 border-left-0 border-right-0 float-left text-right", @onchange = "PercentChange(this,'Survey Works + Government Tax invalid')", @style = "width:100px;" }) <b class="float-right">%</b> </span><span class="float-left"> (If any)</span></b>
                                                                                    </label>
                                                                                </div>
                                                                                <div class="col-4">
                                                                                    <div class="input-group">
                                                                                        <div class="input-group-prepend">
                                                                                            <span class="input-group-text">RM</span>
                                                                                        </div>
                                                                                        @{
                                                                                            var surAmt = String.Format(new CultureInfo("en-US", false), "{0:N}", Model.FormW1.SurvyWorksAmt);
                                                                                        }
                                                                                        <input type="text" value="@surAmt" disabled class="form-control text-right" />
                                                                                    </div>
                                                                                </div>
                                                                            </div>
                                                                            <div class="row py-1 pt-2 border-bottom">
                                                                                <div class="col-8">
                                                                                    <label for="SiteInvestigation" class="pt-1 mb-0">
                                                                                        <b class="lh30 mb-0"><span class="float-left">Site Investigation + Government Tax</span> <span class="float-left pr-3" style="width:135px;">@Html.TextBoxFor(model => model.FormW1.SiteInvestPercent, new { @maxlength = "5", @disabled = "true", @class = "form-control border-left border-top-0 border-left-0 border-right-0 float-left text-right", @onchange = "PercentChange(this,'Site Investigation + Government Tax')", @style = "width:100px;" }) <b class="float-right">%</b> </span><span class="float-left"> (If any)</span></b>
                                                                                    </label>
                                                                                </div>
                                                                                <div class="col-4">
                                                                                    <div class="input-group">
                                                                                        <div class="input-group-prepend">
                                                                                            <span class="input-group-text">RM</span>
                                                                                        </div>
                                                                                        @{
                                                                                            var siteAmt = String.Format(new CultureInfo("en-US", false), "{0:N}", Model.FormW1.SiteInvestAmt);
                                                                                        }
                                                                                        <input type="text" value="@siteAmt" disabled class="form-control text-right" />
                                                                                    </div>
                                                                                </div>
                                                                            </div>
                                                                            <div class="row py-2 border-bottom">
                                                                                <div class="col-12">
                                                                                </div>
                                                                                <div class="col-8">
                                                                                    @Html.TextAreaFor(m => m.FormW1.OtherCostLabel, new { placeholder = "Any other cost", @disabled = "true", @class = "form-control", @style = "height:37px" })
                                                                                </div>
                                                                                <div class="col-4">
                                                                                    <div class="input-group">
                                                                                        <div class="input-group-prepend">
                                                                                            <span class="input-group-text">RM</span>
                                                                                        </div>
                                                                                        @{
                                                                                            var otherAmt = String.Format(new CultureInfo("en-US", false), "{0:N}", Model.FormW1.OtherCostAmt);
                                                                                        }
                                                                                        <input type="text" value="@otherAmt" disabled class="form-control text-right" />
                                                                                    </div>
                                                                                </div>
                                                                            </div>
                                                                            <div class="row py-2">
                                                                                <div class="col-8">
                                                                                    <label for="Estimatedtotalcost" class="pt-1 mb-0">
                                                                                        <b class="lh30 mb-0">
                                                                                            Estimated Total Cost
                                                                                        </b>
                                                                                    </label>
                                                                                </div>
                                                                                <div class="col-4">
                                                                                    <div class="input-group">
                                                                                        <div class="input-group-prepend">
                                                                                            <span class="input-group-text">RM</span>
                                                                                        </div>

                                                                                        @{
                                                                                            var estAmt = String.Format(new CultureInfo("en-US", false), "{0:N}", Model.FormW1.EstimTotalCostAmt);
                                                                                        }
                                                                                        <input type="text" value="@estAmt" disabled class="form-control text-right" />
                                                                                    </div>
                                                                                </div>
                                                                            </div>
                                                                        </div>

                                                                    </div>
                                                                </div>
                                                            </div>

                                                        </div>
                                                    </div>
                                                    <div class="col-12">

                                                        <div class="row">

                                                            <div class="col-lg-4">
                                                                <label>Recommendation</label>
                                                                <br />
                                                                <label class="radio-inline"> @Html.RadioButtonFor(x => x.FormW1.RecomdYn, true)&nbsp;Yes&nbsp;</label>
                                                                <label class="radio-inline"> @Html.RadioButtonFor(x => x.FormW1.RecomdYn, false)&nbsp;No&nbsp;</label>
                                                            </div>
                                                            <div class="col-lg-4">
                                                                @Html.Label("Recommendation by DE", "Recommendation by DE")
                                                                <br />
                                                                <label class="radio-inline"> @Html.RadioButtonFor(x => x.FormW1.RecomdBydeYn, true)&nbsp;Yes&nbsp;</label>
                                                                <label class="radio-inline"> @Html.RadioButtonFor(x => x.FormW1.RecomdBydeYn, false)&nbsp;No&nbsp;</label>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="col-lg-12 mt-3">
                                                        <div class="row py-1">
                                                            <div class="form-group col-lg-2">
                                                                <label for="Designation">
                                                                    Requested by
                                                                </label>
                                                                @Html.DropDownList((IEnumerable<CSelectListItem>)ViewData["User"], "UseridReq", "Select Users", new { Id = "ddlUseridReq", @disabled = "true", @class = "form-control", @onchange = "OnUseridReqUserChange(this); " })
                                                            </div>
                                                            <div class="form-group col-lg-2">
                                                                @Html.Label("Name", "Name")
                                                                @Html.TextBoxFor(model => model.FormW1.UsernameReq, new { @readonly = true, @disabled = "true", @class = "form-control" })

                                                            </div>
                                                            <div class="form-group col-lg-2">
                                                                <label for="Designation"> Designation</label>
                                                                @Html.TextBoxFor(model => model.FormW1.DesignationReq, new { @readonly = true, @disabled = "true", @class = "form-control" })

                                                            </div>
                                                            <div class="form-group col-lg-2">
                                                                <label for="Designation"> Office</label>
                                                                @Html.TextBoxFor(model => model.FormW1.OfficeReq, new { @readonly = true, @disabled = "true", @class = "form-control" })
                                                            </div>
                                                            <div class="form-group col-lg-2 pr-0">
                                                                @Html.Label("Date (DD-MM-YYYY)", "Date (DD-MM-YYYY)")
                                                                @Html.EditorFor(m => m.FormW1.DtReq, new { type = "date", htmlAttributes = new { @disabled = "true", @class = "form-control" } })

                                                            </div>
                                                            <div class="form-group col-lg-2 text-center">
                                                                @Html.Label("Signature", "Signature")
                                                                <div class="clear-b mt-2">
                                                                    @Html.CheckBoxFor(model => model.FormW1.SignReq, new { @disabled = "disabled" })
                                                                </div>

                                                            </div>


                                                        </div>

                                                        <div class="row pt-3 pb-1 approvesection">
                                                            <div class="col-12">
                                                                <div class="row">
                                                                    <div class="col-lg-4">
                                                                        @Html.Label("Recommonded Instructed Work", "Recommonded Instructed Work")
                                                                        <br />
                                                                        <label class="radio-inline">
                                                                            @Html.RadioButtonFor(x => x.FormW1.RecomdType, 2, new { @disabled = "true", @onclick = "RecommondedValue(this)" })&nbsp;	Critical&nbsp;
                                                                        </label>
                                                                        <label class="radio-inline">
                                                                            @Html.RadioButtonFor(x => x.FormW1.RecomdType, 1, new { @disabled = "true", @onclick = "RecommondedValue(this)" })&nbsp;	Urgent&nbsp;
                                                                        </label>
                                                                        <label class="radio-inline">
                                                                            @Html.RadioButtonFor(x => x.FormW1.RecomdType, 0, new { @disabled = "true", @onclick = "RecommondedValue(this)" })&nbsp;	None&nbsp;
                                                                        </label>
                                                                    </div>
                                                                </div>
                                                            </div>

                                                            <div class="form-group col-lg-2">
                                                                @Html.Label("Reported by", "Reported by")
                                                                @Html.DropDownList((IEnumerable<CSelectListItem>)ViewData["User"], "UseridRep", "Select Users", new { Id = "ddlUseridRep", @disabled = "true", @class = "form-control", @onchange = "OnUseridRepUserChange(this); " })

                                                            </div>
                                                            <div class="form-group col-lg-3">
                                                                @Html.Label("Name", "Name")
                                                                @Html.TextBoxFor(model => model.FormW1.UsernameRep, new { @readonly = true, @disabled = "true", @class = "form-control" })

                                                            </div>
                                                            <div class="form-group col-lg-3">
                                                                <label for="Designation"> Designation</label>
                                                                @Html.TextBoxFor(model => model.FormW1.DesignationRep, new { @readonly = true, @disabled = "true", @class = "form-control" })
                                                            </div>
                                                            <div class="form-group col-lg-2 pr-0">
                                                                @Html.Label("Date (DD-MM-YYYY)", "Date (DD-MM-YYYY)")
                                                                @Html.EditorFor(m => m.FormW1.DtRep, new { type = "date", htmlAttributes = new { @disabled = "true", @class = "form-control" } })
                                                            </div>
                                                            <div class="form-group col-lg-2 text-center">
                                                                @Html.Label("Signature", "Signature")
                                                                <div class="clear-b mt-2">
                                                                    @Html.CheckBoxFor(model => model.FormW1.SignRep, new { @disabled = "disabled" })
                                                                </div>

                                                            </div>


                                                            <div class="form-group col-lg-2">
                                                                <label for="Designation">
                                                                    Verified By
                                                                </label>
                                                                @Html.DropDownList((IEnumerable<CSelectListItem>)ViewData["User"], "UseridVer", "Select Users", new { @readonly = true, Id = "ddlUseridVer", @disabled = "disabled", @class = "form-control", @onchange = "OnVerifyUserChange(this);" })
                                                            </div>
                                                            <div class="form-group col-lg-2">
                                                                <label for="Designation"> Name </label>
                                                                @Html.TextBoxFor(model => model.FormW1.UsernameVer, new { @readonly = true, @disabled = "disabled", @class = "form-control" })
                                                            </div>

                                                            <div class="form-group col-lg-2">
                                                                <label for="Designation"> Designation</label>
                                                                @Html.TextBoxFor(model => model.FormW1.DesignationVer, new { @readonly = true, @disabled = "disabled", @class = "form-control" })
                                                            </div>

                                                            <div class="form-group col-lg-2">
                                                                <label for="Designation"> Office</label>
                                                                @Html.TextBoxFor(model => model.FormW1.OfficeVer, new { @readonly = true, @disabled = "disabled", @class = "form-control" })
                                                            </div>
                                                            <div class="form-group col-lg-2 pr-0">
                                                                <label>Date (DD-MM-YYYY)</label>
                                                                @Html.EditorFor(m => m.FormW1.DtVer, new { type = "date", htmlAttributes = new { @disabled = "disabled", @class = "form-control" } })
                                                            </div>
                                                            <div class="form-group col-lg-2 text-center">
                                                                <label>Signature</label>
                                                                <div class="clear-b mt-2">
                                                                    @Html.CheckBoxFor(model => model.FormW1.SignVer, new { @disabled = "disabled" })
                                                                </div>

                                                            </div>

                                                        </div>







                                                    </div>
                                                </div>
                                            </div>


                                        </div>
                                    </div>

                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="tab-pane show " id="photoGallery">
                        <div id="ViewPhoto">
                        </div>
                    </div>
                </div>
                <div class="col-md-12 mb-2 float-right text-right custom-footer" id="divSaveRow">
                    <button type="button" class="btn btn-sm btn-outline-theme" id="closeFormW2Btn" onclick="GoBack()">Close</button>
                    <button type="button" class="btn btn-sm btn-themebtn" id="saveFormW2Btn">Save</button>
                    @if (security.IsJKRSSuperiorOfficer && (Model.SaveFormW2Model.Status == RAMMS.Common.StatusList.FormW2Saved || Model.SaveFormW2Model.Status == RAMMS.Common.StatusList.FormW2Rejected))
                    {
                        <button type="button" class="btn btn-sm btn-themebtn" id="submitFormW2Btn">Submit</button>
                    }
                    else if ((security.IsJKRSSuperiorOfficer || security.IsRegionManager) && Model.SaveFormW2Model.Status == RAMMS.Common.StatusList.FormW2Submitted)
                    {
                        <button type="button" class="btn btn-sm btn-themebtn enblmode" onclick="process.ShowApprove('@RAMMS.Common.GroupNames.JKRSSuperiorOfficerSO', 'Received By');"> Received </button>
                    }

                </div>
            </div>
        </div>
    </div>

</div>
