@model RAMMS.Web.UI.Models.FormWCWGModel;
@inject RAMMS.Business.ServiceProvider.Interfaces.ISecurity security;
@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    ViewBag.TabTitle = "Form WC & WG";
    ViewData["Title"] = "Form WC & WG";
    Layout = null;// "~/Views/Shared/_PortalLayout.cshtml";
}
<script src="~/js/FormWCWG.js" type="text/javascript"></script>
<div class="row bg-white row bg-white pt-3 pb-0" style="border-top:1px solid #dee2e6;">
    <div class="col-md-12">
        <div class="w-100 position-relative pt-2 float-left d-flex justify-content-center">
            <ul class="nav nav-tabs tabbed round">
                @*<li class="nav-item">
                    <a href="#divFecm" data-toggle="tab" aria-expanded="false" class="nav-link active">
                        <span class="">
                            FECM
                        </span>
                    </a>
                </li>*@
                <li class="nav-item">
                    <a href="#page" data-toggle="tab" aria-expanded="false" class="nav-link active">
                        <span class="">
                            Form WC
                        </span>
                    </a>
                </li>
                <li class="nav-item">
                    <a href="#Div_wg" data-toggle="tab" aria-expanded="false" class="nav-link ">
                        <span class="">
                            Form WG
                        </span>
                    </a>
                </li>


                <li class="nav-item">
                    <a href="#AccordPagegallery" data-toggle="tab" aria-expanded="false" class="nav-link" onclick="javascript:GetImageList('@Model.FormW1.PkRefNo','FormWCWG');">
                        <span class="">
                            Attachment
                        </span>
                    </a>
                </li>

            </ul>
            <div class="d-flex py-2 position-absolute" style="right: 0px;width: 43%; top:0px;">
                <div class="form-group mb-0 px-2" style="margin-top: -14px;">
                    @Html.Label("IW Ref No:", "IW Ref No:")  @Html.TextBoxFor(m => m.FormW1.IwRefNo, new { @id = "fw1IWRefNo", @class = "form-control  validate {required, IW Reference No.}" })
                    @Html.HiddenFor(m => m.FormW1.PkRefNo, new { @Id = "fw1PKRefNo" })
                </div>
                <div class="form-group mb-0" style="margin-top: -14px;">
                    @Html.Label("Project Title:", "Project Title:")  @Html.TextBoxFor(m => m.FormW1.ProjectTitle, new { @id = "fw1ProjectTitle", @class = "form-control  validate {required, Project Title }",@style="width:290px", @disabled = "true" })
                </div>
            </div>
        </div>
        <input type="hidden" id="hdnUserId" value="@security.UserID" />
        <input type="hidden" id="hdnUsername" value="@security.UserName" />
        <input type="hidden" id="hdnPkRefNo" value="@Model.FormW1.PkRefNo"  />
        <input type="hidden" id="hdnView" value="@Model.View"  />
        <div class="row bg-white py-3">
            <div class="col-lg-12">
                <div class="tab-content mh-250">
                    <div class="tab-pane" id="Div_wg">
                        <div id="div_wgload">
                            @{
                                Html.RenderPartial("_FormWG.cshtml", Model);
                            }
                        </div>
                    </div>
                    @*<div class="tab-pane show active" id="divFecm">
                        <div class="col-12 bg-white" style="border-top:1px solid #dee2e6;">
                            <div id="div_fecmload">
                                @{
                                    Html.RenderPartial("_FormFECM.cshtml", Model.FECM);
                                }
                            </div>
                        </div>
                    </div>*@
                    <div class="tab-pane show active" id="page">
                        <div id="div_wc">
                            @{
                                Html.RenderPartial("_FormWC.cshtml", Model);
                            }
                        </div>
                    </div>
                    <div class="tab-pane show " id="AccordPagegallery">
                        <div id="ViewPhoto">

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
