@model FormW2Model
@using RAMMS.Business.ServiceProvider;
@inject RAMMS.Business.ServiceProvider.Interfaces.ISecurity security;

@{
    ViewBag.TabTitle = "IW - Instructed Work";
    ViewData["Title"] = "IW - Instructed Work";
    Layout = "~/Views/Shared/_PortalLayout.cshtml";

    var isModifyPerm = security.IsPCModify(ModuleNameList.Emergency_Response_Team) ? "" : "hidden";
    var isDeletePerm = security.IsPCDelete(ModuleNameList.Emergency_Response_Team) ? "" : "hidden";
}

<script type="text/javascript">
    $(document).ready(function ()
    {
        $('.allow_numeric').keypress(function (event) {
            var $this = $(this);

            if ((event.which != 46 || $this.val().indexOf('.') != -1) &&
                ((event.which < 48 || event.which > 57) &&
                    (event.which != 0 && event.which != 8))) {
                event.preventDefault();
            }

            var text = $(this).val();

            if ((event.which == 46) && (text.indexOf('.') == -1)) {
                setTimeout(function () {
                    if ($this.val().substring($this.val().indexOf('.')).length > 3) {
                        $this.val($this.val().substring(0, $this.val().indexOf('.') + 3));
                    }
                }, 1);
            }

            if ((text.indexOf('.') != -1) &&
                (text.substring(text.indexOf('.')).length > 3) &&
                (event.which != 0 && event.which != 8) &&
                ($(this)[0].selectionStart >= text.length - 3)) {
                event.preventDefault();
            }
        });

    });

    
        function PercentangeChange(ctrl) {
            if (parseFloat($(ctrl).val()) > 100) 
            {   
                app.ShowErrorMessage("Percentange should not be greater than 100");
                $(ctrl).val('');
            }
        }

    

</script>

<div class="row">
    <div class="body-header w-100">
        <div class="col-lg-12">
            <div class="w-100 d-flex justify-content-md-between py-2 align-items-center">
                <span class="mb-0 font-weight-bold font-20">    
                    Instructed Work
                </span>
                <nav aria-label="breadcrumb">
                    <ol class="breadcrumb breadcrumb-alt mb-0 bg-transparent">
                        <li class="breadcrumb-item">Home</li>
                        <li class="breadcrumb-item">
                            Instructed Work
                        </li>
                    </ol>
                </nav>
            </div>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-12">
        <div class="search-section">
            <div class="justify-content-center mb-1">
                <div class="search-content">
                    <div class="input-group">
                        @Html.TextBoxFor(m => m.SearchObj.SmartInputValue, new { @Id = "txtSmartSearch", @autocomplete = "off", placeholder = "Search...", @class = "form-control", @value = "", @spellcheck = "false", @readonly = "true", @onfocus = "this.removeAttribute('readonly')" })
                        <div class="input-group-append">
                            <div class="btn-group">
                                <button id="btnSearch" type="button" class="bg-theme-color js-tooltip-enabled px-2 border-0" style="line-height: 18px;"><span class="search-icon"></span></button>
                                <button id="btnAdvSearch" type="button" class="bg-theme-color js-tooltip-enabled px-3 border-0" data-toggle="collapse" data-target="#div_advsearch"><span class="filter-icon"></span></button>
                                <button id="btnClearSearch" type="button" onclick="clearHeaderSearch()" class="bg-theme-color js-tooltip-enabled px-3 border-0 rounded-right">Clear</button>
                            </div>
                        </div>
                    </div>
                </div>

                <div id="div_advsearch" class="collapse">
                    <div class="row">
                        <div class="col-lg-10 offset-lg-1">
                            <div class="bg-white rounded float-left pt-3 pb-1 px-lg-3 px-md-2 advance-search-group w-100">
                                <div class="form-group">
                                    <label for="IW_Reference">IW Reference No.</label>
                                    <input class="form-control" type="text" id="txtIWRefNo">
                                </div>
                                <div class="form-group">
                                    <label for="C_Date">Commencement Date From</label>
                                    <input class="form-control" type="date" id="txtCommenceDtFrom">
                                </div>
                                <div class="form-group">
                                    <label for="C_Date">Commencement Date To</label>
                                    <input class="form-control" type="date" id="txtCommenceDtTo">
                                </div>
                                <div class="form-group">
                                    <label for="C_Date">Project Title</label>
                                    <input class="form-control" type="text" id="txtProjectTitle">
                                </div>
                                <div class="form-group">
                                    <label for="C_Date">Status</label>
                                    @Html.DropDownList((IEnumerable<CSelectListItem>)ViewData["TECM_Status"], "txtStatus", "Select Status", new { @id = "txtStatus", @class = "form-control" })
                                </div>
                                <div class="form-group  col-lg-2">
                                    <label for="status_percentage">Status Percentage From</label>
                                    <input class="form-control allow_numeric" type="text" id="txtStPercFrom" maxlength="6" onchange="return PercentangeChange(this)">
                                </div>

                                <div class="form-group  col-lg-2">
                                    <label for="status_percentage">Status Percentage To</label>
                                    <input class="form-control allow_numeric" type="text" id="txtStPercTo" maxlength="6" onchange="return PercentangeChange(this)">
                                </div>

                                <div class="form-group  col-lg-2">
                                    @Html.Label("RMU", "RMU")
                                    @Html.DropDownList((IEnumerable<CSelectListItem>)ViewData["RMU"], "RMU", "Select RMU", new { @id = "txtRmu", @class = "form-control", @onchange = "changeRMU(this)" })
                                </div>
                                <div class="form-group col-lg-2">
                                    @Html.Label("RMU Name", "RMU Name")
                                    <input type="text" class="form-control" id="txtRmuName" disabled />
                                </div>
                                <div class="form-group col-lg-2">
                                    @Html.Label("Road Code", "Road Code")
                                    @Html.DropDownList((IEnumerable<CSelectListItem>)ViewData["RD_Code"], "RoadCode", "Select Road Code", new { @id = "txtRoadCode", @class = "form-control", @onchange = "OnRoadChange(this);" })
                                </div>
                                <div class="form-group col-lg-2">
                                    @Html.Label("Road Name", "Road Name")
                                    <input type="text" class="form-control" id="txtRoadName" disabled />
                                </div>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Main Container -->
<div class="row">
    <div class="col-12">
        <div class="text-right">
            <div class="btn-group dropbottom" id="actiondropdown">
                <button id="actionclick" type="button" class="btn btn-sm btn-themebtn dropdown-toggle font-12" data-toggle="dropdown" aria-expanded="false" onclick="checkAction('w1')">
                    PROPOSED IW
                </button>
                <div class="dropdown-menu">
                    <button type="button" class="dropdown-item editdel-btns border-bottom py-1 px-1" id="w1Add" data-toggle="modal" onclick="OpenFormW1('Add',0)">
                        <span class="add-icon"></span> Add
                    </button>
                    <button type="button" class="dropdown-item editdel-btns border-bottom py-1 px-1" id="w1Edit" data-toggle="modal" onclick="OpenFormW1('Edit',0)">
                        <span class="edit-icon"></span>Edit
                    </button>

                    <button type="button" class="dropdown-item editdel-btns border-bottom py-1 px-1" id="w1View" data-toggle="modal" onclick="OpenFormW1('View',1)">
                        <span class="view-icon"></span> View
                    </button>
                    <button type="button" class="dropdown-item editdel-btns py-1 px-1" id="w1Print" onclick="PrintFormW1()">
                        <span class="print-icon"></span> Print
                    </button>
                </div>
            </div>
            <div class="btn-group dropbottom" id="actiondropdown">
                <button id="actionclick" type="button" class="btn btn-sm btn-themebtn dropdown-toggle font-12" data-toggle="dropdown" aria-expanded="false" onclick="checkAction('w2')">
                    IW TECM & FECM
                </button>
                <div class="dropdown-menu">
                    <button type="button" class="dropdown-item editdel-btns border-bottom py-1 px-1" id="w2Add" data-toggle="modal" onclick="OpenFormW2('Add',0)">
                        <span class="add-icon"></span> Add
                    </button>
                    <button type="button" class="dropdown-item editdel-btns border-bottom py-1 px-1" id="w2Edit" data-toggle="modal" onclick="OpenFormW2('Edit',0)">
                        <span class="edit-icon"></span>   Edit
                    </button>

                    <button type="button" class="dropdown-item editdel-btns border-bottom py-1 px-1" id="w2View" data-toggle="modal" data-target="#formW2" onclick="OpenFormW2('View',1)">
                        <span class="view-icon"></span> View
                    </button>
                    <button type="button" class="dropdown-item editdel-btns py-1 px-1" id="w2Print" onclick="PrintFormW2()">
                        <span class="print-icon"></span> Print
                    </button>
                </div>
            </div>
            @*<div class="btn-group dropbottom" id="actiondropdown">
                <button id="actionclick" type="button" class="btn btn-sm btn-themebtn dropdown-toggle font-12" data-toggle="dropdown" aria-expanded="false">
                IW IN PROGRESS
                </button>
                <div class="dropdown-menu">
                <button type="button" class="dropdown-item editdel-btns border-bottom py-1 px-1">
                <span class="add-icon"></span> Add
                </button>
                <button type="button" class="dropdown-item editdel-btns border-bottom py-1 px-1">
                <span class="edit-icon"></span>   Edit
                </button>

                <button type="button" class="dropdown-item editdel-btns border-bottom py-1 px-1">
                <span class="view-icon"></span> View
                </button>
                <button type="button" class="dropdown-item editdel-btns py-1 px-1">
                <span class="print-icon"></span> Print
                </button>
                </div>
                </div>*@
            <div class="btn-group dropbottom" id="actiondropdown">
                <button id="actionclick" type="button" class="btn btn-sm btn-themebtn dropdown-toggle font-12" data-toggle="dropdown" aria-expanded="false">
                    EOT / LAD
                </button>
                <div class="dropdown-menu">
                    <button type="button" class="dropdown-item editdel-btns border-bottom py-1 px-1" onclick="">
                        <span class="add-icon"></span> Add
                    </button>
                    <button type="button" class="dropdown-item editdel-btns border-bottom py-1 px-1" onclick="">
                        <span class="edit-icon"></span>   Edit
                    </button>

                    <button type="button" class="dropdown-item editdel-btns border-bottom py-1 px-1" onclick="">
                        <span class="view-icon"></span> View
                    </button>
                    <button type="button" class="dropdown-item editdel-btns py-1 px-1">
                        <span class="print-icon"></span> Print
                        </button>
                </div>
            </div>
            <div class="btn-group dropbottom" id="actiondropdown">
                <button id="actionclick" type="button" class="btn btn-sm btn-themebtn dropdown-toggle font-12" data-toggle="dropdown" aria-expanded="false">
                    COMPLETED IW
                </button>
                <div class="dropdown-menu">
                    <button type="button" class="dropdown-item editdel-btns border-bottom py-1 px-1" onclick="">
                        <span class="add-icon"></span> Add
                    </button>
                    <button type="button" class="dropdown-item editdel-btns border-bottom py-1 px-1" onclick="">
                        <span class="edit-icon"></span>   Edit
                    </button>

                    <button type="button" class="dropdown-item editdel-btns border-bottom py-1 px-1" onclick="">
                        <span class="view-icon"></span> View
                    </button>
                    <button type="button" class="dropdown-item editdel-btns py-1 px-1">
                        <span class="print-icon"></span> Print
                        </button>
                </div>
            </div>
            <div class="panel with-nav-tabs panel-default">
                <div class="panel-heading float-right mb-2">
                </div>
                <div class="panel-body">
                    <div class="tab-content">

                        <!-- Other panes here -->
                        <div class="py-2">

                            <div class="w-100 float-left position-relative">
                                <div class="w-100 dt-tbl-section">
                                    <div class="main-container">
                                        <div>
                                            <div class="dataTables_wrapper dt-bootstrap4 no-footer">
                                                <div class="top p-1">
                                                    @*Pagination will come here*@
                                                </div>
                                                <main id="main-container" class="row">
                                                    <div class="col-lg-12">
                                                        <div class="w-100 float-left position-relative">
                                                            @*Form IW Grid*@
                                                            <div id="headerListGrid" class="w-100 dt-tbl-section">
                                                                @{
                                                                    Html.RenderPartial("_HeaderListGrid.cshtml");
                                                                }
                                                            </div>

                                                        </div>
                                                    </div>
                                                </main>

                                                <div class="bottom d-flex justify-content-md-between">
                                                    @*Data Tables Info*@

                                                </div><div class="clear"></div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>


                    </div>
                </div>
            </div>
        </div>

    </div>

</div>
<div class="modal fade" id="formW1" role="dialog">
    <div class="modal-dialog modal-dialog modal-dialog-centered modal-custom">
        <div class="modal-content mt-5">
            <div class="modal-header mt-5">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title"></h4>
            </div>
            <div class="modal-body" id="formW1Content">
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            </div>
        </div>

    </div>
</div>
<div class="modal fade" id="formW2" role="dialog">
    <div class="modal-dialog modal-dialog modal-dialog-centered modal-custom">
        <div class="modal-content mt-5">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title"></h4>
            </div>
            <div class="modal-body" id="formW2Content">
            </div>
            <div class="modal-footer">
            </div>
        </div>
    </div>
</div>
<div class="modal fade" id="formWCWG" role="dialog">
    <div class="modal-dialog modal-dialog modal-dialog-centered modal-custom">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title"></h4>
            </div>
            <div class="modal-body" id="formWCWGContent">
            </div>
            <div class="modal-footer">
            </div>
        </div>
    </div>
</div>
<div class="modal fade" id="formWDWN" role="dialog">
    <div class="modal-dialog modal-dialog modal-dialog-centered modal-custom">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title"></h4>
            </div>
            <div class="modal-body" id="formWDWNContent">
            </div>
            <div class="modal-footer">
            </div>
        </div>
    </div>
</div>
<script type="text/javascript">

    $(document).ready(function () {

        $('.allow_numeric').keypress(function (event) {
            var $this = $(this);
            if ((event.which != 46 || $this.val().indexOf('.') != -1) &&
                ((event.which < 48 || event.which > 57) &&
                    (event.which != 0 && event.which != 8))) {
                event.preventDefault();
            }

            var text = $(this).val();
            if ((event.which == 46) && (text.indexOf('.') == -1)) {
                setTimeout(function () {
                    if ($this.val().substring($this.val().indexOf('.')).length > 3) {
                        $this.val($this.val().substring(0, $this.val().indexOf('.') + 3));
                    }
                }, 1);
            }

            if ((text.indexOf('.') != -1) &&
                (text.substring(text.indexOf('.')).length > 3) &&
                (event.which != 0 && event.which != 8) &&
                ($(this)[0].selectionStart >= text.length - 3)) {
                event.preventDefault();
            }
        });

        $("#txtSmartSearch").on("keypress", function (e) {
            if (e.which == 13) {
                $("#btnSearch").click();
            }
        });

    });
    function changeRMU(obj) {
        var ctrl = $(obj);
        if (ctrl.val() != null && ctrl.val() != "") {
            var name = ctrl.find("option:selected").text();
            name = name.split('-')[1];
            $("#txtRmuName").val(name);

            $.ajax({
                url: '/InstructedWorks/GetRoadCodeByRMU',
                dataType: 'JSON',
                data: { rmu: ctrl.val() },
                type: 'Post',
                success: function (data) {
                    if (data != null) {
                        $('#txtRoadCode').empty();
                        $('#txtRoadCode')
                            .append($("<option></option>")
                                .attr("value", "")
                                .text("Select Road Code"));
                        $.each(data, function (key, value) {
                            $('#txtRoadCode')
                                .append($("<option></option>")
                                    .attr("item1", value.item1)
                                    //.attr("fromkm", value.fromKm)
                                    //.attr("fromm", value.fromM)
                                    .attr("value", value.value)
                                    .text(value.text));
                        });
                        $("#txtRoadCode").val($('#frmW2RoadCode').val());
                        $('#txtRoadCode').trigger("chosen:updated")
                        $("#txtRoadCode").trigger("change");
                    }
                },
                error: function (data) {

                    console.error(data);
                }
            });
        }
        else {
            $("#txtRmuName").val('');
        }
    }

    function OnRoadChange(tis) {
        var ctrl = $(tis);
        if (ctrl.val() != null && ctrl.val() != "") {
            $("#txtRoadName").val(ctrl.find("option:selected").attr("Item1"));
        }
        else {
            $("#txtRoadName").val('');
        }

    }

    function getGridSelectedData(){
        var table = $('#FormIWGridView').DataTable();
        var selectedIndex = table.$(".selected", { "page": "all" });
       return table.row(selectedIndex).data();
    }

    function GetFormIDByName(formName) {
        var value = -1;
        var daa = getGridSelectedData();
        if (daa == null || typeof daa == "undefined") {
            app.ShowErrorMessage("Kindly select a row to open the " + formName.toUpperCase() + " Form");
            return value;
        }

        switch (formName) {
            case "w1":
                value = daa.w1RefNo;
                break;
            case "w2":
                value = daa.w2RefNo;
                break;
            case "wc":
                value = daa.wcRefNo;
                break;
            case "w1Status":
                value = daa.w1Status;
                break;
            case "w1SubStatus":
                value = daa.w1SubStatus;
                break;
            case "w2Status":
                value = daa.w1Status;
                break;
            case "w2SubStatus":
                value = daa.w2SubStatus;
                break;
            default:
                value = daa.w1RefNo;
        }
        return value;
    }

    function OpenFormW1(mode, view) {

        var SelectedIWGridId = 0;

        if (mode == "Add") {
            url = "/InstructedWorks/AddFormW1";
        }
        else if (mode == "Edit") {

            SelectedIWGridId = GetFormIDByName("w1");
            url = "/InstructedWorks/EditFormW1?id=" + SelectedIWGridId;
        }
        else if (mode == "View") {
            SelectedIWGridId = GetFormIDByName("w1");
            url = "/InstructedWorks/EditFormW1?id=" + SelectedIWGridId + "&View=1";
        }
        InitAjaxLoading();
        $.ajax({
            url: url,
            type: 'POST',
            success: function (data) {
                $("#formW1").modal('show');
                $("#formW1Content").html(data);
                HideAjaxLoading();
            },
            error: function (data) {
                alert(data.responseText);
                HideAjaxLoading();
            }

        });
    }

    function OpenFormW2(mode, view) {

        InitAjaxLoading();
        var url = '';
        var id = "";

        if (mode == 'Add') {
            id = GetFormIDByName("w1");
            if (id > 0 && id != null) {
                url = '/InstructedWorks/AddFormW2?id=' + id;
            }

        }
        else {
            id = GetFormIDByName("w2");
            if (id > 0 && id != null)
                url = '/InstructedWorks/EditFormW2?id=' + id + (view == 1 ? '&view=1' : '');
        }

        if (url == '') {
            HideAjaxLoading();
            return;
        }

        $.ajax({
            url: url,
            type: 'POST',
            success: function (data) {
                $("#formW2").modal('show');
                $("#formW2Content").html(data);
                HideAjaxLoading();
            },
            error: function (data) {
                app.ShowErrorMessage(data.responseText);
                HideAjaxLoading();
            }

        });

        return true;
    }

    function OpenFormWDWN(mode, view) {
        var SelectedIWGridId = 0;

        if (mode == "Add") {
            url = "/InstructedWorks/OpenWDWN";
        }
        else if (mode == "Edit") {

            SelectedIWGridId = GetFormIDByName("w1");
            url = "/InstructedWorks/EditFormW1?id=" + SelectedIWGridId;
        }
        else if (mode == "View") {
            SelectedIWGridId = GetFormIDByName("w1");
            url = "/InstructedWorks/EditFormW1?id=" + SelectedIWGridId + "&View=1";
        }
        InitAjaxLoading();
        $.ajax({
            url: url,
            type: 'POST',
            success: function (data) {
                $("#formWDWN").modal('show');
                $("#formWDWNContent").html(data);
                HideAjaxLoading();
            },
            error: function (data) {
                alert(data.responseText);
                HideAjaxLoading();
            }

        });
    }

    function checkAction(form){

        var si = getGridSelectedData();
        if (form == 'w2'){

            if (si == null)
            {
                 $("#w2Add").hide();
                 $("#w2Edit").hide();
                 $("#w2View").hide();
                 $("#w2Print").hide();
                 app.ShowErrorMessage("Kindly select a row to open to Add/Edit W2 Form");
                 return;
            }
            var id = GetFormIDByName("w2");
            var w1status = GetFormIDByName("w1Status");
            var w2substatus = GetFormIDByName("w2SubStatus");
            if ((id == "-1" || id == null) &&   (w1status == "Verified"))
            {
                $("#w2Add").show();
                $("#w2Edit").hide();
                $("#w2View").hide();
                $("#w2Print").hide();
            }
            else if (id != "-1" && id != null)
            {
                if (w2substatus)
                {
                     $("#w2Add").hide();
                     $("#w2Edit").hide();
                     $("#w2View").show();
                     $("#w2Print").show();
                     return;
                }
                 $("#w2Add").hide();
                 $("#w2Edit").show();
                 $("#w2View").show();
                 $("#w2Print").show();
            }
            else {
                $("#w2Add").hide();
                 $("#w2Edit").hide();
                 $("#w2View").hide();
                 $("#w2Print").hide();
            }

        }
        else if (form == 'w1')
        {
            if (si == null)
            {
                 $("#w1Edit").hide();
                 $("#w1View").hide();
                 $("#w1Print").hide();
                 return;
            }
            var id = GetFormIDByName("w1");
            var w1status = GetFormIDByName("w1Status");
            if (id != "-1" && id != null)
            {
                if (w1status == "Verified" )
                {
                    $("#w1Edit").hide();
                    $("#w1View").show();
                    $("#w1Print").show();
                    return;
                }
            }
            $("#w1Edit").show();
            $("#w1View").show();
            $("#w1Print").show();
        }
    }

    function OpenFormWCWG(mode, view) {
        var SelectedIWGridId = 0;
        SelectedIWGridId = GetFormIDByName("w1");
        if (mode == "Add") {
            url = "/InstructedWorks/OpenWCWG?id=" + SelectedIWGridId;
        }
        else if (mode == "Edit") {
            url = "/InstructedWorks/EditFormWCWG?id=" + SelectedIWGridId;
        }
        else if (mode == "View") {
            url = "/InstructedWorks/EditFormWCWG?id=" + SelectedIWGridId + "&View=1";
        }
        InitAjaxLoading();
        $.ajax({
            url: url,
            type: 'POST',
            success: function (data) {
                $("#formWCWG").modal('show');
                $("#formWCWGContent").html(data);
                HideAjaxLoading();
            },
            error: function (data) {
                alert(data.responseText);
                HideAjaxLoading();
            }

        });
    }

    function PrintFormW1() {
        var id = GetFormIDByName("w1");
        window.location.href = '/download/PrintForm?id=' + id + "&formname=FormW1";
    }

    function PrintFormW2() {
        var id = GetFormIDByName("w2");
        window.location.href = '/download/PrintForm?id=' + id + "&formname=FormW2";
    }

    function clearHeaderSearch() {
        $("#txtSmartSearch").val('');
        $("#txtIWRefNo").val('');
        $("#txtCommenceDtFrom").val('');
        $("#txtCommenceDtTo").val('')
        $("#txtProjectTitle").val('')
        $("#txtStPercFrom").val('');
        $("#txtStPercTo").val('');
        $("#txtstatus").val("").trigger("chosen:updated");
        $("#txtRmu").val("").trigger("chosen:updated");
        $('#txtRoadCode').val("").trigger("chosen:updated");
        $("#btnSearch").click();
    }

</script>